.cell {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  align-items: center;
}

.title {
  composes: cell;

  flex: 4 0 140px;
}

.year {
  composes: cell;

  flex: 0 0 70px;
}

.tvdbId,
.imdbId {
  composes: cell;

  flex: 0 0 110px;
}
