.modalBody {
  composes: modalBody from '~Components/Modal/ModalBody.css';

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.filterInput {
  composes: input from '~Components/Form/TextInput.css';

  flex: 0 0 auto;
  margin-bottom: 20px;
}

.scroller {
  flex: 1 1 auto;
}
