.title {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 140px;
}

.year {
  composes: headerCell  from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 70px;
}

.imdbId,
.tvdbId {
  composes: headerCell  from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 110px;
}
