.name,
.implementation,
.tags {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}

.protocol,
.enable,
.priority,
.removeCompletedDownloads,
.removeFailedDownloads {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 1%;
  white-space: nowrap;
}
