.option {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 3px;
  border: 1px solid var(--borderColor);

  &:hover {
    .token {
      background-color: #ddd;
    }

    .example {
      background-color: #ccc;
    }
  }
}

.small {
  width: 490px;
}

.large {
  width: 100%;
}

.token {
  flex: 0 0 50%;
  padding: 6px;
  background-color: var(--popoverTitleBackgroundColor);
  font-family: $monoSpaceFontFamily;
}

.example {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 50%;
  padding: 6px;
  background-color: var(--popoverBodyBackgroundColor);

  .footNote {
    padding: 2px;
    color: #aaa;
  }
}

.lower {
  text-transform: lowercase;
}

.upper {
  text-transform: uppercase;
}

.isFullFilename {
  .token,
  .example {
    flex: 1 0 auto;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .option.small {
    width: 100%;
  }
}

@media only screen and (max-width: $breakpointExtraSmall) {
  .token,
  .example {
    flex: 1 0 auto;
  }
}
