<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap os="osx" dll="mediainfo" target="libmediainfo.dylib"/>
  <dllmap os="linux" dll="mediainfo" target="libmediainfo.so.0" />
  <dllmap os="freebsd" dll="mediainfo" target="libmediainfo.so.0" />
  <dllmap os="solaris" dll="mediainfo" target="libmediainfo.so.0.0.0" />
</configuration>
