<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net40" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net40" />
  <package id="Nancy" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Basic" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="0.23.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net40" />
  <package id="NLog" version="4.2.3" targetFramework="net40" />
  <package id="ValueInjecter" version="2.3.3" targetFramework="net40" />
</packages>