@import "../Shared/Styles/clickable.less";

﻿.form-group {
  .input-group {
    .checkbox {
      width         : 100px;
      margin-left   : 0px;
      display       : inline-block;
      padding-top   : 0px;
      margin-bottom : 0px;
    }

    .help-inline-checkbox {
      display        : inline-block;
      margin-top     : -20px;
      margin-bottom  : 0;
      margin-left    : 10px;
      vertical-align : middle;
    }

    .btn {
      i {
        margin-right : 0px;
        color        : inherit;
      }
    }
  }

  .btn {
    i {
      margin-right : 0px;
      color        : inherit;
    }
  }

  i {
    font-size    : 16px;
    color        : #595959;
    margin-right : 5px;
  }

  .help-inline {
    display      : inline-block;
    margin-top   : 8px;
    padding-left : 0px;

    @media (max-width: @screen-xs-max) {
      margin-left: 0px;
    }
  }
}

.text-area-help {
  display   : block;
  color     : #777777;
  font-size : 12px;
}

textarea.release-restrictions {
  width     : 100%;
  max-width : 100%;
}

.help-inline-text-area {
  margin-top: 25px !important;
}

.help-link {
  text-decoration : none !important;

  i {
    .clickable;
  }
}

h3 {
  .help-inline {
    font-size: 16px;
    padding-left: 0px;
    margin-top: -5px;
    text-transform: none;
  }
}

.form-inline {
  div {
    display : inline-block;
  }
}

.has-error {
  .help-inline {
    color: #b94a48;
    margin-left: 0px;
  }
}

.validation-error {
  i {
    text-decoration: none;
    color: #b94a48;
  }
}

// Tooltips

.help-inline-checkbox, .help-inline {
  .tooltip-inner {
    white-space : pre-wrap;
    min-width   : 200px;
  }

  .help-link ~ .tooltip {
    .tooltip-inner {
      white-space : normal;
      min-width   : 0px;
    }
  }
}
