@import "Bootstrap/mixins";
@import "Bootstrap/variables";
@import "variables";

.progress.episode-progress {
  position      : relative;
  margin-bottom : 2px;
  
  &, .progressbar-back-text, .progressbar-front-text {
    width         : 125px;
  }
    
  .progressbar-back-text, .progressbar-front-text {
    font-size   : 12px;
    font-weight : bold;
    text-align  : center;
    cursor      : default;
    line-height : 20px;
  }

  .progressbar-back-text {
    position    : absolute;
    height      : 100%;
  }

  .progressbar-front-text {
    display  : block;
    height   : 100%;
  }

  .progress-bar {
    position : absolute;
    overflow : hidden;
  }
}

.progress-bar-purple {
  #gradient > .vertical(@purple, @nzbdronePurple);
}
