<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Delete Notification</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete '{{name}}'?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger x-confirm-delete">Delete</button>
    </div>
</div>