.customFormat {
  composes: card from '~Components/Card.css';

  width: 300px;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
}

.name {
  @add-mixin truncate;

  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}

.buttons {
  flex: 0 0 auto;
}

.cloneButton {
  composes: button from '~Components/Link/IconButton.css';

  height: 36px;
}

.formats {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  pointer-events: all;
}

.tooltipLabel {
  composes: label from '~Components/Label.css';

  margin: 0;
  border: none;
}

.label {
  @add-mixin truncate;
  composes: label from '~Components/Label.css';

  max-width: 100%;
}
