.deleteButton {
  composes: button from '~Components/Link/Button.css';

  margin-right: auto;
}

.rightButtons {
  justify-content: flex-end;
  margin-right: auto;
}

.addSpecification {
  composes: customFormat from '~./CustomFormat.css';

  background-color: var(--cardAlternateBackgroundColor);
  color: var(--gray);
  text-align: center;
  font-size: 45px;
}

.center {
  display: inline-block;
  padding: 5px 20px 0;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--cardCenterBackgroundColor);
}

.customFormats {
  display: flex;
  flex-wrap: wrap;
}
