.fieldSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section {
  color: var(--inkMuted);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 11px;
  font-family: var(--defaultFontFamily);
}
