<div class="row">
    <div class="col-md-2 col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#table" class="x-table-tab no-router">Table</a></li>
            <li><a href="#files" class="x-files-tab no-router">Files</a></li>
            <li><a href="#update-files" class="x-update-files-tab no-router">Updates</a></li>
        </ul>
    </div>

    <div class="col-md-10 col-sm-10">
        <div class="tab-content">
            <div class="tab-pane" id="table"></div>
            <div class="tab-pane" id="files"></div>
            <div class="tab-pane" id="update-files"></div>
        </div>
    </div>
</div>