.enhancedSelect {
  composes: input from '~Components/Form/Input.css';

  display: flex;
  align-items: center;
}

.hasError {
  composes: hasError from '~Components/Form/Input.css';
}

.hasWarning {
  composes: hasWarning from '~Components/Form/Input.css';
}

.isDisabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.dropdownArrowContainer {
  margin-left: 12px;
}

.dropdownArrowContainerDisabled {
  composes: dropdownArrowContainer;

  color: $disabledInputColor;
}

.optionsContainer {
  z-index: $popperZIndex;
  width: auto;
}

.options {
  composes: scroller from '~Components/Scroller/Scroller.css';

  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  background-color: $white;
}

.optionsModal {
  display: flex;
  justify-content: center;
  max-width: 90%;
  max-height: 100%;
  width: 350px !important;
  height: auto !important;
}

.optionsModalBody {
  composes: modalBody from '~Components/Modal/ModalBody.css';

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}

.optionsModalScroller {
  composes: scroller from '~Components/Scroller/Scroller.css';

  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  background-color: $white;
}
