.enhancedSelect {
  composes: input from '~Components/Form/Input.css';

  display: flex;
  align-items: center;
}

.editableContainer {
  width: 100%;
}

.hasError {
  composes: hasError from '~Components/Form/Input.css';
}

.hasWarning {
  composes: hasWarning from '~Components/Form/Input.css';
}

.isDisabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.dropdownArrowContainer {
  margin-left: 12px;
}

.dropdownArrowContainerEditable {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 17px;
  width: 30%;
  height: 35px;
  text-align: right;
}

.dropdownArrowContainerDisabled {
  composes: dropdownArrowContainer;

  color: var(--disabledInputColor);
}

.optionsContainer {
  z-index: $popperZIndex;
  width: auto;
}

.options {
  composes: scroller from '~Components/Scroller/Scroller.css';

  border: 1px solid var(--inputBorderColor);
  border-radius: 4px;
  background-color: var(--inputBackgroundColor);
}

.optionsModal {
  display: flex;
  justify-content: center;
  max-width: 90%;
  max-height: 100%;
  width: 350px !important;
  height: auto !important;
}

.optionsModalBody {
  composes: modalBody from '~Components/Modal/ModalBody.css';

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}

.optionsModalScroller {
  composes: scroller from '~Components/Scroller/Scroller.css';

  border: 1px solid var(--inputBorderColor);
  border-radius: 4px;
  background-color: var(--inputBackgroundColor);
}

.loading {
  display: inline-block;
  margin: 5px -5px 5px 0;
}

.mobileCloseButtonContainer {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  border-bottom: 1px solid var(--borderColor);
}

.mobileCloseButton {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;

  &:hover {
    color: var(--modalCloseButtonHoverColor);
  }
}
