.label {
  display: flex;
  justify-content: flex-end;
  margin-right: $formLabelRightMarginWidth;
  font-weight: bold;
  line-height: 35px;
}

.hasError {
  color: $dangerColor;
}

.isAdvanced {
  color: $advancedFormLabelColor;
}

@media only screen and (max-width: $breakpointLarge) {
  .label {
    justify-content: flex-start;
  }
}

.small {
  flex: 0 0 $formLabelSmallWidth;
}

.large {
  flex: 0 0 $formLabelLargeWidth;
}
