.group {
  display: flex;
  margin-bottom: 20px;
  min-width: 0;
}

/* Sizes */

.extraSmall {
  max-width: $formGroupExtraSmallWidth;
}

.small {
  max-width: $formGroupSmallWidth;
}

.medium {
  max-width: $formGroupMediumWidth;
}

.large {
  max-width: $formGroupLargeWidth;
}

@media only screen and (max-width: $breakpointLarge) {
  .group {
    display: block;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .group {
    margin-bottom: 18px;
  }
}
