.label {
  display: flex;
  justify-content: flex-end;
  margin-right: $formLabelRightMarginWidth;
  padding-top: 8px;
  min-height: 35px;
  text-align: end;
  font-weight: bold;
}

.hasError {
  color: var(--dangerColor);
}

.isAdvanced {
  color: var(--advancedFormLabelColor);
}

@media only screen and (max-width: $breakpointLarge) {
  .label {
    justify-content: flex-start;
  }
}

.small {
  flex: 0 0 $formLabelSmallWidth;
}

.large {
  flex: 0 0 $formLabelLargeWidth;
}
