.itemContainer {
  display: flex;
  margin-bottom: 3px;
  border-bottom: 1px solid $inputBorderColor;

  &:last-child {
    margin-bottom: 0;
  }
}

.inputWrapper {
  flex: 1 0 0;
}

.buttonWrapper {
  flex: 0 0 22px;
}

.keyInput,
.valueInput {
  width: 100%;
  border: none;
}
