.itemContainer {
  display: flex;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--inputBorderColor);

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.keyInputWrapper {
  flex: 1 0 0;
}

.valueInputWrapper {
  flex: 1 0 0;
  min-width: 40px;
}

.buttonWrapper {
  flex: 0 0 22px;
}

.keyInput,
.valueInput {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--textColor);

  &::placeholder {
    color: var(--helpTextColor);
  }
}
