.selectedValue {
  composes: selectedValue from '~./EnhancedSelectInputSelectedValue.css';

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.pathContainer {
  @add-mixin truncate;
  display: flex;
  flex: 1 0 0;
}

.path {
  flex: 0 1 auto;
}

.seriesFolder {
  @add-mixin truncate;
  flex: 0 1 auto;
  color: var(--disabledColor);
}

.freeSpace {
  flex: 0 0 auto;
  margin-left: 15px;
  color: var(--gray);
  text-align: right;
  font-size: $smallFontSize;
}
