.tag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: 31px;
}

.link {
  max-width: 100%;
}

.linkWithEdit {
  max-width: calc(100% - 9px - 4px - 2px);
}

.editContainer {
  display: inline-block;
  margin-left: 4px;
  padding-left: 2px;
  border-left: 1px solid #eee;
}

.editButton {
  composes: button from '~Components/Link/IconButton.css';

  width: 9px;
}

.label {
  composes: label from '~Components/Label.css';

  max-width: 100%;
}
