.tag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 31px;
}

.editContainer {
  display: inline-block;
  margin-left: 4px;
  padding-left: 2px;
  border-left: 1px solid #eee;
}

.editButton {
  composes: button from '~Components/Link/IconButton.css';

  width: auto;
}
