.input {
  composes: input from '~./AutoSuggestInput.css';

  padding: 0;
  min-height: 35px;
  height: auto;

  &.isFocused {
    outline: 0;
    border-color: $inputFocusBorderColor;
    box-shadow: inset 0 1px 1px $inputBoxShadowColor, 0 0 8px $inputFocusBoxShadowColor;
  }
}

.internalInput {
  flex: 1 1 0%;
  margin-left: 3px;
  min-width: 20%;
  max-width: 100%;
  width: 0%;
  height: 31px;
  border: none;
}
