.input {
  composes: input from '~./AutoSuggestInput.css';

  padding: 0;
  min-height: 35px;
  height: auto;

  &.isFocused {
    outline: 0;
    border-color: var(--inputFocusBorderColor);
    box-shadow: inset 0 1px 1px var(--inputBoxShadowColor), 0 0 8px var(--inputFocusBoxShadowColor);
  }
}

.hasError {
  composes: hasError from '~Components/Form/Input.css';
}

.hasWarning {
  composes: hasWarning from '~Components/Form/Input.css';
}

.internalInput {
  flex: 1 1 0%;
  margin-left: 3px;
  min-width: 20%;
  max-width: 100%;
  width: 0%;
  height: 31px;
  border: none;
  background-color: var(--inputBackground);
  color: var(--textColor);
}
