.input {
  composes: input from 'Components/Form/Input.module.css';
}

.readOnly {
  background-color: var(--inputReadOnlyBackgroundColor);
}

.hasError {
  composes: hasError from 'Components/Form/Input.module.css';
}

.hasWarning {
  composes: hasWarning from 'Components/Form/Input.module.css';
}

.hasButton {
  composes: hasButton from 'Components/Form/Input.module.css';
}
