.input {
  composes: input from '~Components/Form/Input.css';

  flex-grow: 1;
  min-height: 160px;
  height: auto;
  resize: vertical;
  overflow-wrap: anywhere;
}

.readOnly {
  background-color: var(--inputReadOnlyBackgroundColor);
}

.hasError {
  composes: hasError from '~Components/Form/Input.css';
}

.hasWarning {
  composes: hasWarning from '~Components/Form/Input.css';
}

@media only screen and (max-width: $breakpointSmall) {
  .input {
    min-height: 140px;
    font-size: 16px;
  }
}
