<div class="indexer-item thingy" title="Click to edit">
    <div>
        <h3>{{name}}</h3>
    </div>

    <div class="settings">
        {{#if supportsRss}}
            {{#if enableRss}}
                <span class="label label-success">RSS</span>
            {{else}}
                <span class="label label-default">RSS</span>
            {{/if}}
        {{/if}}

        {{#if supportsSearch}}
            {{#if enableSearch}}
                <span class="label label-success">Search</span>
            {{else}}
                <span class="label label-default">Search</span>
            {{/if}}
        {{/if}}
    </div>
</div>
