<fieldset>
    <legend>Indexers</legend>
    <div class="row">
        <div class="col-md-12">
            <ul class="indexer-list thingies">
                <li>
                    <div class="indexer-item thingy add-card x-add-card">
                        <span class="center well">
                            <i class="icon-sonarr-add"/>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</fieldset>