.torrent {
  composes: label from 'Components/Label.css';

  border-color: $torrentColor;
  background-color: $torrentColor;
}

.usenet {
  composes: label from 'Components/Label.css';

  border-color: $usenetColor;
  background-color: $usenetColor;
}
