.quality {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 150px;
}

.protocol {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.progress {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 150px;
}

.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 55px;
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 70px;
  text-align: right;
}
