.language,
.quality {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.indexer {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  width: 80px;
}

.actions {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  width: 70px;
}
