.tether {
  z-index: 2000;
}

.button {
  composes: link from 'Components/Link/Link.css';

  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 16px;
  width: 100%;
  height: 35px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  background-color: $white;
  box-shadow: inset 0 1px 1px $inputBoxShadowColor;
}

.loading {
  display: inline-block;
}

.warningIcon {
  margin-right: 8px;
}

.existing {
  margin-left: 5px;
}

.dropdownArrowContainer {
  position: absolute;
  right: 16px;
}

.contentContainer {
  margin-top: 4px;
  padding: 0 8px;
  width: 400px;
}

.content {
  padding: 4px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  background-color: $white;
}

.searchContainer {
  display: flex;
}

.searchIconContainer {
  width: 58px;
  border: 1px solid $inputBorderColor;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #edf1f2;
  text-align: center;
  line-height: 33px;
}

.searchInput {
  composes: text from 'Components/Form/TextInput.css';

  border-radius: 0;
}
