.additionalInfo {
  flex-grow: 1;
  color: var(--inkMuted);
}

.steps {
  margin-top: 20px;
}

.step {
  display: flex;
  margin-bottom: 10px;
  font-size: var(--largeFontSize);
  line-height: 20px;
}

.stepState {
  margin-right: 8px;
}

@media only screen and (max-width: $breakpointSmall) {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';

  flex-wrap: wrap;
}
