<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Keyboard Shortcuts</h3>
    </div>
    <div class="modal-body hotkeys-modal">
        <div class="row hotkey-group">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h3>Focus Search Box</h3>
                    </div>
                    <div class="col-md-3">
                        <kbd class="hotkey">t</kbd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        Pressing 't' puts the cursor in the search box below the navigation links
                    </div>
                </div>
            </div>
        </div>
        <div class="row hotkey-group">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h3>Save Settings</h3>
                    </div>
                    <div class="col-md-3">
                        <kbd class="hotkey">ctrl + s</kbd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        Pressing ctrl + 's' saves your settings (only in settings)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
