.title {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}

.monitored {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  width: 42px;
}

.episodeNumber {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  width: 50px;
}

.language,
.audio,
.video,
.status {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  width: 100px;
}
