.title {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}

.monitored {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 42px;
}

.episodeNumber {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 65px;
}

.episodeNumberAnime {
  composes: episodeNumber;

  width: 95px;
}

.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.languages,
.audio,
.video,
.status {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.audioLanguages,
.videoDynamicRangeType,
.subtitles {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 165px;
}

.releaseGroup {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 120px;
}
