.title {
  composes: title from 'Components/DescriptionList/DescriptionListItemTitle.css';

  width: 90px;
}

.description {
  composes: title from 'Components/DescriptionList/DescriptionListItemDescription.css';

  margin-left: 110px;
}
