.links {
  margin: 0;
}

.link {
  white-space: nowrap;
}

.linkLabel {
  composes: label from '~Components/Label.css';

  cursor: pointer;
}

@media only screen and (max-width: $breakpointExtraSmall) {
  .links {
    display: flex;
    flex-flow: column wrap;
  }
}
