.season {
  margin-bottom: 20px;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background-color: $white;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
}

.seasonNumber {
  margin-right: 10px;
  margin-left: 5px;
}

.episodeCountTooltip {
  display: flex;
}

.expandButton {
  composes: link from 'Components/Link/Link.css';

  flex-grow: 1;
  margin: 0 20px;
  text-align: center;
}

.left {
  display: flex;
  align-items: center;
  flex: 0 1 300px;
}

.left,
.actions {
  padding: 15px 10px;
}

.actionsMenu {
  composes: menu from 'Components/Menu/Menu.css';

  flex: 0 0 45px;
}

.actionsMenuContent {
  composes: menuContent from 'Components/Menu/MenuContent.css';

  white-space: nowrap;
  font-size: 14px;
}

.actionMenuIcon {
  margin-right: 8px;
}

.actionButton {
  composes: button from 'Components/Link/IconButton.css';

  width: 30px;
}

.episodes {
  padding-top: 15px;
  border-top: 1px solid $borderColor;
}

.collapseButtonContainer {
  padding: 10px 15px;
  width: 100%;
  border-top: 1px solid $borderColor;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fafafa;
  text-align: center;
}

.expandButtonIcon {
  composes: actionButton;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -15px;
}

.noEpisodes {
  margin-bottom: 15px;
  text-align: center;
}

@media only screen and (max-width: $breakpointSmall) {
  .season {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  .expandButtonIcon {
    position: static;
    margin: 0;
  }
}
