.links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.link {
  white-space: nowrap;
}

.linkLabel {
  composes: label from '~Components/Label.css';

  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    cursor: pointer;
  }
}

.linkBlock {
  display: flex;
  margin: 3px;
}

@media only screen and (max-width: $breakpointExtraSmall) {
  .links {
    flex-flow: column wrap;
  }
}
