
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in*/
[Dd]ebug*/
*.lib
*.sbr
*.nzb
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult[s]
[Nn]zbs
[Bb]uild/
[Ll]ogs/
[Aa]pp_Data/
/[Pp]ackage/
#NZBDrone specific
*.db
*Web.Publish.xml
NzbDrone.Web/NzbDrone.Web.Publish.xml
*.sdf
[Bb]anners
*.orig
_rawPackage/
NzbDrone.zip
NzbDrone.sln.DotSettings.user*
config.xml
UpdateLogs/
NzbDrone.Web/MediaCover
NzbDrone.fpr
nzbdrone.log*txt
_rawPackage_service/
_NCrunch_*
_TeamCity*