# Auto detect text files and perform LF normalization
* text=auto

# Explicitly set bash scripts to have unix endings
# when checked out on windows
*.sh text eol=lf
distribution/debian/* text eol=lf
distribution/osx/Sonarr text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
