<div class="no-series">
    <div class="row">
        <div class="well col-md-12">
            <i class="icon-comment"/>
            You must be new around here, You should add some series.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="/addseries" class='btn btn-lg btn-block btn-success x-add-series'>
                <i class='icon-nd-add'></i>
                Add Series
            </a>
        </div>
    </div>
</div>
