<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="AutoMapper" version="2.2.0" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="Nancy" version="0.15.3" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.15.3" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.15.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
</packages>