<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.0" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.25" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.25" targetFramework="net40" />
  <package id="ServiceStack.ContainerAdapter.Ninject" version="1.0.4526.38581" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.26" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.25" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.27" targetFramework="net40" />
</packages>