<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="Nancy" version="0.16.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.2" targetFramework="net40" />
  <package id="NLog" version="2.0.1.2" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.3" targetFramework="net40" />
</packages>