.name,
.implementation,
.tags {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}

.protocol,
.enableRss,
.enableAutomaticSearch,
.enableInteractiveSearch,
.priority,
.seasonSearchMaximumSingleEpisodeAge {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 1%;
  white-space: nowrap;
}
