<fieldset class="advanced-setting">
    <legend>Drone Factory Options</legend>
    <div class="alert alert-warning">
        Drone Factory is deprecated and should be disabled, use Wanted->Manual Import to manually import arbitrary directories. See <a href="https://github.com/Sonarr/Sonarr/wiki/Health-Checks#drone-factory-is-deprecated">Wiki</a>.
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Drone Factory</label>

        <div class="col-sm-1 col-sm-push-8 help-inline">
            <i class="icon-sonarr-form-info" title="Optional folder to periodically scan for possible imports"/>
            <i class="icon-sonarr-form-warning" title="Do not use the folder that contains some or all of your sorted and named TV shows - doing so could cause data loss"></i>
            <i class="icon-sonarr-form-warning" title="Download client history items that are stored in the drone factory will be ignored."/>
        </div>

        <div class="col-sm-8 col-sm-pull-1">
            <input type="text" name="downloadedEpisodesFolder" class="form-control x-path" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Drone Factory Interval</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="Interval in minutes to scan the Drone Factory. Set to zero to disable."/>
            <i class="icon-sonarr-form-warning" title="Setting a high interval or disabling scanning will prevent episodes from being imported."></i>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" name="downloadedEpisodesScanInterval" class="form-control" />
        </div>
    </div>
</fieldset>