.episodeNumber {
  display: inline-flex;
  align-items: center;
}

.separator {
  font-size: 0.8em;
}

.absoluteEpisodeNumber {
  margin-left: 5px;
}

.warning {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}
