.container {
  display: flex;
  align-items: center;
}

.link {
  composes: link from '~Components/Link/Link.css';

  &:hover {
    color: var(--linkHoverColor);
    text-decoration: underline;
  }
}
