.nz-input-large {
    margin-top: 20px;
    margin-bottom: 40px;
}

    .nz-input-large input {
        height: 40px;
    }

    .nz-input-large *[class*='icon-'] {
        font-size: 28px;
        height: 30px;
        width: 40px;
        padding-top: 14px;
        padding-left: 10px;
        margin-left: 30px;
    }

.result-list {
    font-size: 18px;
    text-align: left;
}

    .result-list .well:hover {
        background-color: #fcf8e3;
        cursor: pointer;
    }


.search-item .accordion-heading *[class*='icon-'] {
    padding-right: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.result-list .result-item a {
    font-size: 20px;
}

.search-item a:hover {
    text-decoration: none;
}

.search-item a {
    color: #343434;
}


.search-item select {
    font-size: 16px;
}
