.nz-input-large {
    margin-top: 20px;
    margin-bottom: 40px;
}

    .nz-input-large input {
        height: 40px;
    }

    .nz-input-large *[class*='icon-'] {
        font-size: 30px;
        height: 30px;
        width: 40px;
        padding-top: 14px;
        padding-left: 10px;
    }

.result-list {
    font-size: 18px;
    text-align: left;

}


   
