@using NzbDrone.Core
@model Dictionary<string, ulong>
@{
    Layout = null;
}


@{
    var rootDirString = "";
    
    foreach(var rootDir in Model)
    {
        <div class="free-space" title="@rootDir.Key">
            @rootDir.Value.ToBestFileSize(1) <span>Free</span>
        </div>

        rootDirString += String.Format("{0} - {1} Free\r\n", rootDir.Key, rootDir.Value.ToBestFileSize(1));
    }
    
    <div id="free-space-small" title="@Html.Encode(rootDirString)">
        <i class="icon-hdd"></i>
    </div>
}