@{
    Layout = null;
}

<style>
    #localSeriesSlider {
        right: 150px;
    }

    .sliderContent .localSeriesLookup {
        width: 94%;
    }

    .sliderContent {
        height: 53px;
    }
</style>

<div id="localSeriesSlider" class="top-slider">
    <div class="sliderContent">
        Local Series Search
        <input class="localSeriesLookup" type="text" />
    </div>
    <div class="sliderButton">
        Search<div class="sliderImage sliderClosed"></div>
    </div>
</div>