@{
    Layout = null;
}
<style>
    #localSeriesSlider
    {
        right: 150px;
        top: 0px;
    }
    
    .sliderContent .localSeriesLookup
    {
        width: 94%;
    }
    
    .sliderContent
    {
        height: 53px;
    }
</style>
<div id="localSeriesSlider" class="top-slider">
    <div class="sliderContent">
        Local Series Search
        <input class="localSeriesLookup" type="text" />
    </div>
    <div class="sliderButton">
        Search<div class="sliderImage sliderClosed">
        </div>
    </div>
</div>
<script type="text/javascript">
    //Ctrl+Shift+F to open the slider
    $(document).bind('keydown', 'ctrl+shift+f', function () {
        $('#localSeriesSlider').children('.sliderButton').click();
    });

    //Use ESC to close the slider
    $('.localSeriesLookup').bind('keydown', 'esc', function () {
        $(this).parent('.sliderContent').slideUp();
    });
</script>
