.alert {
  display: block;
  margin: 5px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.danger {
  border-color: var(--alertDangerBorderColor);
  background-color: var(--alertDangerBackgroundColor);
  color: var(--alertDangerColor);
}

.info {
  border-color: var(--alertInfoBorderColor);
  background-color: var(--alertInfoBackgroundColor);
  color: var(--alertInfoColor);
}

.success {
  border-color: var(--alertSuccessBorderColor);
  background-color: var(--alertSuccessBackgroundColor);
  color: var(--alertSuccessColor);
}

.warning {
  border-color: var(--alertWarningBorderColor);
  background-color: var(--alertWarningBackgroundColor);
  color: var(--alertWarningColor);
}
