.danger {
  color: $dangerColor;
}

.default {
  color: inherit;
}

.disabled {
  color: $disabledColor;
}

.info {
  color: $infoColor;

  &:global(.darken) {
    color: color($infoColor shade(30%));
  }
}

.pink {
  color: $pink;

  &:global(.darken) {
    color: color($pink shade(30%));
  }
}

.success {
  color: $successColor;
}

.warning {
  color: $warningColor;
}

.purple {
  color: $purple;
}
