.icon {
  vertical-align: middle;
}

.danger {
  color: var(--dangerColor);
}

.default {
  color: inherit;
}

.disabled {
  color: var(--disabledColor);
}

.info {
  color: var(--infoColor);
}

.pink {
  color: var(--pink);
}

.success {
  color: var(--successColor);
}

.warning {
  color: var(--warningColor);
}

.primary {
  color: var(--primaryColor);
}

.purple {
  color: var(--purple);
}

@keyframes iconSpin {
  from { transform: rotate(0deg); }

  to   { transform: rotate(360deg); }
}

.spinning {
  animation: iconSpin 1s linear infinite;
}
