.danger {
  color: var(--dangerColor);
}

.default {
  color: inherit;
}

.disabled {
  color: var(--disabledColor);
}

.info {
  color: var(--infoColor);
}

.pink {
  color: var(--pink);
}

.success {
  color: var(--successColor);
}

.warning {
  color: var(--warningColor);
}

.purple {
  color: var(--purple);
}
