.container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.attribution {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  color: var(--mediumGray);
  font-size: var(--defaultFontSize);

  &:hover {
    color: var(--darkGray);
    text-decoration: none;
  }
}
