/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus { outline: none; }
*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--accent), 0 0 0 4px var(--inputFocusBoxShadowColor);
  border-radius: 6px;
}
/* stylelint-enable */

html,
body {
  color: var(--textColor);
  font-family: 'Inter', ui-sans-serif, system-ui, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 15px;
  line-height: 1.55;
}

/* Override normalize */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.55;
}

/* Better defaults for unordered lists */

ul {
  margin: 0;
  padding-left: 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  input,
  optgroup,
  select,
  textarea {
    font-size: 16px;
  }
}

/* stylelint-disable selector-max-universal, at-rule-empty-line-before */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-delay: 0ms !important;
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
    animation-delay: 0ms !important;
  }
}
/* stylelint-enable selector-max-universal, at-rule-empty-line-before */
