.protocol {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 80px;
}

.title {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
}

.sceneMapping {
  flex-shrink: 0;
}

.indexer {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 85px;
}

.quality,
.languages {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  text-align: center;
}

.languages {
  width: 100px;
}

.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 55px;
  font-weight: bold;
  cursor: default;
}

.rejected,
.download {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 50px;
}

.age,
.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}

.peers {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 75px;
}
