.row {
  display: flex;
  align-items: stretch;
}

.protocol {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  width: 80px;
}

.title {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 1 1 auto;
  min-width: 0;
}

.titleContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
}

.sceneMapping {
  flex-shrink: 0;
}

.indexer {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  width: 85px;
}

.quality,
.languages {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  text-align: center;
}

.quality {
  width: 100px;
  white-space: nowrap;
}

.languages {
  width: 100px;
}

.customFormatScore {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  width: 55px;
  font-weight: bold;
  cursor: default;
}

.rejected,
.indexerFlags {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  width: 50px;
}

.history {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  width: 75px;
}

.blocklistIconContainer {
  margin-left: 5px;
}

.age,
.size {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  white-space: nowrap;
}

.age {
  width: 70px;
}

.size {
  width: 90px;
}

.peers {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  width: 75px;
}

.download {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  flex: 0 0 auto;
  width: 80px;
}

.manualDownloadContent {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  width: 22px;
  height: 20.39px;
  vertical-align: middle;
  line-height: 20.39px;

  &:hover {
    color: var(--iconButtonHoverColor);
  }
}

.interactiveIcon {
  position: absolute;
  top: 4px;
  left: 0;
  /* width: 100%; */
  text-align: center;
}

.downloadIcon {
  position: absolute;
  top: 7px;
  left: 8px;
  /* width: 100%; */
  text-align: center;
}
