.list {
  position: relative;
  border-bottom: 1px solid var(--hairline);

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: var(--tableRowHoverBackgroundColor);
  }
}

.overlay {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px var(--modalBodyPadding);
  pointer-events: none;
  user-select: none;

  & a,
  & button {
    pointer-events: all;
  }
}

.name {
  flex: 1 1 auto;
  min-width: 0;
  color: var(--ink);
  font-weight: 500;
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.presetsMenu {
  composes: menu from '~Components/Menu/Menu.css';
}

.presetsMenuButton {
  composes: button from '~Components/Link/Button.css';

  &::after {
    margin-left: 5px;
    content: '\25BE';
  }
}

.infoLink {
  display: inline-flex;
  align-items: center;
  color: var(--inkFaint);

  &:hover {
    color: var(--ink);
  }
}
