.deleteButton {
  composes: button from '~Components/Link/Button.css';

  margin-right: auto;
}

.labelIcon {
  margin-left: 8px;
}

.message {
  composes: alert from '~Components/Alert.css';

  margin-bottom: 30px;
}
