.buttonContainer {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.button {
  composes: button from '~Components/Link/Button.css';

  width: 300px;
}

.buttonIcon {
  margin-right: 5px;
}

.manualSearchContainer {
  padding: 20px 40px;
}

.manualSearchHelp {
  margin-top: 10px;
  font-size: 13px;
  color: var(--helpTextColor);
}
