.title {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}

.quality {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  text-align: center;
}

.rejected,
.download {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  width: 50px;
}

.age,
.size {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}
