.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.languages,
.quality {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.customFormats {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 175px;
}

.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 65px;
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 55px;
}
