.infoTitle {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.overview {
  margin-top: 20px;
}

.files {
  overflow-x: auto;
  margin-top: 20px;
}

.filesHeader {
  display: flex;
  font-weight: bold;
}

.filesHeader {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--borderColor);
}

.fileRow {
  display: flex;
}

.path {
  flex: 1 0 1px;
  white-space: nowrap !important;
}

.size,
.quality {
  flex: 0 0 125px;
}

.actions {
  flex: 0 0 40px;
  text-align: center;
}

@media only screen and (max-width: $breakpointMedium) {
  .size,
  .quality {
    flex: 0 0 80px;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .files {
    overflow-y: hidden;
    min-width: 100%;
    width: 100%;
  }
}
