<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="ColoredConsole" name="consoleLogger" layout="[${level}] ${logger}: ${message} ${onexception:inner=${newline}${newline}${exception:format=ToString}${newline}}"/>
    <target xsi:type="NLogViewer" name="udpTarget" address="udp://127.0.0.1:20480" includeCallSite="true" includeSourceInfo="true" includeNLogData="true" includeNdc="true">
      <parameter>
        <name>Exception</name>
        <layout>${exception:format=ToString}</layout>
      </parameter>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="consoleLogger"/>
    <logger name="*" minlevel="Trace" writeTo="udpTarget"/>
  </rules>
</nlog>