<div class="no-series">
    <div class="row">
        <div class="well col-md-12">
            <i class="icon-sonarr-comment"/>
            You must be new around here, You should add some movies.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="/addmovie" class='btn btn-lg btn-block btn-success x-add-movies'>
                <i class='icon-sonarr-add'></i>
                Add Movies
            </a>
        </div>
    </div>
</div>
