<div class="row">
    <div class="movie-legend legend col-xs-6 col-sm-4">
        <ul class='legend-labels'>
            <li><span class="progress-bar-success"></span>Downloaded movie</li>
            <li><span class="progress-bar-danger"></span>Missing movie (Movie monitored)</li>
            <li><span class="progress-bar-warning"></span>Missing movie (Movie not monitored)</li>
        </ul>
    </div>
</div>
