<div class="toolbars">
    <div id="x-toolbar"></div>
    <div id="x-toolbar2"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="x-movies" class="table-responsive"></div>
    </div>
</div>

<div id="x-movies-footer"></div>