@import "../shared/Styles/card.less";
@import "../shared/Styles/clickable.less";

.result-list {

  font-size: 14px;
  text-align: left;
  padding-bottom: 30px;
}

.existing-root-folder-view {
  h1 {
    padding: 10px 0 20px 0;
  }
}

.add-series-import-btn {
  margin: 0px 40px;
  width: 1080px;
}

.add-series-search {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;

  *[class*='icon-'] {
    font-size: 28px;
    height: 30px;
    width: 40px;
    padding-top: 14px;
  }
  input {
    height: 50px;
  }

}

.folder-name-matches {
  padding-left: 20px;
  padding-top: 10px;
}

.img-polaroid {
  min-width: 138px;
  min-height: 203px;
  max-width: 138px;
  max-height: 203px;
}

.unmapped-folder-view {
  .card;
  margin-top: 20px;
  padding: 20px;
  .folder-header {
    font-weight: 300;
    select {
      margin-bottom: 0;
      font-size: 16px;
    }
    input {
      margin-bottom: 0;
    }
  }
}

.search-item {

  padding-bottom: 20px;
  a {
    color: #343434;
  }
  a:hover {
    text-decoration: none;
  }
  select {
    font-size: 16px;
  }
}

.search-item-new {
  .card;
}

.new-series-overview {
  text-overflow: ellipsis;
  white-space: pre-line;
  overflow: hidden;
  height: 125px;
}

.new-series-add {
  margin-left: 20px;
}

.new-series-loadmore {
  .clickable;
  font-size: 30px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}
