.nz-input-large {
    margin-top: 20px;
    margin-bottom: 40px;
}

.nz-input-large input {
    height: 50px;
}

.nz-input-large *[class*='icon-'] {
    font-size: 28px;
    height: 30px;
    width: 40px;
    padding-top: 14px;
    padding-left: 10px;
}

.result-list {
    font-size: 14px;
    text-align: left;
    padding-bottom: 30px;
}

.search-item {
    padding-bottom: 20px;
}

.search-item a:hover {
    text-decoration: none;
}

.search-item a {
    color: #343434;
}

.search-item select {
    font-size: 16px;
}

/*Existing*/
.unmapped-folder-view {
    background: #fcf8e3;
    margin-top: 20px;
    padding: 20px;
}

.unmapped-folder-view .folder-header {
    font-weight: 300;
}

.unmapped-folder-view .folder-header input {
    margin-bottom: 0;
}

.unmapped-folder-view .folder-header select {
    margin-bottom: 0;
    font-size: 16px;
}

.existing-root-folder-view h1 {
    padding: 10px 0 20px 0;
}

.folder-name-matches {
    padding-left: 20px;
    padding-top: 10px;
}

.img-polaroid {
    min-width: 138px;
    min-height: 203px;
}