.interval {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 150px;
}

.lastExecution,
.lastDuration,
.nextExecution {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 180px;
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 20px;
}
