.actionButton
{
    margin: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: #cccccc;
    display: inline-block;
    font-size: 15px;
}

.actionButton img
{
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.delete
{
}
