.gridImage , .gridAction
{
    width: 18px;
    height: 18px;
    padding: 3px 1px;
    margin: 0px;
    vertical-align: middle;
    border: none;
}
    
.gridAction:hover
{
    cursor: pointer;
}

/* Custom Grid */
.seriesTable
{
    width: 100%;
    border-style: none;
    border-collapse: collapse;
}
    
.seriesTable th
{
    font-family: "Segoe UI Light" , "Open Sans" , "Segoe UI" , sans-serif;
    font-size: 17px;
    padding: 2px;
    border-style: none;
    padding-left: 7px;
    text-align: left;
    background-color: white;
    font-weight: lighter;
}
    
.seriesTable td
{
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 1px;
    padding: 0px 8px 0px 8px;
}

.title-row td
{
    font-family: "Segoe UI Light" , "Open Sans" , "Segoe UI" , sans-serif;
    font-size: 20px;
    background-color: #F1EDED;
    font-weight: lighter;
    color: #3C3C3C;   
}

.detail-row
{
    display: none;
}
    
/* Colour alternating rows */
.seriesTable .alt-row
{
    background: #f0f5ff;
}

/* Episode Grid Row Colouring */
.episodeIgnored
{
      background: rgb(229, 228, 228);
        opacity: 0.7;
}
    
    
    
.episodeMissing
{
    background-color: #f5d6d6;
}

/*Hidden Grid to prevent FOUSC*/
.hidden-grid {
    display: none;
}

.grid-container {
    overflow: hidden;
}