.gridImage, .gridAction, .grid-icon
{
    width: 17px;
    /*height: 18px;
    margin: 0px;*/
    padding: 3px 1px;
    vertical-align: middle;
    border: none;
    display: inline-block !important;
    text-decoration: none !important;
    color: #000000;
    font-size: 19px;
    line-height: 19px;
}

.gridAction:hover
{
    cursor: pointer;
}

/* Custom Grid */
.seriesTable
{
    width: 100%;
    border-style: none;
    border-collapse: collapse;
}

.seriesTable th
{
    font-family: "Segoe UI Light" , "Open Sans" , "Segoe UI" , sans-serif;
    font-size: 17px;
    padding: 2px;
    border-style: none;
    padding-left: 7px;
    text-align: left;
    background-color: white;
    font-weight: lighter;
}

.seriesTable td
{
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 1px;
    padding: 0px 8px 0px 8px;
}

.title-row td
{
    font-family: "Segoe UI Light" , "Open Sans" , "Segoe UI" , sans-serif;
    font-size: 20px;
    background-color: #CAD5E3;
    font-weight: lighter;
    color: #3C3C3C;
}

.detail-row
{
    display: none;
}

/* Colour alternating rows */
.seriesTable .alt-row
{
    background: #f0f5ff;
}

/* Episode Grid Row Colouring */
.episodeIgnored
{
    background: rgb(229, 228, 228);
    opacity: 0.7;
}

.episodeMissing, table.dataTable tr.series-ended {
    background-color: #f5d6d6;
}

/*Hidden Grid to prevent FOUSC*/
.hidden-grid
{
    display: none;
}

.grid-container
{
    overflow: hidden;
}

table.dataTable thead th.sorting_disabled
{
    cursor: default;
}

.dataTables_paginate {
    margin-top: 10px;
}

table.dataTable thead th.sorting_desc, table.dataTable thead th.sorting_asc, table.dataTable thead th.sorting:hover
{
    background-color: #e7efff;
}

.paginate_disabled_previous:hover, .paginate_disabled_next:hover, .paginate_disabled_first:hover, .paginate_disabled_last:hover, .paginate_disabled_previous, .paginate_disabled_next, .paginate_disabled_first, .paginate_disabled_last
{
    opacity: 0.2;
    cursor: default;
}

.paginate_enabled_previous, .paginate_enabled_next, .paginate_enabled_first, .paginate_enabled_last
{
    opacity: 0.7;
}

.paginate_enabled_previous:hover, .paginate_enabled_next:hover, .paginate_enabled_first:hover, .paginate_enabled_last:hover
{
    opacity: 1;
}

/* Icon color when ignored */
.ignored {
    color: gray !important;
}

[data-status="Missing"] {
    color: #B40404 !important;
}