#bottom
{
    margin-top: -10px;
    margin-left: 15px;
}

#addNewznab
{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.titleText
{
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
    display: inline;
    position: absolute;
    top: -1px;
    left: 2px;
    padding-bottom: 0px;
    white-space: nowrap;
}

.providerHeader
{
    min-height: 23px;
    position: relative;
}

.providerSection
{
    float: left;
    width: 255px;
    margin: 2px;
    border: solid 1px #CCCCCD;
    display: inline-block;
    overflow: auto;
    padding: 3px;
}

.providerOptions label {
    margin-top: 8px;
    margin-left: 3px;
    float: left;
    font-weight: bold;
    width: 50px;
}

.providerOptions input, .providerOptions select {
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 170px;
    margin-right: 2px;
    float: right;
}

.providerOptions select {
    width: 176px;
}

.providerOptions div {
    overflow: hidden;
    height: 35px;
}

.providerOptions input[type="checkbox"] {
    margin-top: 10px;
}

.deleteProvider
{
    position: absolute;
    top: 0px;
    right: 0px;
}

#newznabProviders
{
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.indexerPanel
{
    overflow: auto;
}

.indexer-global-settings
{
    padding-top: 20px;
    overflow: hidden;
}

.indexerStatusContainer
{
    margin-left: 12px;
    margin-bottom: -4px;
}

.indexerStatus
{
    padding: 6px 10px;
    display: inline-block;
    color: white;
    margin: 3px;
}

.enabled
{
    background-color: #065EFE;
}

.disabled
{
    background-color: #616161;
}
