.sub-menu
{
    padding-left: 5px;
    margin-top: 0px;
}

.sub-menu li
{
    display: inline;
    list-style-type: circle;
    margin-right: 12px;
    padding-left: 2px;
    padding-top: 2px;
    border-left: 1px solid #065EFE;
}

.sub-menu a
{
    text-decoration: none;
    font-size: 21px;
    font-family: "Segoe UI Light" , "Open Sans" , "Segoe UI" , sans-serif;
    color: #065EFE;
    font-weight: 300;
    text-transform: lowercase;
}

.t-grid .sub-menu
{
    margin-left: -10px;
    margin-bottom: 0px;
}
