#msgBox
{
    display: none;
    height: 30px;
    background-color: #272525;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    padding: 10px;
    text-align: left;
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;
    font-size: 20px;
    color: White;
    text-align: center;
    white-space:nowrap;
}
#msgCloseButton
{
    float: right;
}
