h1, h2, h3
{
    color: #000000;
}

body
{
    background: #191919 url(images/img07.jpg) no-repeat right top;
    font-family: "Segoe UI" , "Segoe UI Light" , Tahoma, Geneva, sans-serif !important;
    font-size: 13px;
    color: #3C3C3C;
    background-attachment: fixed;
}

fieldset
{
    border-style: solid;
    border-color: #065EFE;
    border-width: 1px;
}

a
{
    color: #065EFE;
}

a:hover
{
    text-decoration: none;
}

hr
{
    display: none;
}

/* Menu */



#menu ul
{
    padding: 0px 0px 0px 0px;
    list-style: none;
}

#menu li
{
    display: block;
    float: left;
}

#menu a
{
    display: block;
    float: left;
    padding: 9px 30px 0px 35px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: normal;
    vertical-align: middle;
    height: 28px;
}

#menu a:hover
{
    text-decoration: none;
}

#menu li.current_page_item
{
    background: url(images/img01.jpg) no-repeat left top;
}

#menu li.current_page_item a
{
    background: url(images/img02.jpg) no-repeat right top;
    color: #FFFFFF;
}


/* Page */

#page
{
    background-color: White;
    padding: 10px 20px 20px 20px;
    min-height: 300px;
}



/** LOGO */

#logo
{
    font-family: "Segoe UI Light" , "Segoe UI" , Tahoma, Geneva, sans-serif;
    font-weight: 100;
    height: 135px;
    background: url(images/img03.jpg) no-repeat left top;
    font-size: 90px;
    color: #FFFFFF;
    text-transform: lowercase;
    letter-spacing: -1px;
    line-height: normal;
    padding-left: 120px;
}

.stackframe
{
    font-family: Consolas, Monospace;
}

/*fix telerik grid missing border*/
.t-grid .t-last
{
    border-bottom: 1px solid #EEEEEE;
    border-color: #EEEEEE;
}


/* Footer */
.timer
{
    text-align: center;
    color: #065EFE;
}

#footer
{
    padding: 1px, 1px, 1px, 1px;
    text-align: center;
}



.sub-field
{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.config-value
{
    float: right;
}

.config-checkbox
{
    margin-right: 135px;
}

button, input[type="button"], input[type="submit"], input[type="reset"]
{
    color: white;
    background-color: #065EFE;
    border-style: solid;
    border-color: #065EFE;
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active
{
    border-color: #0C48B6;
}

input[type=text], select
{
    font-size: larger;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 10px 10px;
    height: 20px;
}

select
{
    height: 30px;
}

.listButton
{
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
    margin: 0px;
}


#save_button:hover
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #3C3C3C; /* Set padding to prevent fieldset border from moving when button is highlighted... WINNING! */
    padding-bottom: 2px;
}

.hiddenResult
{
    display: none;
}

/* Add Series */

.tvDbSearchResults
{
    width: 400px;
}

.rootDirectories
{
    width: 400px;
}

.edit-group
{
    width: 435px;
    display: block;
    height: 25px;
}


.dialog
{
    margin-left: auto;
    margin-right: auto;
}