
*
{
    font-family: "Segoe UI" , "Segoe UI Light" , Tahoma, Geneva, sans-serif;
}

body
{
    background: #191919 url(images/img07.jpg) no-repeat right top;
    font-size: 13px;
    color: #3C3C3C;
    background-attachment: fixed;
}

#centered
{
   margin-right: auto;
   width: 85%;
   margin-left: auto;
   min-width: 800px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Segoe UI Light" , "Segoe UI" , Tahoma, Geneva, sans-serif;
    color: #3C3C3C;
    font-weight: 300;
}


fieldset
{
    border-style: solid;
    border-color: #065EFE;
    border-width: 1px;
}

a
{
    color: #065EFE;
}

a:hover
{
    text-decoration: none;
}

hr
{
    display: none;
}

/* Menu */

#menu
{
    height: 60px;
}

#menu ul
{
    margin: 0;
    padding: 8px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    display: block;
    float: left;
}

#menu a
{
    display: block;
    float: left;
    height: 28px;
    padding: 7px 30px 0px 35px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: normal;
    vertical-align: middle;
}

#menu a:hover
{
    text-decoration: none;
}

#menu li.current_page_item
{
    background: url(images/img01.jpg) no-repeat left top;
}

#menu li.current_page_item a
{
    background: url(images/img02.jpg) no-repeat right top;
    color: #FFFFFF;
}


/* Page */

#page
{
    background-color: White;
    padding: 10px 20px 20px 20px;
    min-height: 300px;
}



/** LOGO */

#logo
{
    font-family: "Segoe UI Light" , "Segoe UI" , Tahoma, Geneva, sans-serif;
    font-weight: 100;
    height: 135px;
    background: url(images/img03.jpg) no-repeat left top;
    font-size: 90px;
    color: #FFFFFF;
    text-transform: lowercase;
    letter-spacing: -1px;
    line-height: normal;
    padding-left: 120px;
}

.stackframe
{
    font-family: Consolas, Monospace;
}

/*fix telerik grid missing border*/
.t-grid .t-last
{
    border-bottom: 1px solid #EEEEEE;
    border-color: #EEEEEE;
}


/* Footer */
#footer
{
    padding: 1px 1px 1px 1px;
    color: #065EFE;
    text-align: center;
}



.sub-field
{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.config-value
{
    float: right;
}

.config-checkbox
{
    margin-right: 135px;
}

button, input[type="button"], input[type="submit"], input[type="reset"]
{
    color: white;
    background-color: #065EFE;
    border-style: solid;
    border-color: #065EFE;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active
{
    border-color: #0C48B6;
}

input[type=text], select
{
    font-size: small;
    padding: 2px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 10px 0px;
    height: 20px;
}


select, button, input[type="button"], input[type="submit"], input[type="reset"]
{
    height: 26px;
    min-width: 50px;
    margin-left: 10px;
}

.listButton
{
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
    margin: 0px;
}

.hiddenResult
{
    display: none;
}

/* Add Series */

.tvDbSearchResults
{
    width: 400px;
}

.rootDirectories
{
    width: 400px;
}

.edit-group
{
    width: 435px;
    display: block;
    height: 25px;
}


.dialog
{
    margin-left: auto;
    margin-right: auto;
}


.qualitySelector
{
    min-width: 60px;
    width: auto;
}

#quickAdd
{
    position: fixed;
    top: 30px;
    right: 15px;
}
