/*jQuery UI*/
.ui-widget-header
{
    font-weight: normal;
}

.t-combobox .t-input
{
    line-height: 25px;
}

.ui-autocomplete
{
    border-color: #333333;
    background: #333333;
}

.ui-autocomplete .ui-state-hover
{
    background: #333333;
    border-color: #065EFE;
}

.ui-menu-item .ui-corner-all
{
    color: #065EFE;
}

.ui-progressbar-value
{
    background: #065EFE url(./jQueryUI/images/ui-bg_flat_30_065efe_40x100.png) 50% 50% repeat-x;
}

.jquery-tabs
{
    margin-top: 10px;
}

/*MiniProfiler*/

.profiler-button
{
    opacity: 0.4;
}
