#top
{
    margin: 20px;
    overflow: hidden;
}

#top .settingsForm {
    float: left;
}

#profileContainer
{
    overflow: auto;
}
        
#add-profile
{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}

#add-profile i:before {
    color: green;
    font-size: 20px;
}
        
#profileHeader
{
    margin-bottom: 5px;
}

#profiles
{
    overflow: auto;
}

/* QualityProfileItem */
.quality-selectee {
    border-color: #065EFE;
    border-style: solid;
    border-width: 1px;
    width: 75px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px;
    float: left;
    cursor: default;
}
.quality-selecting {
    background: #85AEF9;
}

.quality-selected {
    background: #065EFE;
    color: white;
}
    
.quality-profile {
    float: left;
    width: 260px;
    margin: 2px;
    border:solid 1px #CCCCCD;
    display: inline-block;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    position: relative;
}

.quality-profile-setting label {
    width: 45px;
    display: inline-block;
}

.quality-profile-setting input {
    margin-left: 10px;
    width: 160px;
}

.quality-profile-setting select {
    width: 166px;
}
    
.remove-profile {
    position: absolute;
    top: 0px;
    right: 4px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.remove-profile > i[class*="icon-"]:hover {
    cursor: pointer !important;
}
    
.titleText
{
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
    display:inline;
    position: absolute;
    top: -1px;
    left: 2px;
    padding-bottom: 0px;
    white-space:nowrap;
}
    
.qualityHeader
{
    min-height: 23px;
    position: relative;
}

.sliders
{
    clear: both;
    padding-bottom: 20px;
    width: 600px;
}

#QualityForm .ui-accordion .ui-accordion-content {
    padding: 1em 2em;
}