.masterControls {
    margin-top: 10px;
    overflow: hidden;
}

.checkboxColumn {
    width: 50px;
    text-align: center;
}
        
.buttons {
    width: 600px;
    text-align: center;
}
        
table input[type="text"], table input[type="date"], table select {
    margin: 2px 2px;
}
        
td .path {
    width: 290px;
}
        
td .backlogSetting {
    width: 100px;
}
        
td .quality {
    width: 120px;
}
        
th .footer-control {
    width: 100px;
}

th .footer-control-quality {
    width: 120px;
}

td .start-date {
    width: 80px;
}

th .footer-control-boolean {
    width: 90px;
}

th .footer-control-start-date {
    width: 80px;
}


#stylized, .settingsForm {
    overflow: hidden;
}
        
#stylized {
    float: left;
}
        
#changesOverview {
    margin-top: 15px;
    float: left;
    font-size: 20px;
}

#seriesEditorGrid tfoot {
    background-color: lightgrey;
}

#editToggleMaster {
    margin-left: 5px;
}