p, h1, form, button
{
    border: 0;
    margin: 0;
    padding: 0;
}
.spacer
{
    clear: both;
    height: 1px;
}

.settingsForm
{
    width: 620px;
    padding: 14px;
}


#stylized p
{
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px;
}

#stylized .labelClass
{
    display: block;
    font-weight: bold;
    text-align: right;
    width: 340px;
    float: left;
    margin-bottom: -10px;
}

#stylized .small
{
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 340px;
}

#stylized .inputClass
{
    float: left;
    padding: 2px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px;
}

#stylized .selectClass
{
    width: 206px;
}

#stylized .checkClass
{
    margin: 10px 0 10px 10px;
}

#stylized button
{
    clear: both;
    margin-left: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 125px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    font-size: 11px;
}


#saveAjax
{
    padding-left: 6px;
    margin-bottom: -7px;
    width: 20px;
    height: 20px;
    display: none;
}

#save_button[disabled="disabled"]
{
    padding: 0px 6px 0px 6px;
    border: 2px outset ButtonFace;
    color: lightgrey;
    cursor: progress;
}

.ui-dialog-buttonset .ui-delete-button , 
{
    background: url("images/ui-bg_flat_30_b40404_40x100.png") repeat-x scroll 50% 50% #B40404;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;
}

.ui-dialog-buttonset .ui-delete-button:active
{
    background: url("images/ui-bg_flat_30_616161_40x100.png") repeat-x scroll 50% 50% #616161;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;
}
