h1, h2, h3
{
    margin: 0;
    color: #000000;
}

body
{
    padding: 0;
    background: #191919 url(images/img07.jpg) no-repeat right top;
    font-family: "Segoe UI" , "Segoe UI Light" , Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #3C3C3C;
    background-attachment: fixed;
}

fieldset
{
    border-style: solid;
    border-color: #065EFE;
    border-width: 1px;
}

h1
{
    font-size: 52px;
}

h2
{
    font-size: 26px;
}

h3
{
    font-size: 18px;
}

p, ul, ol
{
    margin-top: 0;
    line-height: 240%;
    text-align: justify;
}

ul, ol
{
}

a
{
    color: #065EFE;
}

a:hover
{
    text-decoration: none;
}

a img
{
    border: none;
}


hr
{
    display: none;
}

/* Menu */

#menu
{
    height: 60px;
}

#menu ul
{
    margin: 0;
    padding: 8px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    display: block;
    float: left;
}

#menu a
{
    display: block;
    float: left;
    height: 28px;
    padding: 7px 30px 0px 35px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: normal;
    vertical-align: middle;
}

#menu a:hover
{
    text-decoration: none;
}

#menu li.current_page_item
{
    background: url(images/img01.jpg) no-repeat left top;
}

#menu li.current_page_item a
{
    background: url(images/img02.jpg) no-repeat right top;
    color: #FFFFFF;
}


/* Page */

#page
{
    margin: 0 auto 10px;
    overflow: hidden;
    background-color: White;
    padding: 10px 20px 20px 20px;
    min-height: 300px;
}


#centered
{
    margin-right: auto;
    width: 85%;
    margin-left: auto;
    min-width: 800px;
}

/** LOGO */

#logo
{
    font-family: "Segoe UI Light" , "Segoe UI" , Tahoma, Geneva, sans-serif;
    font-weight: 100;
    height: 135px;
    background: url(images/img03.jpg) no-repeat left top;
    font-size: 90px;
    color: #FFFFFF;
    text-transform: lowercase;
    letter-spacing: -1px;
    line-height: normal;
    padding-left: 120px;
}

.stackframe
{
    font-family: Consolas, Monospace;
}

/*fix telerik grid missing border*/
.t-grid .t-last
{
    border-bottom: 1px solid #EEEEEE;
    border-color: #EEEEEE;
}

.t-combobox, .t-dropdown
{
    vertical-align: middle;
}

/* Footer */
.timer
{
    text-align: center;
    color: #065EFE;
}

#footer
{
    padding: 1px, 1px, 1px, 1px;
    text-align: center;
}

/* Config Pages */
.config-section
{
    width: 800px;
    height: 45px;
    display: block;
}

.config-group
{
    width: 385px;
    display: block;
    float: left;
    height: 20px;
}

.config-group2
{
    width: 385px;
    display: block;
    float: right;
    height: 20px;
}

.config-title
{
    font-weight: bold;
    padding-right: 15px;
    float: left;
}

.config-value
{
    float: right;
}

input[type=text]
{
    width: 220px;
}

.config-validation
{
    color: Red;
}

.config-description
{
    
}

.sub-field
{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.config-value
{
    float: right;
}

.config-checkbox
{
    margin-right: 135px;
}

button, input[type="button"], input[type="submit"], input[type="reset"]
{
    color: white;
    background-color: #065EFE;
    border-style: solid;
    border-color: #065EFE;
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active
{
    border-color: #0C48B6;
}

.listButton
{
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
    margin: 0px;
}

#save_button
{
}

#save_button:hover
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #3C3C3C;
    /* Set padding to prevent fieldset border from moving when button is highlighted... WINNING! */
    padding-bottom: 2px;
}

.hiddenResult
{
    display: none;
}

/* Add Series */

.tvDbSearchResults
{
    width: 400px;
}

.rootDirectories
{
    width: 400px;
}

/* Set the font size for Grids */
.Grid
{
    font-size: 13px;
}

.edit-group
{
    width: 435px;
    display: block;
    height: 25px;
}

/* Loading Bar */
.grid-container  
    {  
        position:relative;  
        margin:auto;  
        overflow:hidden;  
    }  

    .grid-loader  
    {  
        position: absolute;  
        width: 100%;
        height: 100%;
        top: 400px;  
        left: 0px;  
        letter-spacing: -1px;  
        color: white; font: 48px Berlin Sans FB, Sans-Serif;  
        background: #4A4D4A;  
        padding: 20px;  
        filter:alpha(opacity=80);  
        -moz-opacity:0.8;  
        -khtml-opacity: 0.8;  
        opacity: 0.8;  
        line-height: 90%  
    }