.top-slider {
    position: absolute;
    opacity: 0.85;
    width: 300px;
}

.sliderButton {
    border: 0;
}

.sliderContent {
    background-color:#333333;
    text-align:center;
    width: 100%;
    color:#FFFFFF;
    font-weight:bold;
    margin: 0px;
    display: none;

    @*Rounded Edges*@
    border:1px solid #444444;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

.sliderButton {
    width: 70px;
    margin-left:auto;
    margin-right:auto;
    background-color:#333333;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
    text-align: center;
    color:#FFFFFF;
    

    @*Rounded Edges*@
    border: 1px solid #444444;
    border-top: 0px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.sliderImage {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: -3px;
    margin-right: -5px;
    margin-left: 2px;
}

.sliderClosed {
    background:url('../../Content/Images/ui-icons_2e83ff_256x240.png') -64px -16px no-repeat;
}

.sliderOpened {
    background:url('../../Content/Images/ui-icons_2e83ff_256x240.png') 0px -16px no-repeat;
}