
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body
{
    margin: 20px 0px 0px 0px;
    padding: 0;
    background: #191919 url(images/img07.jpg) no-repeat right top;
    font-family: Segoe UI, Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #3C3C3C;
    background-attachment: fixed;
}

h1, h2, h3
{
    margin: 0;
    color: #549900;
    font-family: Segoe UI Light;
    text-transform: lowercase;
}

h1
{
    font-size: 52px;
}

h2
{
    font-size: 26px;
}

h3
{
    font-size: 18px;
}

p, ul, ol
{
    margin-top: 0;
    line-height: 240%;
    text-align: justify;
}

ul, ol
{
}

blockquote
{
}

a
{
    color: #065EFE;
}

a:hover
{
    text-decoration: none;
}

a img
{
    border: none;
}

img.left
{
    float: left;
    margin: 7px 30px 0 0;
}

img.right
{
    float: right;
    margin: 7px 0 0 30px;
}

hr
{
    display: none;
}

.list1
{
}

.list1 li
{
    float: left;
    line-height: normal;
}

.list1 li img
{
    margin: 0 30px 30px 0;
}

.list1 li.alt img
{
    margin-right: 0;
}

#wrapper
{
}

/* Header */

#header
{
    width: 950px;
    height: 70px;
    margin: 0px auto;
}

/* Menu */

#menu
{
}

#menu ul
{
    margin: 0;
    padding: 8px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    display: block;
    float: left;
}

#menu a
{
    display: block;
    float: left;
    height: 28px;
    padding: 7px 30px 0px 35px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: normal;
    vertical-align: middle;
}

#menu a:hover
{
    text-decoration: none;
}

#menu li.current_page_item
{
    background: url(images/img01.jpg) no-repeat left top;
}

#menu li.current_page_item a
{
    background: url(images/img02.jpg) no-repeat right top;
    color: #FFFFFF;
}

#menu .first
{
}

/* Search */

#search
{
    float: right;
    padding: 10px 10px 0px 0px;
}

#search form
{
    float: right;
    margin: 0;
    padding: 4px 0px 0 0;
}

#search fieldset
{
    margin: 0;
    padding: 0;
    border: none;
}

#search input
{
    float: left;
    font: 12px Georgia, "Times New Roman" , Times, serif;
}

#search-text
{
    width: 213px;
    height: 28px;
    padding: 6px 0 0 7px;
    border: none;
    background: url(images/img02.jpg) no-repeat left top;
    color: #000000;
}

#search-submit
{
    width: 82px;
    height: 28px;
    margin-left: 10px;
    padding: 0px 5px;
    background: url(images/img03.jpg) no-repeat left top;
    border: none;
    text-indent: -9999px;
    color: #FFFFFF;
}

/* Page */

#page
{
    width: 950px;
    margin: 0 auto 60px;
    overflow: hidden;
}



/** LOGO */

#logo
{
    width: 950px;
    height: 135px;
    margin: 0 auto;
    background: url(images/img03.jpg) no-repeat left top;
}

#logo h1, #logo p
{
    margin: 0px;
    line-height: normal;
    text-transform: lowercase;
    font-weight: lighter;
    color: #FFFFFF;
}

#logo p
{
    margin-top: -4px;
    padding: 0px 0px 0px 120px;
    text-transform: lowercase;
    font-size: 13px;
    color: #3E81FB;
}

#logo h1
{
    padding: 0px 0px 0px 120px;
    letter-spacing: -1px;
    font-size: 90px;
}

#logo h1 a
{
    text-decoration: none;
    color: #FFFFFF;
}

#logo a
{
    text-decoration: none;
    color: #3E81FB;
}

#banner
{
    padding-bottom: 20px;
}

/* Content */

#content
{
    background: #FFFFFF no-repeat;
    float: left;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

/* Post */

.post
{
    padding: 0px 30px 20px 30px;
}

.post .title
{
    height: 44px;
    margin: 0px;
    padding: 36px 0px 0px 0px;
    width: 576px;
}

.post .title a
{
    letter-spacing: -2px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 36px;
    color: #424242;
}

.post .title a:hover
{
    color: #065EFE;
}

.post .meta
{
    margin-left: 2px;
    padding: 4px 30px 2px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    color: #66665E;
}

.post .meta span
{
    margin: 0px;
}

.post .meta a
{
    text-decoration: none;
}

.post .entry
{
    padding: 10px 0px 0px 0px;
}

.post .comments
{
    display: block;
    width: 120px;
    height: 18px;
    margin: 0px;
    padding: 3px 0px 0px 40px;
    background: #90BF35;
    border: 1px solid #5F817E;
    text-decoration: none;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

/* Footer */

#footer
{
    width: 920px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
}

#footer-bgcontent
{
}

#footer p
{
    margin: 0;
    padding: 30px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    font-size: 11px;
}

#footer a
{
}
