h1, h2, h3
{
    margin: 0;
    color: #549900;
    text-transform: lowercase;
}

body
{
    padding: 0;
    background: #191919 url(images/img07.jpg) no-repeat right top;
    font-family: "Segoe UI" , Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #3C3C3C;
    background-attachment: fixed;
}

h1
{
    font-size: 52px;
}

h2
{
    font-size: 26px;
}

h3
{
    font-size: 18px;
}

p, ul, ol
{
    margin-top: 0;
    line-height: 240%;
    text-align: justify;
}

ul, ol
{
}

a
{
    color: #065EFE;
}

a:hover
{
    text-decoration: none;
}

a img
{
    border: none;
}


hr
{
    display: none;
}

/* Menu */

#menu
{
    height: 60px;
}

#menu ul
{
    margin: 0;
    padding: 8px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    display: block;
    float: left;
}

#menu a
{
    display: block;
    float: left;
    height: 28px;
    padding: 7px 30px 0px 35px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: normal;
    vertical-align: middle;
}

#menu a:hover
{
    text-decoration: none;
}

#menu li.current_page_item
{
    background: url(images/img01.jpg) no-repeat left top;
}

#menu li.current_page_item a
{
    background: url(images/img02.jpg) no-repeat right top;
    color: #FFFFFF;
}


/* Page */

#page
{
    margin: 0 auto 10px;
    overflow: hidden;
    background-color: White;
    padding: 10px 20px 20px 20px;
}


#centered
{
    margin-right: auto;
    width: 910px;
    margin-left: auto;
}

/** LOGO */

#logo
{
    font-family: Segoe UI Light, Tahoma, Geneva, sans-serif;
    height: 135px;
    background: url(images/img03.jpg) no-repeat left top;
    font-size: 90px;
    color: #FFFFFF;
    text-transform: lowercase;
    letter-spacing: -1px;
    line-height: normal;
    padding-left: 120px;
}

.stackframe
{
    font-family: Consolas, Monospace;
}

/*fix telerik grid missing border*/
.t-grid .t-last
{
    border-bottom: 1px solid #EEEEEE;
    border-color: #EEEEEE;
}

/* Footer */
.timer
{
    text-align: center;
    color: #065EFE; 
}

#footer
{
    padding: 1px, 1px, 1px, 1px;
    text-align: center;
}

/* Config Pages */
.config-group
{
	width:300px;
	display: block;
	padding-bottom: 25px;
}

.config-title
{
	font-weight: bold;
	padding-right: 15px;
	float: left;
}

.config-value
{
	float: right;
	
}

.config-validation
{
	
}
.sub-field
{
	width: 50%;
}

input[type="text"]
{
	border: 1px solid #006;
    background: #ffc;
}

input[type="text"]:hover
{
	border: 1px solid #f00;
    background: #ff6;
}

.button
{
	border: 1px solid #006;
    background: #ccf;
}

.button:hover
{
	border: 1px solid #f00;
    background: #eef;
}