<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <runtime>
        <legacyUnhandledExceptionPolicy enabled="false" />
        <legacyImpersonationPolicy enabled="true"/>
        <alwaysFlowImpersonationPolicy enabled="false"/>
        <SymbolReadingPolicy enabled="1" />

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
           <dependentAssembly>
              <assemblyIdentity name="Microsoft.Web.Administration"
                                publicKeyToken="31bf3856ad364e35"
                                culture="neutral" />
              <bindingRedirect oldVersion="7.0.0.0"
                               newVersion="7.9.0.0" />
              <codeBase version="7.9.0.0" href="FILE://%FalconBin%/Microsoft.Web.Administration.dll" />
           </dependentAssembly>
           <dependentAssembly>
              <assemblyIdentity name="Microsoft.Web"
                                publicKeyToken="31bf3856ad364e35"
                                culture="neutral" />
              <codeBase version="7.9.0.0" href="FILE://%FalconBin%/Microsoft.Web.dll" />
           </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup useLegacyV2RuntimeActivationPolicy="true" />
</configuration>
