<configuration>

    <configSections>
        <section name="configurationRedirection" />
    </configSections>

    <configProtectedData>
        <providers>
            <add name="IISRsaProvider" type="" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" keyContainerName="iisConfigurationKey" cspProviderName="" useMachineContainer="true" useOAEP="false" />
        </providers>
    </configProtectedData>

    <configurationRedirection />

</configuration>