@using NzbDrone.Web.Models
@model NzbDrone.Web.Models.AddNewSeriesModel

@{
    Layout = null;
}

<div>
    <fieldset>
        <legend>Root Directory</legend>
    
        @{int d = 0;

          foreach (var dir in ViewData["RootDirs"] as List<RootDirModel>)
          {
                <div>
                    @Html.RadioButton("selectedRootDir", dir.CleanPath, d == 0, new { @class = "dirList examplePart", id = "dirRadio_" + d })
                    @Html.Label(dir.Path)
                    @{ d++; }
                </div>
            }
        }
    </fieldset>
</div>
<br/>
<div>
    @{Html.Telerik().ComboBox()
    .Name("seriesList_new")
            .DataBinding(binding => binding.Ajax().Select("_textLookUp", "AddSeries").Delay(400))
            .Filterable(f => f.FilterMode(AutoCompleteFilterMode.Contains))
            .HighlightFirstMatch(true)
            .HtmlAttributes(new { style = "width: 300px;" })
            .Render();}
    @Html.Telerik().DropDownList().Name("qualityList_new").BindTo((SelectList)ViewData["quality"]).HtmlAttributes(new { style = "width: 100px", @class = "qualityDropbox" })
    <button class="listButton" onclick="addNewSeries()">
        Add</button>
</div>

<script type="text/javascript" language="javascript">
    var addNewSeriesUrl = '@Url.Action("AddNewSeries", "AddSeries")';

    function addNewSeries() {
        var seriesComboBox = $("#seriesList_new").data("tComboBox");
        var qualityComboBox = $("#qualityList_new").data("tDropDownList");
        var path = $("input[name='selectedRootDir']:checked").val();
        
        sendToServerNew(seriesComboBox.value(), path, seriesComboBox.text(), qualityComboBox.value());
    }

    function sendToServerNew(id, rootPath, seriesName, quality) {
        $.ajax({
            type: "POST",
            url: addNewSeriesUrl,
            data: jQuery.param({ rootPath: rootPath, seriesName: seriesName, seriesId: id, qualityProfileId: quality }),
            error: function (req, status, error) {
                alert("Sorry! We could not add " + path + " at this time. " + error);
            },
            success: function (){
                //Clear the search box
                $("#seriesList_new").data("tComboBox").text('');
                
                //Close the Window!
                closeAddNewSeries();
            }
        });
    }
</script>