@using System.Collections
@{ Layout = null; }
<div>
    <div>
        <input id="newSeriesLookup" class="seriesLookup" type="text" style="width: 400px" />
        @Html.Hidden("newSeriesId", 0, new { @class = "seriesId" })
    </div>
    @Html.DropDownList("newSeriesPath", new SelectList((IList)ViewData["RootDirs"]), new { style = "width: 406px; margin-left: 0px;" })
    @Html.DropDownList("qualityList", (SelectList)ViewData["QualityProfiles"], new { @class = "qualitySelector" })
    <button id="saveNewSeries">
        Add</button>
</div>