@using NzbDrone.Core.Repository.Quality
@model SelectList
<div style="padding:3px" id="div_@(ViewData["guid"])">
    <fieldset>
        <legend>@ViewData["path"].ToString()</legend>
        <div>
            @{Html.Telerik().ComboBox()
            .Name("seriesList_" + ViewData["guid"])
                  .BindTo(Model)
                  .DataBinding(binding => binding.Ajax().Select("_textLookUp", "AddSeries").Delay(400))
                  .Filterable(f => f.FilterMode(AutoCompleteFilterMode.Contains))
                  .HighlightFirstMatch(true)
                  .HtmlAttributes(new { style = "width: 300px;" })
                  .Render();}
            @Html.Telerik().DropDownList().Name("qualityList_" + ViewData["guid"]).BindTo((SelectList)ViewData["quality"]).HtmlAttributes(new { style = "width: 100px", @class = "qualityDropbox" })
            <button class="listButton" onclick="addSeries('@ViewData["guid"]','@ViewData["javaPath"].ToString()' )">
                Add</button>
        </div>
    </fieldset>
</div>