@using Cassette.Stylesheets
@{
    ViewBag.Title = "Add Series";
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
    Bundles.Reference<StylesheetBundle>("AddSeries\\Views\\");
}



<div id="add-series-tmpl" class="row">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#add-new">Add New Series</a></li>
        <li><a href="#import-existing">Import Existing Series</a></li>
        <li><a href="#root-folders">Root Folders</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="add-new">
            <div class="input-prepend search">
                <i class="add-on icon-search"></i>
                <input type="text" class="span7" placeholder="Start typing the name of series you want to add ...">
            </div>
        </div>
        <div class="tab-pane" id="import-existing">Import existing.</div>
        <div class="tab-pane" id="root-folders">Manage root folders</div>
    </div>
</div>
@*

@section Templates
{

}
<div id="add-existing-series">
    <h1>Add Existing</h1>
    <h2 id="single">Single Series</h2>
    <h2 id="multiple">All of my series</h2>
</div>


<div id="add-new-series">
    <h1>Add New</h1>
    <div class="well">
        <input type="text" id="series-search" name="series-search" placeholder="Search for a series to add ..." class="span12" autocomplete="off" />
    </div>
</div>


<div id="add-existing-series-single">
    <h1>single
    </h1>
</div>

<div id="add-existing-series-multiple">
    <h1>multiple</h1>
</div>
*@
