@using NzbDrone.Web.Helpers
@{ViewBag.Title = "Add Series";}

@section HeaderContent
{
    <style>
    .existingSeries
    {
        border-color: #f2f2f2;
        border-width: 1px;
        border-style: solid;
        background-color: #f2f2f2;
        margin: 0px 10px 10px 0px;
        padding: 5px;
        display: block;
    }
    .masterQualitySelector
    {
        left: 415px;
        position: relative;
    }
    
    .seriesPathValue
    {
        display: block;
    }
    
    .existingSeriesContainer
    {
        position: relative;
    }
    
    .ui-autocomplete.seriesLookupResults {
        max-height: 180px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
    }
    
    .seriesLookup.ui-autocomplete-loading {
         background: white url('../../Content/Images/ajax-loader.gif') 99% center no-repeat;
         background-size: 18px 18px
    }
    
    .ui-autocomplete .seriesLookupTitle {
        font-size: 110%;
        font-family: "Segoe UI Light", "Open Sans", "Segoe UI", sans-serif;
        color: lightgrey;
    }
    
    .ui-autocomplete .seriesLookupFirstAired {
        font-family: "Segoe UI Light", "Open Sans", "Segoe UI", sans-serif;
    }
</style>
}

@{Html.RenderAction("RootDir");}
<div class="jquery-accordion" id="addSeriesAccordion">
    <h3>
        <a href="#">Add New Series</a></h3>
    <div id="addNewSeries">
        @{ Html.RenderAction("AddNew", "AddSeries"); }
    </div>
    <h3>
        <a href="#">Add Series Already on Disk</a></h3>
    <div id="existingSeries">
        @{ Html.RenderAction("ExistingSeries", "AddSeries"); }
    </div>
</div>

@section Scripts
{
    @Html.IncludeScript("NzbDrone/addSeries.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#addSeriesAccordion').accordion("activate", false);
        });
    </script>
}