@using NzbDrone.Web.Helpers
@{ViewBag.Title = "Add Series";}
@section Scripts
{
    @Html.IncludeScript("NzbDrone/addSeries.js")
}
@{Html.RenderAction("RootDir");}
<div class="jquery-accordion">
    <h3>
        <a href="#">Add New Series</a></h3>
    <div id="addNewSeries">
        @{ Html.RenderAction("AddNew", "AddSeries"); }
    </div>
    <h3>
        <a href="#">Add Series Already on Disk</a></h3>
    <div id="existingSeries">
        @{ Html.RenderAction("ExistingSeries", "AddSeries"); }
    </div>
</div>
