@section TitleContent{
Add Series
}
@section Scripts
{
    <script type="text/javascript" src="../../Scripts/NzbDrone/addSeries.js"></script>
}
@{Html.RenderAction("RootDir");}
<div class="jquery-accordion">
    <h3>
        <a href="#">Add New Series</a></h3>
    <div>
        @{ Html.RenderAction("AddNew", "AddSeries"); }
    </div>
    <h3>
        <a href="#">Add Series Already on Disk</a></h3>
    <div>
        @{ Html.RenderAction("ExistingSeries", "AddSeries"); }
    </div>
</div>
@*<div class="jquery-tabs">
    <ul>
        <li><a href="#newSeriesTab">Add New Series</a></li>
        <li><a href="#existingSeriesTab">Add Series Already on Disk</a></li>
    </ul>
    <div id="newSeriesTab" style="min-height: 200px">
        @{ Html.RenderAction("AddNew", "AddSeries"); }
    </div>
    <div id="existingSeriesTab">
        @{ Html.RenderAction("ExistingSeries", "AddSeries"); }
    </div>
</div>*@ 