<style>
    #saveDir
    {
        padding-bottom: 1px;
    }
    
    #saveDir span
    {
        margin-top: -2px;
    }
</style>

<span>
    <input id="rootDirInput" class="folderLookup" type="text" style="width: 400px" />
    <button id="saveDir">
        Add</button>
</span><span id="rootDirs">
    @{Html.RenderAction("RootList");}
</span>
