@model IEnumerable<String>
@if (!Model.Any())
{
    <div class="actionButton delete">
        <span>You have no root folders added.</span>
    </div>
}
@foreach (var root in Model)
{
    <div class="actionButton delete">
        <div class="delete-root" data-path="@root">
            <i class="icon-remove icon-large"></i>
        </div>
        <span>@root</span>
    </div>
}
