@model NzbDrone.Web.Models.RootDirModel

@{
    Layout = null;
}

<div class="rootDirSection" id="rootDir_@(ViewData["guid"])" style="padding: 7px; padding-left: 3px;">
    <fieldset style="padding: 5px; height: 40px;">
            @{Html.Telerik().ComboBox()
                  .Name("path_" + ViewData["guid"])
                  .BindTo(Model.SelectList)
                  .DataBinding(binding => binding.Ajax().Select("_autoCompletePath", "Directory").Delay(400).Cache(true))
                  .Filterable(f => f.FilterMode(AutoCompleteFilterMode.StartsWith))
                  .HighlightFirstMatch(true)
                  .HtmlAttributes(new { style = "width: 300px;" })
                  .Render();}


            <a href="#RemoveRootDir" class="deleteRow" onclick="deleteRootDir('@ViewData["guid"]'); return false;">
                <img src="../../Content/Images/X.png" alt="Delete" width="20px" height="20px" style="vertical-align: middle; margin-top: 7px;"/></a>
                <button style="padding: 2px 10px 2px 10px; vertical-align: middle; margin: 0px; margin-top: 7px;" onclick="saveRootDir('@ViewData["guid"]')">Save</button>

            @Html.HiddenFor(x => x.Id, new { id = "id_" + ViewData["guid"] })
    </fieldset>
</div>