<style>
</style>

<span>
    <input id="rootDirInput" class="folderLookup" type="text" style="width: 400px" />
    <button id="saveDir">
        Add</button>
</span><span id="rootDirs">
    @{Html.RenderAction("RootList");}
</span>
