<fieldset class="advanced-setting">
    <legend>Delay Profiles</legend>

    <div class="col-md-12">
        <div class="rule-setting-list">
            <div class="rule-setting-header x-header hidden-xs">
                <div class="row">
                    <span class="col-sm-2">Protocol</span>
                    <span class="col-sm-2">Usenet Delay</span>
                    <span class="col-sm-2">Torrent Delay</span>
                    <span class="col-sm-5">Tags</span>
                </div>
            </div>
            <div class="rows x-rows"></div>
            <div class="rule-setting-footer">
                <div class="pull-right">
                    <span class="add-rule-setting-mapping">
                        <i class="icon-sonarr-add x-add" title="Add new delay profile" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</fieldset>