<ul class="nav nav-tabs">
    <li><a href="#missing" class="x-missing-tab no-router">Missing</a></li>
    <li><a href="#cutoff" class="x-cutoff-tab no-router">Cutoff Unmet</a></li>
</ul>

<div class="tab-pane" id="content"></div>
<!--<div class="tab-content">
    <div class="tab-pane" id="missing"></div>
    <div class="tab-pane" id="cutoff"></div>
</div>-->