@import "../Shared/Styles/card.less";
@import "../Shared/Styles/clickable.less";

#add-series-screen {
  .existing-series {

    .card();
    margin : 30px 0px;

    .unmapped-folder-path {
      padding: 20px;
      margin-left : 0px;
      font-weight : 100;
      font-size   : 25px;
      text-align  : center;
    }

    .new-series-loadmore {
      font-size      : 30px;
      font-weight    : 300;
      padding-top    : 10px;
      padding-bottom : 10px;
    }
  }

  .new-series {
    .search-item {
      .card();
      margin : 40px 0px;
    }
  }

  .add-series-search {
    margin-top    : 20px;
    margin-bottom : 20px;
  }

  .search-item {

    padding-bottom : 20px;

    .series-title {
      margin-top : 5px;

      .labels {
        margin-left : 10px;

        .label {
          font-size      : 12px;
          vertical-align : middle;
        }
      }

      .year {
        font-style : italic;
        color      : #aaaaaa;
      }
    }

    .new-series-overview {
      overflow : hidden;
      height   : 103px;

      .overview-internal {
        overflow : hidden;
        height   : 80px;
      }
    }

    .series-poster {
      min-width  : 138px;
      min-height : 203px;
      max-width  : 138px;
      max-height : 203px;
      margin     : 10px;
    }

    a {
      color : #343434;
    }

    a:hover {
      text-decoration : none;
    }

    select {
      font-size : 14px;
    }

    .checkbox {
      margin-top : 0px;
    }

    .add {
      i {
        &:before {
          color : #ffffff;
        }
      }
    }

    .monitor-tooltip {
      margin-left : 5px;
    }
  }

  .loading-folders {
    margin : 30px 0px;
    text-align: center;
  }
    
  .hint {
    color      : #999999;
    font-style : italic;
  }

  .monitor-tooltip-contents {
    padding-bottom : 0px;

    dd {
      padding-bottom : 8px;
    }
  }
}

li.add-new {
  .clickable;

  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}

li.add-new:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 129, 194);
}

.root-folders-modal {
  overflow : visible;

  .root-folders-list {
    overflow-y : auto;
    max-height : 300px;

    i {
      .clickable();
    }
  }

  .validation-errors {
    display : none;
  }

  .input-group {
    .form-control {
      background-color : white;
    }
  }

  .root-folders {
    margin-top : 20px;
  }
}
