<div class="text-center col-md-12">
    <h3>
        There was an error searching for '{{term}}'.
    </h3>

    If the series title contains non-alphanumeric characters try removing them, otherwise try your search again later.
</div>
