<select class="form-control col-md-2 x-series-type" name="seriesType">
    <option value="standard">Standard</option>
    <option value="daily">Daily</option>
    <option value="anime">Anime</option>
</select>
