<fieldset class="advanced-setting">
    <legend>Folders</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label">Create empty series folders</label>

        <div class="col-sm-9">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="createEmptySeriesFolders"/>

                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-nd-form-info" title="Create missing series folders during disk scan"/>
                </span>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="advanced-setting">
    <legend>Importing</legend>

{{#if_mono}}
    <div class="form-group">
        <label class="col-sm-3 control-label">Skip Free Space Check</label>

        <div class="col-sm-9">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="skipFreeSpaceCheckWhenImporting"/>

                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-nd-form-info" title="Use when drone is unable to detect free space from your series root folder"/>
                </span>
            </div>
        </div>
    </div>
{{/if_mono}}

    <div class="form-group">
        <label class="col-sm-3 control-label">Use Hardlinks instead of Copy</label>

        <div class="col-sm-9">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="copyUsingHardlinks"/>

                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-nd-form-info" title="Use Hardlinks when trying to copy files from seeding torrents"/>
                    <i class="icon-nd-form-warn" title="Occassionally, file locks may prevent renaming files that are currently seeding. Temporarily disable seeding while using the Rename UI to rename existing episodes to work around it."/>
                </span>
            </div>
        </div>
    </div>
</fieldset>
