.hotkeys-modal {
  h3 {
    margin-top: 0px;
    margin-botton: 0px;
  }

  .hotkey-group {
    &:first-of-type {
      margin-top: 0px;
    }

    &:last-of-type {
      margin-bottom: 0px;
    }

    margin-top: 25px;
    margin-bottom: 25px;

    .hotkey {
      font-size: 22px;
    }
  }
}
