.calendar {
  th, td {
    border-color: #eeeeee;
  }

  .primary {
    border-color: #007ccd;
    background-color: #007ccd;
  }

  .fc-event-skin {
    background-color: #007ccd;
    border: 1px solid #007ccd;
    border-radius: 4px;
    text-align: center;
  }

  .info {
    border-color: #14b8d4;
    background-color: #14b8d4;
  }

  .inverse {
    border-color: #333333;
    background-color: #333333;
  }

  .warning {
    border-color: #ffa93c;
    background-color: #ffa93c;
  }

  .danger {
    border-color: #ea494a;
    background-color: #ea494a;
  }

  th {
    background-color: #eeeeee;
  }

  .purple {
    border-color: #7932ea;
    background-color: #7932ea;
  }

  .success {
    border-color: #4cb158;
    background-color: #4cb158;
  }
  h2 {
    font-size: 17.5px;
  }
}

.event {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;

  .primary {
      border-color: #007ccd;
  }

  .info {
      border-color: #14b8d4;
  }

  h4 {
      text-transform: none !important;
      font-weight: 500;
      color: #008dcd;
      margin: 5px 0px;
  }

  .inverse {
      border-color: #333333;
  }

  .warning {
      border-color: #ffa93c;
  }

  p {
      color: #999999;
  }

  .danger {
      border-color: #ea494a;
  }

  .date {
    text-align: center;
    display: inline-block;
    border-left: 4px solid #eeeeee;
    padding-left: 16px;
    float: left;
    margin-right: 20px;

    h4 {
      line-height: 1em;
      color: #555555;
      font-weight: 300;
    }

    h1 {
      font-weight: 500;
      line-height: 0.8em;
    }
  }

  .purple {
      border-color: #7932ea;
  }

  .success {
      border-color: #4cb158;
  }
}