.menuContent {
  z-index: $popperZIndex;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: min(320px, calc(100vw - 20px));
  max-height: calc(var(--viewportHeight) - 20px);
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--toolbarMenuItemBackgroundColor);
  box-shadow: 0 8px 24px var(--popoverShadowColor);
  line-height: 20px;
}

.scroller {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

@media only screen and (max-width: $breakpointSmall) {
  .menuContent {
    max-width: calc(100vw - 16px);
    border-radius: 6px;
  }
}
