.menuItem {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 10px 20px;
  min-width: 150px;
  min-height: 44px;
  max-width: 300px;
  background-color: var(--toolbarMenuItemBackgroundColor);
  color: var(--menuItemColor);
  line-height: 20px;
  overflow-wrap: anywhere;

  &:hover,
  &:focus-visible {
    background-color: var(--toolbarMenuItemHoverBackgroundColor);
    color: var(--menuItemHoverColor);
    text-decoration: none;
  }
}

.isDisabled {
  color: var(--disabledColor);
  pointer-events: none;
}

@media only screen and (max-width: $breakpointSmall) {
  .menuItem {
    min-width: min(220px, calc(100vw - 40px));
    max-width: calc(100vw - 20px);
  }
}
