.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &::after {
    margin-left: 5px;
    content: '\25BE';
  }

  &:hover {
    color: $toobarButtonHoverColor;
  }
}

.isDisabled {
  color: $disabledColor;

  pointer-events: none;
}

@media only screen and (max-width: $breakpointSmall) {
  .menuButton {
    &::after {
      margin-left: 0;
      content: '\25BE';
    }
  }
}
