.menuItem {
  @add-mixin truncate;
  display: block;
  flex-shrink: 0;
  padding: 10px 20px;
  min-width: 150px;
  max-width: 250px;
  background-color: var(--toolbarMenuItemBackgroundColor);
  color: var(--menuItemColor);
  line-height: 20px;

  &:hover,
  &:focus {
    background-color: var(--toolbarMenuItemHoverBackgroundColor);
    color: var(--menuItemHoverColor);
    text-decoration: none;
  }
}

.isDisabled {
  color: var(--disabledColor);
  pointer-events: none;
}
