.menuContent {
  z-index: $popperZIndex;
  display: flex;
  flex-direction: column;
  background-color: var(--toolbarMenuItemBackgroundColor);
  line-height: 20px;
}

.scroller {
  display: flex;
  flex-direction: column;
}
