.menuContent {
  z-index: $popperZIndex;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4px;
  min-width: 180px;
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  background-color: var(--cardBackgroundColor);
  box-shadow:
    0 12px 32px -12px rgba(0, 0, 0, 0.32),
    0 2px 8px -2px rgba(0, 0, 0, 0.12);
  line-height: 20px;
}

.scroller {
  display: flex;
  flex-direction: column;
}
