.menuButton {
  composes: menuButton from '~./MenuButton.css';

  position: relative;

  &:hover {
    color: #666;
  }
}

.indicatorContainer {
  position: absolute;
  top: 10px;
  left: 10px;
}

.label {
  margin-left: 5px;
}
