.menuButton {
  composes: menuButton from '~./MenuButton.css';

  position: relative;

  &:hover {
    color: var(--inkMuted);
  }
}

.inner {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.iconWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.indicatorContainer {
  position: absolute;
  top: -4px;
  right: -4px;
}

.label {
  margin-left: 5px;
}
