.selectCell {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 30px;

  label {
    min-height: 0;
  }
}

.input {
  composes: input from '~Components/Form/CheckInput.css';

  margin: 0;
}
