.cell {
  @add-mixin truncate;
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  flex-grow: 0;
  flex-shrink: 1;
  white-space: nowrap;
}

@media only screen and (max-width: $breakpointMedium) {
  .cell {
    white-space: nowrap;
  }
}
