<div class="notification-item thingy">
    <div>
        <h3>{{name}}</h3>
    </div>

    <div class="settings">
        {{#if onGrab}}
            <span class="label label-success">On Grab</span>
        {{else}}
            <span class="label label-default">On Grab</span>
        {{/if}}

        {{#if onDownload}}
            <span class="label label-success">On Download</span>
        {{else}}
            <span class="label label-default">On Download</span>
        {{/if}}
    </div>
</div>
