<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net461" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net461" />
  <package id="ImageResizer" version="3.4.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.5.3" targetFramework="net461" />
  <package id="OAuth" version="1.0.3" targetFramework="net461" />
  <package id="Prowlin" version="0.9.4456.26422" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="TinyTwitter" version="1.1.2" targetFramework="net461" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net461" />
</packages>