<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.0" targetFramework="net45" />
  <package id="FluentMigrator.Runner" version="1.6.0" targetFramework="net45" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net45" />
  <package id="ImageResizer" version="3.4.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="OAuth" version="1.0.3" targetFramework="net45" />
  <package id="Prowlin" version="0.9.4456.26422" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="TinyTwitter" version="1.1.2" targetFramework="net45" />
  <package id="valueinjecter" version="3.1" targetFramework="net45" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net45" />
</packages>