<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        {{#if id}}
            <h3>Edit - Delay Profile</h3>
        {{else}}
            <h3>Add - Delay Profile</h3>
        {{/if}}
    </div>
    <div class="modal-body indexer-modal">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Protocol</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="Choose which protocol(s) to use and which one is preferred when choosing between otherwise equal releases" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <select class="form-control x-protocol">
                        <option value="preferUsenet">Prefer Usenet</option>
                        <option value="preferTorrent">Prefer Torrent</option>
                        <option value="onlyUsenet">Only Usenet</option>
                        <option value="onlyTorrent">Only Torrent</option>
                    </select>
                </div>
            </div>

            <div class="form-group x-usenet-delay">
                <label class="col-sm-3 control-label">Usenet Delay</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="Delay in minutes to wait before grabbing a release from Usenet" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="number" class="form-control" name="usenetDelay"/>
                </div>

                <span class="col-sm-pull-1 unit-inline">minutes</span>
            </div>

            <div class="form-group x-torrent-delay">
                <label class="col-sm-3 control-label">Torrent Delay</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="Delay in minutes to wait before grabbing a torrent" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="number" class="form-control" name="torrentDelay"/>
                </div>

                <span class="col-sm-pull-1 unit-inline">minutes</span>
            </div>

            {{#if_eq id compare="1"}}
                <div class="alert alert-info" role="alert">This is the default profile. It applies to all series that don't have an explicit profile.</div>
            {{else}}
            <div class="form-group">
                <label class="col-sm-3 control-label">Tags</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="One or more tags to apply these rules to matching series" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" class="form-control x-tags">
                </div>
            </div>
            {{/if_eq}}
        </div>
    </div>
    <div class="modal-footer">
        {{#if id}}
            {{#if_gt id compare="1"}}
                <button class="btn btn-danger pull-left x-delete">Delete</button>
            {{/if_gt}}
        {{/if}}
        <span class="indicator x-indicator"><i class="icon-sonarr-spinner fa-spin"></i></span>
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary x-save">Save</button>
    </div>
</div>
