<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        {{#if id}}
            <h3>Edit - Delay Profile</h3>
        {{else}}
            <h3>Add - Delay Profile</h3>
        {{/if}}
    </div>
    <div class="modal-body indexer-modal">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Preferred Protocol</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-nd-form-info" title="Choose which protocol to use when choosing between otherwise equal releases" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <select class="form-control" name="preferredProtocol">
                        <option value="1">Usenet</option>
                        <option value="2">Torrents</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Usenet Delay</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-nd-form-info" title="Delay in minutes to wait before grabbing a release from Usenet" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="number" class="form-control" name="usenetDelay"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Torrent Delay</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-nd-form-info" title="Delay in minutes to wait before grabbing a torrent" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="number" class="form-control" name="torrentDelay"/>
                </div>
            </div>

            {{#if_eq id compare="1"}}
                <div class="alert alert-info" role="alert">The default Delay Profile applies to all series unless overridden by a Delay Profile attached to a matching tag</div>
            {{else}}
            <div class="form-group">
                <label class="col-sm-3 control-label">Tags</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-nd-form-info" title="One or more tags to apply these rules to matching series" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" class="form-control x-tags">
                </div>
            </div>
            {{/if_eq}}
        </div>
    </div>
    <div class="modal-footer">
        {{#if id}}
            <button class="btn btn-danger pull-left x-delete">delete</button>
        {{/if}}
        <span class="indicator x-indicator"><i class="icon-spinner icon-spin"></i></span>
        <button class="btn" data-dismiss="modal">cancel</button>
        <button class="btn btn-primary x-save">save</button>
    </div>
</div>
