.tag {
  composes: card from '~Components/Card.css';

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 290px;
}

.label {
  color: var(--ink);
  white-space: nowrap;
  letter-spacing: -0.01em;
  font-weight: 600;
  font-size: 16px;
}
