@import "../Content/Bootstrap/mixins";
@import "../Content/Bootstrap/variables";
@import "../Content/Bootstrap/buttons";
@import "../Shared/Styles/clickable";
@import "../Content/mixins";
@import "../Content/variables";

.series-title-cell {
  .text-overflow();

  @media @sm {
    max-width: 250px
  }
}

.episode-title-cell {
  .text-overflow();

  color: #428bca;
  text-decoration: none;

  &:focus, &:hover {
    color: #2a6496;
    text-decoration: underline;
    cursor: pointer;
  }

  @media @lg {
    max-width: 350px;
  }

  @media @md {
    max-width: 250px;
  }

  @media @sm {
    max-width: 200px;
  }
}

.air-date-cell {
  width : 120px;
  cursor: default;
  .text-overflow();
}

.relative-date-cell, .relative-time-cell {
  .text-overflow();
  cursor : default;
}

.relative-date-cell {
  width : 150px;
}

.history-event-type-cell {
  width : 10px;
}

.download-report-cell {
  .clickable();

  width : 32px;

  i {
    .clickable();
  }
}

.toggle-cell{
  .clickable();
  .not-selectable;
}

.approval-status-cell {

  .popover {
    max-width : 400px;

    ul {
      margin-left: -25px;
    }
  }

  i {
    color : @brand-danger;
  }
}

td.episode-status-cell, td.quality-cell, td.history-quality-cell, td.progress-cell {
  text-align: center;
  width: 80px;

  .badge {
    font-size: 10px;
  }

  .progress {
    height        : 10px;
    margin-top    : 5px;
    margin-bottom : 0px;
  }
}

.history-details-cell {
  .clickable();
  width: 10px;

  i {
    .clickable();
  }
}

.release-title-cell {
  max-width: 400px;
  word-wrap: break-word;
}

.episode-actions-cell {
  width: 55px;

  i {
    .clickable();
    margin-left : 8px;

    &:first-of-type {
      margin-left : 0px;
    }
  }
}

.episode-activity-details-cell {
  width : 18px;
}

.episode-detail-modal {
  .episode-actions-cell {
    width : 18px;
  }
}

.series-actions-cell {
  width     : 56px;
  min-width : 56px;
}

.timeleft-cell {
  cursor     : default;
  width      : 80px;
  text-align : center;
}

.queue-status-cell {
  width      : 20px;
  text-align : center !important;
}

.queue-actions-cell {
  min-width  : 55px;
  width      : 55px;
  text-align : right !important;

  i {
    margin-left  : 1px;
    margin-right : 1px;
  }
}

.download-log-cell {
  width : 80px;
}

td.delete-episode-file-cell {
  .clickable();

  text-align : center;
  width      : 20px;

  i {
    .clickable();
  }
}

.series-status-cell {
  width: 16px;
}

.episode-number-cell {
  cursor : default;
}

.backup-type-cell {
  width : 20px;
}

.table>tbody>tr>td, .table>thead>tr>th {

  &.episode-warning-cell {
    width         : 1px;
    padding-left  : 0px;
    padding-right : 0px;
  }
}

.log-message-cell {
  word-break: break-all;
  word-wrap: break-word;
}

.execute-task-cell {
  width : 28px;

  i {
    .clickable();
  }
}

.task-interval-cell, .next-execution-cell {
  cursor : default;
}

.task-interval-cell {
  width : 150px;
}

.next-execution-cell {
  width : 200px;
}

.tasks {
  .relative-time-cell {
    width : 200px;
  }
}

.age-cell {
  cursor : default;
}

.blacklist-actions-cell {
  min-width  : 55px;
  width      : 55px;
  text-align : right !important;

  i {
    .clickable();
    margin-left  : 2px;
    margin-right : 2px;
  }
}
