<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Web.Tasks"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />

            <!-- bindingRedirect from 1.0.0.0 to 1.0.0.0 is necessary for the codeBase to be used
                 when passing config to the CLR Host.
                 Note: if config file is specified along the exe, codeBase is consumed fine
                 even without bindingRedirect -->

            <bindingRedirect oldVersion="1.0.0.0"
                             newVersion="1.0.0.0"/>
            <codeBase version="1.0.0.0" href="C:\Program Files (x86)\Microsoft WebMatrix\microsoft.web.tasks.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
