<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Web.Administration"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="7.0.0.0-7.1.0.0"
                             newVersion="7.9.0.0"/>
         </dependentAssembly>
         <!--<dependentAssembly>
            <assemblyIdentity name="Microsoft.WebMatrix"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="7.0.0.0-7.1.0.0"
                             newVersion="7.9.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.WebMatrix.Aspnet"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="7.5.0.0"
                             newVersion="7.6.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.WebMatrix.AspnetClient"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="7.5.0.0"
                             newVersion="7.6.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.WebMatrix.Iis"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="7.5.0.0"
                             newVersion="7.6.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.WebMatrix.WebDAVClient"
                              publicKeyToken="31bf3856ad364e35"
                              culture="neutral" />
            <bindingRedirect oldVersion="7.5.0.0"
                             newVersion="7.6.0.0"/>
         </dependentAssembly>-->
      </assemblyBinding>
   </runtime>
</configuration>
