<div id="x-download-clients-region"></div>
<div class="form-horizontal">
    <div id="x-download-handling-region"></div>
    <div id="x-dronefactory-region"></div>
    <div id="x-remotepath-mapping-region"></div>
</div>
