<div class="download-client-item thingy">
    <div>
        <h3>{{name}}</h3>
    </div>

    <div class="settings">
        {{#if enable}}
            <span class="label label-success">Enabled</span>
        {{else}}
            <span class="label label-default">Not Enabled</span>
        {{/if}}
    </div>
</div>
