<div class="row">
    <div class="col-md-12">
        <div id="x-queue" class="queue table-responsive"/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="x-queue-pager"/>
    </div>
</div>