<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body remove-from-queue-modal">

        <div class="row">
            <div class="col-sm-12">
                Are you sure you want to remove '{{title}}'?
            </div>
        </div>

        {{#if showBlacklist}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Blacklist release</label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="checkbox toggle well">
                                    <input type="checkbox" class="x-blacklist"/>
                                    <p>
                                        <span>Yes</span>
                                        <span>No</span>
                                    </p>

                                    <div class="btn slide-button btn-danger"/>
                                </label>

                                    <span class="help-inline-checkbox">
                                        <i class="icon-sonarr-form-info" title="Do you want to blacklist this release?"/>
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="modal-footer">
        <span class="indicator x-indicator"><i class="icon-sonarr-spinner fa-spin"></i></span>
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger x-confirm-remove">Remove</button>
    </div>
</div>
