.indexer {
  composes: card from '~Components/Card.css';

  width: 290px;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
}

.name {
  @add-mixin truncate;

  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}

.cloneButton {
  composes: button from '~Components/Link/IconButton.css';

  height: 36px;
}

.enabled {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
