<div class="row">
    <div class="col-md-12">
        <div id="x-backup-toolbar"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="x-backups" class="table-responsive"/>
    </div>
</div>
