.message {
  margin-top: 20px;
  margin-bottom: 10px;
}

.pathContainer {
  margin-left: 5px;
}

.path {
  margin-left: 5px;
  color: var(--dangerColor);
  font-weight: bold;
}

.statistics {
  margin-left: 5px;
  color: var(--warningColor);
}

.deleteFilesMessage {
  margin-top: 20px;
  color: var(--warningColor);
}
