<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject.Web.Mvc2" version="2.2.0.1" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="jQuery.Validation" version="1.8.0.1" />
  <package id="jQuery" version="1.6.1" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="MiniProfiler" version="1.9" />
  <package id="WebActivator" version="1.4.2" />
  <package id="jQuery" version="1.6.3" />
  <package id="jQuery.UI.Combined" version="1.8.16" />
  <package id="TelerikMvcExtensions" version="2011.2.712" />
</packages>