<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataTables.Mvc" version="0.1.0.85" />
  <package id="DataTables.Mvc.Core" version="0.1.0.85" />
  <package id="DynamicQuery" version="1.0" />
  <package id="EntityFramework" version="4.3.0" />
  <package id="EntityFramework.SqlServerCompact" version="4.1.8482.2" />
  <package id="FontAwesome" version="2.0.2" targetFramework="net40" />
  <package id="jQuery" version="1.6.1" />
  <package id="jQuery" version="1.8.1" targetFramework="net40" />
  <package id="jQuery.Ajax.Unobtrusive" version="2.0.20126.16343" />
  <package id="jquery.cookie" version="1.0" />
  <package id="jquery.datatables" version="1.9.0" />
  <package id="jQuery.UI.Combined" version="1.8.17" />
  <package id="jQuery.Validation" version="1.8.0.1" />
  <package id="jQuery.Validation" version="1.9" />
  <package id="jQuery.Validation.Unobtrusive" version="2.0.20126.16343" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="MiniProfiler" version="2.0.2" />
  <package id="MiniProfiler.MVC3" version="2.0.2" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net40" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="Ninject.Web.Mvc2" version="2.2.0.1" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="ServiceStack.Text" version="3.6.9" />
  <package id="SignalR.Hosting.AspNet" version="0.4.0.0" />
  <package id="SignalR.Js" version="0.4.0.1" />
  <package id="SignalR.Server" version="0.4.0.0" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="WebActivator" version="1.5.1" />
</packages>