@model NzbDrone.Web.Models.IndexerSettingsModel

<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            target: '#result',
            beforeSubmit: showRequest,
            success: showResponse,
            type: 'post',
            resetForm: false
        };
        $('#form').ajaxForm(options);
        $('#save_button').attr('disabled', '');
    });
    
    function showRequest(formData, jqForm, options) {
        $("#result").empty().html('Saving...');
        $("#form :input").attr("disabled", true);
    }

    function showResponse(responseText, statusText, xhr, $form) {
        $("#result").empty().html(responseText);
        $("#form :input").attr("disabled", false);
    }
</script>

<style>
    .section_content
    {
        padding-left: 15px;
    }
    
    .indexer_group
    {
        width: 220px;
    }
    
    .indexer_left
    {
        display: inline;
    }
    
    .indexer_right
    {
        display:inline;
        float: right;
    }
    
    .indexer_checkbox
    {
        margin-right: 135px;
    }
</style>

@using (Html.BeginForm("SaveIndexers", "Settings", FormMethod.Post, new { id = "form", name = "form" })) {
    @Html.ValidationSummary(true, "Unable to save your settings. Please correct the errors and try again.")

        <fieldset>
            <legend>Indexers</legend>
            <div>
                    @{ Html.Telerik().PanelBar()
                    .Name("PanelBar")
                    .HtmlAttributes(new { style = "width: 300px; margin: 10px;" })
                    .ExpandMode(PanelBarExpandMode.Single)
                    .SelectedIndex(0)
                    .Items(item =>
                    {
                        item.Add()
                            .Text("NZBs.org")
                            .ImageUrl("~/Content/Images/Indexers/NzbsOrg.png")
                            .Content(
                                "<div class=\"section_content\">" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            "Enabled" +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.CheckBoxFor(m => m.NzbsOrgEnabled, new { @class = "indexer_checkbox" }) +
                                        "</div>" +
                                    "</div>" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NzbsOrgUId) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NzbsOrgUId) +
                                        "</div>" +
                                    "</div>" +
                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NzbsOrgHash) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NzbsOrgHash) +
                                        "</div>" +
                                    "</div>" +
                                "</div>"
                            );
                        item.Add()
                            .Text("NZB Matrix")
                            .ImageUrl("~/Content/Images/Indexers/NzbMatrix.png")
                            .Content(
                                "<div class=\"section_content\">" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            "Enabled" +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.CheckBoxFor(m => m.NzbMatrixEnabled, new { @class = "indexer_checkbox" }) +
                                        "</div>" +
                                    "</div>" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NzbMatrixUsername) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NzbMatrixUsername) +
                                        "</div>" +
                                    "</div>" +
                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NzbMatrixApiKey) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NzbMatrixApiKey) +
                                        "</div>" +
                                    "</div>" +
                                "</div>"
                            );
                        item.Add()
                            .Text("NZBsRus")
                            .ImageUrl("~/Content/Images/Indexers/NzbsRus.png")
                            .Content(
                                "<div class=\"section_content\">" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            "Enabled" +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.CheckBoxFor(m => m.NzbsRUsEnabled, new { @class = "indexer_checkbox" }) +
                                        "</div>" +
                                    "</div>" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NzbsrusUId) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NzbsrusUId) +
                                        "</div>" +
                                    "</div>" +
                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NzbsrusHash) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NzbsrusHash) +
                                        "</div>" +
                                    "</div>" +
                                "</div>"
                            );
                        item.Add()
                            .Text("Newzbin")
                            .ImageUrl("~/Content/Images/Indexers/Newzbin.png")
                            .Content(
                                "<div class=\"section_content\">" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            "Enabled" +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.CheckBoxFor(m => m.NewzbinEnabled, new { @class = "indexer_checkbox" }) +
                                        "</div>" +
                                    "</div>" +

                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NewzbinUsername) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NewzbinUsername) +
                                        "</div>" +
                                    "</div>" +
                                    "<div class=\"indexer_group\">" +
                                        "<div class=\"indexer_left\">" +
                                            Html.LabelFor(m => m.NewzbinPassword) +
                                        "</div>" +
                                        "<div class=\"indexer_right\">" +
                                            Html.TextBoxFor(m => m.NewzbinPassword) +
                                        "</div>" +
                                    "</div>" +
                                "</div>"
                            );
                    }).Render(); 
                }
        </div>
        
        <div id="save_button_div">
            <input type="submit" id="save_button" value="Save" disabled="disabled" />
        </div>
    </fieldset>
}
<div id="result" class="hiddenResult"></div>