@model NzbDrone.Web.Models.EpisodeNamingModel
@{
    Layout = "_SettingsLayout.cshtml";
}
<style>
    #examples
    {
        margin-top: 5px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    
    .settingsContainer
    {
        overflow: auto;
    }
</style>

<div id="stylized">
    @using (Html.BeginForm("SaveNaming", "Settings", FormMethod.Post, new { id = "NamingForm", name = "NamingForm", @class = "settingsForm" }))
    {
        <div class="jquery-accordion">
            <h3><a href="#">Episode Naming</a></h3>
            <div id="episodeNamingContainer">
                @{Html.RenderPartial("EpisodeNamingPartial", Model);}
            </div>
            
            <h3><a href="#">Metadata</a></h3>
            <div id="metadataContainer">
                @{Html.RenderPartial("MetaDataPartial", Model);}
            </div>
        </div>
        
        <button type="submit" class="save_button" disabled="disabled">
            Save</button>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            createExamples();
        });
    </script>
}