@{
    Layout = null;
}


            @using (Html.BeginForm("SaveDownloads", "Settings", FormMethod.Post, new { id = "feedback-form" }))
            {
                <p class="note">This is just an example, sent data will <strong>not</strong> be saved.</p>
                <label for="name">Name:</label>
                @Html.TextBox("name") 
                <label for="email">E-mail:</label>
                @Html.TextBox("email") 
                <label for="comment-value">Comments:</label>
                @(Html.Telerik().Editor()
                        .Name("comment")
                        .Tools(tools => tools
                            .Clear()
                            .Bold().Italic().Separator()
                            .InsertOrderedList().InsertUnorderedList().Separator()
                            .Indent().Outdent()
                        ))
                    <button type="submit" class="t-button t-state-default">Save</button>
                    <button type="button" class="t-button t-state-default" onclick="closeWindow()">Close</button>
            }
