<style>
	.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
</style>
<script>
    $(function () {
        $("#birds").autocomplete({
            source: "/Settings/TestResults",
            minLength: 3,
            delay: 500,
            select: function (event, ui) {
                $(this).val(ui.item.Title);
                return false;
            }
        })
	    .data("autocomplete")._renderItem = function (ul, item) {
	        return $("<li></li>")
			.data("item.autocomplete", item)
			.append("<a><strong>" + item.Title + "</strong><br>" + item.FirstAired + "</a>")
			.appendTo(ul);
	    };
    });
</script>



<div class="demo">

<div class="ui-widget">
	<label for="birds">Birds: </label>
	<input id="birds" />
</div>

</div><!-- End demo -->