<script>
    $(function () {
//        $(".quality-selectee").each(function() {
//            $(this).button();
//        });
        $('#test').button();
    });
</script>

<input type="checkbox" id="test" class="quality-selectee" /><label for="shuffle">SDTV</label>
<input type="checkbox" class="quality-selectee" /><label for="shuffle">DVD</label>
<input type="checkbox" class="quality-selectee" /><label for="shuffle">HDTV</label>