<script type="text/javascript">
    $(document).ready(function () {
        //$('#save_button').attr('disabled', '');
    });
</script>

<style>
    #save_button[disabled="disabled"]
    {      
        padding: 0px 6px 0px 6px;
        border: 2px outset ButtonFace;
        color: GrayText;
        cursor: inherit;
    }
</style>

<button type="submit" id="save_button" disabled="disabled">Save</button>