<div id="image" value="5">
    <img src='../../Content/Images/watched.png' class='ignoreEpisode watched' value='5' />
</div>

<script type="text/javascript">
    $(".ignoreEpisode").live("click", function () {
        var toggle = $(this);

        if (toggle.hasClass('watched')) {
            toggle.removeClass('watched');
            toggle.attr('src', '../../Content/Images/unwatched.png');
        }

        else {
            toggle.addClass('watched');
            toggle.attr('src', '../../Content/Images/watched.png');
        }
    });
</script>

