#localSeriesLookup {
    width: 220px;
    border: 0px;
    background: rgb(75, 75, 75);
    color: rgb(169, 169, 169);
    padding: 4px;
    font-size: 13px;
}

body {
    background: #191919 url(images/background.jpg) no-repeat right top;
    font-size: 14px;
    color: #3C3C3C;
    background-attachment: fixed;
}

#logo {
    height: 135px;
    background: url(images/logo.png) no-repeat left top;
    background-color: #065EFE;
    color: white; /**color: rgb(40, 40, 40);**/
    text-transform: lowercase;
    letter-spacing: -1px;
    line-height: 110px;
    font-family: "Segoe UI Light", "Open Sans", "Segoe UI", sans-serif;
    font-weight: 100;
    font-size: 110px;
}

#content {
    background: white;
}

#main-region {
    margin-top: 20px;
    margin-bottom: 100px;
    min-height: 600px;
}

.nz-center {
    text-align: center;
}

.nz-center .typeahead {
    text-align: left;
}

#footer-region {
    font-size: 16px;
    text-decoration: none;
    font-weight: lighter;
    margin: 20px 0 30px 0;
}

    #footer-region a:hover {
        text-decoration: underline;
    }


.nz-spinner {
    font-size: 56px;
    text-align: center;
    padding: 30px;
}


#notification-region .alert {
    margin: 10px;
}

#notification-region i {
    padding-right: 10px;
}


.line {
    height: 4em;
    line-height: 4em;
}

.line > [class^="icon-"], .line > [class*=" icon-"] {
    margin-top: 1em;
    height: 1em;
    line-height: 1em;
}

/* Progress Bar Text */
.progress {
    width: 125px;
    position: relative;
    margin-bottom: 2px;
}

.progress .bar {
    position: absolute;
    overflow: hidden;
}
.progress .progressbar-back-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
}
.progress .progressbar-front-text {
    display: block;
    width: 125px;
    font-size: 12px;
    text-align: center;
}

/* Todo: Should move this to somehting modal/form specific */

label.checkbox {
    font-size: 14px;
    line-height: normal;
    color: #595959;
}

label, .form-horizontal input, .form-horizontal select {
    font-size: 14px;
    line-height: 14px;
}

label.control-label {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}