#localSeriesLookup {
    width: 220px;
    border: 0px;
    background: rgb(75, 75, 75);
    color: rgb(169, 169, 169);
    padding: 4px;
    font-size: 13px;
}

body {
    background: #191919 url(images/background.jpg) no-repeat right top;
    font-size: 13px;
    color: #3C3C3C;
    background-attachment: fixed;
}

#logo {
    height: 135px;
    background: url(images/logo.png) no-repeat left top;
    background-color: #065EFE;
    color: white; /**color: rgb(40, 40, 40);**/
    text-transform: lowercase;
    letter-spacing: -1px;
    line-height: 110px;
    font-family: "Segoe UI Light", "Open Sans", "Segoe UI", sans-serif;
    font-weight: 100;
    font-size: 110px;
}

#content {
    background: white;
}

#main-region {
    margin-top: 20px;
    margin-bottom: 100px;
    min-height: 600px;
}

.nz-center {
    text-align: center;
}

#footer-region {
    font-size: 16px;
    text-decoration: none;
    font-weight: lighter;
    margin: 20px 0 30px 0;
}

    #footer-region a:hover {
        text-decoration: underline;
    }


.nz-spinner {
    font-size: 56px;
    text-align: center;
    padding: 30px;
}


#notification-region .alert {
    margin: 10px;
}

#notification-region i {
    padding-right: 10px;
}


.line {
    height: 4em;
    line-height: 4em;
}

    .line > [class^="icon-"], .line > [class*=" icon-"] {
        margin-top: 1em;
        height: 1em;
        line-height: 1em;
    }


