.jumpBarItem {
  flex: 1 1 $jumpBarItemHeight;
  border-bottom: 1px solid var(--borderColor);
  text-align: center;
  font-weight: bold;

  &:hover {
    color: #777;
  }

  &:last-child {
    border: none;
  }
}
