<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="ColoredConsole" name="consoleLogger" layout="[${level}] ${logger}: ${message} ${onexception:inner=${newline}${newline}${exception:format=ToString}${newline}}"/>
    <target xsi:type="File" name="fileLogger" fileName="${date:format=yyyy.MM.dd-H-mm}.txt" autoFlush="true" keepFileOpen="false"
           concurrentWrites="false" concurrentWriteAttemptDelay="50" concurrentWriteAttempts ="10" 
            layout="${date:format=yy-M-d HH\:mm\:ss.f}|${logger}}|${level}|${message}|${exception:format=ToString}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="consoleLogger"/>
    <logger name="*" minlevel="Trace" writeTo="fileLogger"/>
  </rules>
</nlog>