.relativePath {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}

.quality {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';

  text-align: center;
}
