    <div class="col-sm-4">
        {{genericTagDisplay required 'label label-success'}}
    </div>
    <div class="col-sm-4">
        {{genericTagDisplay ignored 'label label-danger'}}
    </div>
    <div class="col-sm-3">
        {{tagDisplay tags}}
    </div>
    <div class="col-sm-1">
        <div class="pull-right"><i class="icon-sonarr-edit x-edit" title="" data-original-title="Edit"></i></div>
    </div>