<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {{#if id}}
            <h3>Edit Restriction</h3>
        {{else}}
            <h3>Add Restriction</h3>
        {{/if}}
    </div>
    <div class="modal-body remotepath-mapping-modal">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Must contain</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="The release must contain at least one of these terms (case insensitive)" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" name="required" class="form-control x-required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Must not contain</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="The release will be rejected if it contains one or more of terms (case insensitive)" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" name="ignored" class="form-control x-ignored"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Tags</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="Restrictions will apply to series with one or more matching tags. Leave blank to apply to all series" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" class="form-control x-tags">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{#if id}}
            <button class="btn btn-danger pull-left x-delete">Delete</button>
        {{/if}}

        <button class="btn" data-dismiss="modal">Cancel</button>

        <div class="btn-group">
            <button class="btn btn-primary x-save">Save</button>
        </div>
    </div>
</div>
