    <span class="col-sm-4">
        {{genericTagDisplay required 'label label-success'}}
    </span>
    <span class="col-sm-4">
        {{genericTagDisplay ignored 'label label-danger'}}
    </span>
    <span class="col-sm-3">
        {{tagDisplay tags}}
    </span>
    <span class="col-sm-1">
        <div class="pull-right"><i class="icon-nd-edit x-edit" title="" data-original-title="Edit"></i></div>
    </span>