<div id="x-toolbar"/>
<div class="row">
    <div class="col-md-12">
        <div id="x-missing" class="table-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="x-pager"/>
    </div>
</div>
