<div class="profile-item thingy">
    <div>
        <h3 name="name"></h3>
    </div>

    <div class="language">
        {{languageLabel}}
    </div>

    <ul class="allowed-qualities">
        {{allowedLabeler}}
    </ul>
</div>