.modalBody {
  composes: modalBody from '~Components/Modal/ModalBody.css';

  display: flex;
  flex-direction: column;
}

.mappedDrivesWarning {
  composes: alert from '~Components/Alert.css';

  margin: 0;
  margin-bottom: 20px;
}

.faqLink {
  color: var(--alertWarningColor);
  font-weight: bold;
}

.pathInput {
  composes: inputWrapper from '~Components/Form/PathInput.css';

  flex: 0 0 auto;
}

.scroller {
  margin-top: 20px;
}

.loading {
  display: inline-block;
  margin-right: auto;
}
