<fieldset>
    <legend>Quality Definitions</legend>
    <div class="col-md-11">
        <div id="quality-definition-list">
            <div class="quality-header x-header hidden-xs">
                <div class="row">
                    <span class="col-md-2 col-sm-3">Quality</span>
                    <span class="col-md-2 col-sm-3">Title</span>
                    <span class="col-md-4 col-sm-6">Size Limit <i class="icon-sonarr-info" title="Limits are automatically adjusted for the series runtime and number of episodes in the file." /></span>
                </div>
            </div>
            <div class="rows x-rows">
            </div>
        </div>
    </div>
</fieldset>
