    <span class="col-md-2 col-sm-3">
        {{quality.name}}
    </span>
    <span class="col-md-2 col-sm-3">
        <input type="text" class="form-control" name="title">
    </span>
    <span class="col-md-4 col-sm-6">
        <div class="x-slider"></div>
        <div class="size-label-wrapper">
            <div class="pull-left">
                <span class="label label-warning x-min-thirty"
                      name="thirtyMinuteMinSize"
                      title="Minimum size for a 30 minute episode">
                </span>
                <span class="label label-info x-min-sixty"
                      name="sixtyMinuteMinSize"
                      title="Minimum size for a 60 minute episode">
                </span>
            </div>
            <div class="pull-right">
                <span class="label label-warning x-max-thirty"
                      name="thirtyMinuteMaxSize"
                      title="Maximum size for a 30 minute episode">
                </span>
                <span class="label label-info x-max-sixty"
                      name="sixtyMinuteMaxSize"
                      title="Maximum size for a 60 minute episode">
                </span>            
            </div>
        </div>
    </span>