@import "../../shared/Styles/card.less";

.add-notification-item {
  .card;
  cursor: pointer;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.notifications {
  text-align: center;

  .items {
    list-style-type: none;
    margin: 0px;

    li {
      display: inline-block;
      vertical-align: top;
    }
  }
}

