<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="1.7.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="NBuilder" version="3.0.1.1" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NUnit" version="2.6.0.12054" />
</packages>