<div class="modal-content">
    <div class="log-details-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h3>Details</h3>

        </div>
        <div class="modal-body">
            Message
            <pre>{{message}}</pre>

            {{#if exception}}
                <br/>
                Exception
                <pre>{{exception}}</pre>
            {{/if}}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
