.sub-menu
{
    padding-left: 5px;
}
    
.sub-menu li
{
    display: inline;
    list-style-type: none;
    padding-left: 8px;
    padding-right: 12px;
    padding-top: 6px;
    border-right: 1px solid #F0F0F0;
}
    
.sub-menu a
{
    text-decoration: none;
    color: #105CD6;
}

.t-grid .sub-menu
{
    margin-left: -10px;
    margin-bottom: 0px;
}