.languageProfiles {
  display: flex;
  flex-wrap: wrap;
}

.addLanguageProfile {
  composes: languageProfile from './LanguageProfile.css';

  background-color: $cardAlternateBackgroundColor;
  color: $gray;
  text-align: center;
  font-size: 45px;
}

.center {
  display: inline-block;
  padding: 5px 20px 0;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background-color: $white;
}
