.selectAllHeaderCell {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.module.css';

  flex: 0 0 36px;
}

.container {
  composes: container from 'Components/Form/CheckInput.module.css';
}

.container > label {
  min-height: 0;
}

.input {
  composes: input from 'Components/Form/CheckInput.module.css';

  margin: 0;
}
