.selectAllHeaderCell {
  composes: headerCell from 'Components/Table/TableHeaderCell.module.css';

  flex: 0 0 36px;
}

.input {
  composes: input from 'Components/Form/CheckInput.module.css';

  margin: 0;
}
