<fieldset>
    <legend>Options</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label">Minimum Age</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="Usenet only: Minimum age in minutes of NZBs before they are grabbed. Use this to give new releases time to propagate to your usenet provider."/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" min="0" name="minimumAge" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Retention</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="Usenet only: Set to zero to set to unlimited"/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" min="0" name="retention" class="form-control"/>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">RSS Sync Interval</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-warning" title="This will apply to all indexers, please follow the rules set forth by them"/>
            <i class="icon-sonarr-form-info" title="Interval in minutes. Set to zero to disable (this will stop all automatic release grabbing)"/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" name="rssSyncInterval" class="form-control" min="0" max="120"/>
        </div>
    </div>
</fieldset>
