<fieldset>
    <legend>More Info</legend>

    <dl class="dl-horizontal info">
        <dt>Home page</dt>
        <dd><a href="https://sonarr.tv/">sonarr.tv</a></dd>

        <dt>Wiki</dt>
        <dd><a href="https://wiki.sonarr.tv/">wiki.sonarr.tv</a></dd>

        <dt>Forums</dt>
        <dd><a href="https://forums.sonarr.tv/">forums.sonarr.tv</a></dd>

        <dt>Twitter</dt>
        <dd><a href="https://twitter.com/sonarrtv">@sonarrtv</a></dd>

        <dt>IRC</dt>
        <dd><a href="irc://irc.freenode.net/#sonarr">#sonarr on Freenode</a> or (<a href="http://webchat.freenode.net/?channels=#sonarr">webchat</a>)</dd>

        <dt>Source</dt>
        <dd><a href="https://github.com/Sonarr/Sonarr/">github.com/Sonarr/Sonarr</a></dd>

        <dt>Feature Requests</dt>
        <dd><a href="https://forums.sonarr.tv/">forums.sonarr.tv</a></dd>
        <dd><a href="https://github.com/Sonarr/Sonarr/issues">github.com/Sonarr/Sonarr/issues</a> <b>(Please post issues on the forum first and not on github)</b></dd>
    </dl>
</fieldset>

