<li class="dropdown-submenu">
    <a href="#" tabindex="-1" data-token="Movie Title">Movie Title</a>
    <ul class="dropdown-menu">
        <li><a href="#" data-token="Movie Title">Movie Title</a></li>
        <li><a href="#" data-token="Movie.Title">Movie.Title</a></li>
        <li><a href="#" data-token="Movie_Title">Movie_Title</a></li>
        <li><a href="#" data-token="Movie OriginalTitle">Movie OriginalTitle</a></li>
        <li><a href="#" data-token="Movie.OriginalTitle">Movie.OriginalTitle</a></li>
        <li><a href="#" data-token="Movie_OriginalTitle">Movie_OriginalTitle</a></li>
        <li><a href="#" data-token="Movie CleanTitle">Movie CleanTitle</a></li>
        <li><a href="#" data-token="Movie.CleanTitle">Movie.CleanTitle</a></li>
        <li><a href="#" data-token="Movie_CleanTitle">Movie_CleanTitle</a></li>
        <li><a href="#" data-token="Movie CleanOriginalTitle">Movie CleanOriginalTitle</a></li>
        <li><a href="#" data-token="Movie.CleanOriginalTitle">Movie.CleanOriginalTitle</a></li>
        <li><a href="#" data-token="Movie_CleanOriginalTitle">Movie_CleanOriginalTitle</a></li>
    </ul>
</li>
