#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

EXCLUDE_MODULEREFS = crypt32 httpapi __Internal ole32.dll

%:
	dh $@ --with=systemd --with=cli

# No init script, only systemd
override_dh_installinit:
	true

# Sonarr likes debug symbols for logging
override_dh_clistrip:

override_dh_makeclilibs:

override_dh_clideps:
	dh_clideps -d -r $(patsubst %,--exclude-moduleref=%,$(EXCLUDE_MODULEREFS))
