.calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.calendarContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-top: -24px;
  padding-top: 24px;
  background: var(--pageBackground);
}

@media (--breakpointSmall) {
  .sticky {
    margin-top: calc(var(--pageContentBodyPaddingSmallScreen) * -1);
    padding-top: var(--pageContentBodyPaddingSmallScreen);
  }
}
