<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMoq" version="1.6.2.0" targetFramework="net40" />
  <package id="FluentAssertions" version="4.0.0" targetFramework="net45" />
  <package id="FluentMigrator" version="1.6.0" targetFramework="net45" />
  <package id="FluentMigrator.Runner" version="1.6.0" targetFramework="net45" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" />
  <package id="NCrunch.Framework" version="2.16.0.13" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Prowlin" version="0.9.4456.26422" targetFramework="net40" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>