.item {
  display: flex;
}

.title {
  margin-right: 20px;
  width: 250px;
  text-align: right;
  font-weight: bold;
}

.description {
  /* composes: description from '~Components/DescriptionList/DescriptionListItemTitle.css'; */
}

@media (max-width: $breakpointSmall) {
  .item {
    display: block;
  }
}
