.link {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;

  &:global(.isDisabled) {
    cursor: default;
  }
}

.to {
  color: $linkColor;

  &:hover {
    color: $linkHoverColor;
    text-decoration: underline;
  }
}
