.series-item {
  padding-bottom: 30px;

  :hover {
    text-decoration: none;
  }

  h2 {
    margin-top: 0px;
  }

  a{
    color: #000000;
  }
}

.series-posters {
  list-style-type: none;

  li {
    display: inline-block;
    vertical-align: top;
  }
.series-page-header {
  padding-bottom: 50px;
}

.series-posters-item {
  margin-bottom: 20px;

  .center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  .progress {
    left: 22px;
    margin-top: 5px;
  }

  .title {
    font-size: 17px;
    text-rendering: optimizelegibility;
  }

  .labels {
    display: inline-block;
    opacity: 0.75;
    width: 138px;

    .label {
      margin-top: 3px;
      display: block;
    }
  }
.series-season {
  padding-bottom: 20px;
}
}

.series-poster-container {
  position: relative;
  overflow: hidden;
  display: inline-block;

  .ended-banner {
    color: #EEEEEE;
    background-color: #B94A48;
    -moz-box-shadow: 2px 2px 20px #888;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    position: absolute;
    width: 300px;
    top: 180px;
    left: -120px;
    text-align: center;
  }
}
