.series-item {
  padding-bottom: 20px;

  h2 {
    margin-top: 0px;
  }
}

.series-posters {
  list-style-type: none;

  li {
    display: inline-block;
    vertical-align: top;
  }
}

.series-posters-item {
  margin-bottom: 20px;

  .center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  .progress {
    left: 22px;
    margin-top: 5px;
  }
}