<div class="form-group">
    <label class="col-sm-3 control-label">Include Movie Title</label>

    <div class="col-sm-9">
        <div class="input-group">
            <label class="checkbox toggle well">
                <input type="checkbox" name="includeMovieTitle"/>

                <p>
                    <span>Yes</span>
                    <span>No</span>
                </p>

                <div class="btn btn-primary slide-button"/>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Include Quality</label>

    <div class="col-sm-9">
        <div class="input-group">
            <label class="checkbox toggle well">
                <input type="checkbox" name="includeMovieQuality"/>

                <p>
                    <span>Yes</span>
                    <span>No</span>
                </p>

                <div class="btn btn-primary slide-button"/>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Replace Spaces</label>

    <div class="col-sm-9">
        <div class="input-group">
            <label class="checkbox toggle well">
                <input type="checkbox" name="replaceSpaces"/>

                <p>
                    <span>Yes</span>
                    <span>No</span>
                </p>

                <div class="btn btn-primary slide-button"/>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Separator</label>

    <div class="col-sm-9">
        <select class="form-control" name="separator">
            <option value=" - ">Dash</option>
            <option value=" ">Space</option>
            <option value=".">Period</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Numbering Style</label>

    <div class="col-sm-9">
        <select class="form-control" name="numberStyle">
            <option value="{season}x{episode:00}">1x05</option>
            <option value="{season:00}x{episode:00}">01x05</option>
            <option value="S{season:00}E{episode:00}">S01E05</option>
            <option value="s{season:00}e{episode:00}">s01e05</option>
        </select>
    </div>
</div>
