<i class="select-handle pull-left x-select" />
<span class="quality-label">{{quality.name}}</span>
<i class="drag-handle pull-right icon-sonarr-reorder advanced-setting x-drag-handle" />
<label class="cutoff pull-right">
    <input type="radio" name="cutoff" />
    <span class="label label-default not-selected">Set as cutoff</span>
    <span class="label label-info selected">Current cutoff</span>
</div>
