Source: nzbdrone
Section: web
Priority: optional
Maintainer: NzbDrone <contact@nzbdrone.com>
Depends: libmono-cil-dev (>= 2.10.1)
Homepage: http://www.nzbdrone.com
Vcs-Git: git@github.com:NzbDrone/NzbDrone.git
Vcs-Browser: https://github.com/NzbDrone/NzbDrone

Package: nzbdrone
Architecture: all
Description: NZBDrone is a PVR for newsgroup users
