.title {
  line-height: var(--lineHeight);
}

.title {
  font-weight: 600;
}

@media (--breakpointSmallUp) {
  .title {
    @add-mixin truncate;

    float: left;
    clear: left;
    width: 160px;
    text-align: right;
  }
}
