.shortcut {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 18px;
}

.key {
  padding: 2px 4px;
  border-radius: 3px;
  background-color: $defaultColor;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: $white;
  font-size: 16px;
}
