.menuButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 44px;
  height: 44px;
  text-align: center;

  &:hover {
    color: var(--themeBlue);
  }
}

.itemIcon {
  margin-right: 8px;
}

@media only screen and (max-width: $breakpointSmall) {
  .menuButton {
    margin-right: max(2px, env(safe-area-inset-right));
  }
}
