.info {
  background-color: var(--seriesBackgroundColor);
  text-align: center;
  font-size: $smallFontSize;
}

.tags {
  composes: tags from '~./SeriesIndexPoster.css';
}

.tagsList {
  composes: tagsList from '~./SeriesIndexPoster.css';
}
