$hoverScale: 1.05;

.content {
  transition: all 200ms ease-in;

  &:hover {
    z-index: 2;
    box-shadow: 0 0 12px var(--black);
    transition: all 200ms ease-in;

    .controls {
      opacity: 0.9;
      transition: opacity 200ms linear 150ms;
    }
  }
}

.posterContainer {
  position: relative;
}

.link {
  composes: link from '~Components/Link/Link.css';

  position: relative;
  display: block;
  height: 70px;
  background-color: var(--seriesBackgroundColor);
}

.overlayTitle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  color: var(--offWhite);
  text-align: center;
  font-size: 20px;
}

.nextAiring {
  background-color: var(--seriesBackgroundColor);
  text-align: center;
  font-size: $smallFontSize;
}

.title {
  @add-mixin truncate;

  background-color: var(--seriesBackgroundColor);
  text-align: center;
  font-size: $smallFontSize;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 3px;
  height: 21px;
  background-color: var(--seriesBackgroundColor);
}

.tagsList {
  display: flex;
  overflow: hidden;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  color: var(--white);

  &.ended {
    border-color: transparent var(--dangerColor) transparent transparent;
  }

  &.deleted {
    border-color: transparent var(--gray) transparent transparent;
  }
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 3;
  border-radius: 4px;
  background-color: #4f566f;
  color: var(--white);
  font-size: $smallFontSize;
  opacity: 0;
  transition: opacity 0;
}

.action {
  composes: button from '~Components/Link/IconButton.css';

  &:hover {
    color: #ccc;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .container {
    padding: 5px;
  }
}
