<div id="x-history-toolbar"/>
<div class="row">
    <div class="col-md-12">
        <div id="x-history" class="table-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="x-history-pager"/>
    </div>
</div>
