<div class="modal-content">
    <div class="manual-import-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h3>
                Manual Import - Select Season
            </h3>

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4">
                    <select class="form-control x-select-season">
                            <option value="-1">Select Season</option>
                        {{#each seasons}}
                            <option value="{{seasonNumber}}">Season {{seasonNumber}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>


