<li class="dropdown-submenu">
    <a href="#" tabindex="-1" data-token="Episode Title">Episode Title</a>
    <ul class="dropdown-menu">
        <li><a href="#" data-token="Episode Title">Episode Title</a></li>
        <li><a href="#" data-token="Episode.Title">Episode.Title</a></li>
        <li><a href="#" data-token="Episode_Title">Episode_Title</a></li>
        <li><a href="#" data-token="Episode CleanTitle">Episode CleanTitle</a></li>
        <li><a href="#" data-token="Episode.CleanTitle">Episode.CleanTitle</a></li>
        <li><a href="#" data-token="Episode_CleanTitle">Episode_CleanTitle</a></li>
    </ul>
</li>
