<li class="dropdown-submenu">
    <a href="#" tabindex="-1" data-token="episode">Episode</a>
    <ul class="dropdown-menu">
        <li><a href="#" data-token="episode">1</a></li>
        <li><a href="#" data-token="episode:00">01</a></li>
    </ul>
</li>
