<li class="dropdown-submenu">
    <a href="#" tabindex="-1" data-token="Series Title">Series Title</a>
    <ul class="dropdown-menu">
        <li><a href="#" data-token="Series Title">Series Title</a></li>
        <li><a href="#" data-token="Series.Title">Series.Title</a></li>
        <li><a href="#" data-token="Series_Title">Series_Title</a></li>
        <li><a href="#" data-token="Series CleanTitle">Series CleanTitle</a></li>
        <li><a href="#" data-token="Series.CleanTitle">Series.CleanTitle</a></li>
        <li><a href="#" data-token="Series_CleanTitle">Series_CleanTitle</a></li>
    </ul>
</li>
