.modalHeader {
  @add-mixin truncate;

  flex-shrink: 0;
  padding: 24px 60px 18px 28px;
  border-bottom: 1px solid var(--borderColor);
  color: var(--ink);
  letter-spacing: -0.018em;
  font-weight: 600;
  font-size: 20px;
  font-family: $defaultFontFamily;
  line-height: 1.25;
}
