<select class="col-md-4 form-control x-root-folder" validation-name="RootFolderPath">
    {{#if this}}
    {{#each this}}
    <option value="{{id}}">{{path}}</option>
    {{/each}}
    {{else}}
    <option value="">Select Path</option>
    {{/if}}
    <option value="addNew">Add a different path</option>
</select>

