<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-10 ">
                Path
            </th>
            <th class="col-md-3">
                Free Space
            </th>
        </tr>
    </thead>
    <tbody class="x-root-folders"></tbody>
</table>