<div class="row">
    <div class="col-md-12">
	    <div class="btn-group add-movies-btn-group btn-group-lg btn-block">
		    <button type="button" class="btn btn-default col-md-10 col-xs-8 add-movies-import-btn x-import">
				<i class="icon-sonarr-hdd"/>
				Import existing Movies on disk
			</button>
			<button class="btn btn-default col-md-2 col-xs-4 x-add-new"><i class="icon-sonarr-active hidden-xs"></i> Add New Movie</button>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
		<div id="add-movie-workspace"></div>
	</div>
</div>