#localSeriesLookup {
    width: 220px;
    border: 0px;
    background: rgb(75, 75, 75);
    color: rgb(169, 169, 169);
    padding: 4px;
    font-size: 13px;
}

.nz-center {
    text-align: center;
    overflow: hidden;
}

.nz-center .typeahead {
    text-align: left;
}

#footer-region {
    font-size: 16px;
    text-decoration: none;
    font-weight: lighter;
    margin: 20px 0 30px 0;
}

    #footer-region a:hover {
        text-decoration: underline;
    }


.nz-spinner {
    font-size: 56px;
    text-align: center;
    padding: 30px;
}


#notification-region .alert {
    margin: 10px;
}

#notification-region i {
    padding-right: 10px;
}

#notification-region pre{
    font-size: 12px;
}


.line {
    height: 4em;
    line-height: 4em;
}

.line > [class^="icon-"], .line > [class*=" icon-"] {
    margin-top: 1em;
    height: 1em;
    line-height: 1em;
}

/* Progress Bar Text */
.progress {
    width: 125px;
    position: relative;
    margin-bottom: 2px;
}

.progress .bar {
    position: absolute;
    overflow: hidden;
}
.progress .progressbar-back-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
}
.progress .progressbar-front-text {
    display: block;
    width: 125px;
    font-size: 12px;
    text-align: center;
}

/* Todo: Should move this to somehting modal/form specific */

label.checkbox {
    font-size: 14px;
    line-height: normal;
    color: #595959;
}

label, .form-horizontal input, .form-horizontal select {
    font-size: 14px;
    line-height: 14px;
}

label.control-label {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}