.form-horizontal .controls i {
    font-size: 25px;
    color: #3A87AD;
    cursor: default;
}

.help-inline-checkbox {
    float: left;
    padding-left: 7px;
    padding-top: 3px;
}

.switch {
    float: left;
}