.form-horizontal .controls i {
    font-size: 16px;
    /*color: #3A87AD;*/ /* Info blue */
    color: #595959;
    cursor: default;
}

.help-inline-checkbox {
    float: left;
    padding-left: 7px;
    padding-top: 3px;
}

.switch {
    float: left;
}