<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.18.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="NBuilder" version="4.0.0" targetFramework="net40" />
  <package id="NUnit" version="3.5.0" targetFramework="net40" />
</packages>