.status {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 60px;
}

.sortTitle {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 110px;
}

.banner {
  flex: 0 0 379px;
}

.bannerGrow {
  flex-grow: 1;
}

.seriesType {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 100px;
}

.network {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 2 0 90px;
}

.originalLanguage,
.qualityProfileId {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 125px;
}

.releaseGroups,
.nextAiring,
.previousAiring,
.added,
.genres {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 180px;
}

.seasonCount,
.certification {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 100px;
}

.seasonFolder {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 150px;
}

.episodeProgress,
.latestSeason {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 150px;
}

.episodeCount {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 130px;
}

.year {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.path {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 120px;
}

.ratings {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.tags {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 60px;
}

.useSceneNumbering {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 145px;
}

.actions {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 1 90px;
}
