.status {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 60px;
}

.sortTitle {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 4 0 110px;
}

.network {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 2 0 90px;
}

.qualityProfileId,
.languageProfileId {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 125px;
}

.nextAiring,
.previousAiring,
.added {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 180px;
}

.seasonCount {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 100px;
}

.episodeProgress,
.latestSeason {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  justify-content: center;
  flex: 0 0 150px;
  flex-direction: column;
}

.episodeCount {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 120px;
}

.path {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 110px;
}

.tags {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 60px;
}

.useSceneNumbering {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 145px;
}

.actions {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 70px;
}

.checkInput {
  composes: input from 'Components/Form/CheckInput.css';

  margin-top: 0;
}
