<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="257311fe-7c96-49df-8863-40930831d296" Name="NzbDrone" Language="1033" Version="$(env.BUILD_NUMBER)" Manufacturer="NzbDrone" UpgradeCode="56833D74-A480-4CA2-B562-5A018B3A0F99">
        <Package Id="*" 
          Description="NzbDrone" 
          InstallerVersion="200" 
          Compressed="yes" 
          InstallPrivileges="elevated" 
          InstallScope="perUser" 
          Platform="x86" 
          Manufacturer="NzbDrone" 
          />
        <UIRef Id="WixUI_Minimal" />
        <UIRef Id="WixUI_ErrorProgressText" />
        <Media Id="1" Cabinet="nzbdrone.cab" EmbedCab="yes" CompressionLevel="high" />
        <Property Id="ARPPRODUCTICON" Value="APP_ICON" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CommonAppDataFolder" Name="ProgramData">
                <Directory Id="ROOT_DIR" Name="NzbDrone">
                    <Directory Id="BIN_DIR" Name="bin">
                      <Component Id="BIN_COMP" DiskId="1" Guid="417fd784-e2f5-435d-92d1-220c140d0042">
                          <File Id="CONSOLE_EXE_FILE" Name="NzbDrone.Console.exe" Source="..\_output\NzbDrone.Console.exe" KeyPath="yes"/>
                          <RemoveFolder Id="BIN_DIR" On="uninstall" />
                      </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes" MigrateFeatures="yes" Schedule="afterInstallValidate" DowngradeErrorMessage="Newer version of Nzbdrone is already installed." />
        <Feature Id="Core" Title="NzbDrone Core" Description="NzbDrone Core" Level="1" Display='expand'>
            <ComponentRef Id="BIN_COMP" />
        </Feature>
        <PropertyRef Id="NETFRAMEWORK40FULL" />
        <Property Id="INSTALL_WINDOWS_SERVICE" Value="1" />
        <Condition Message="This application requires .NET Framework 4.0 or later. Please install the .NET Framework then run this installer again.">NETFRAMEWORK40FULL</Condition>
        <Icon Id="APP_ICON" SourceFile="..\_output\NzbDrone.exe" />
        <CustomAction Id="START_ACTION" FileKey="CONSOLE_EXE_FILE" ExeCommand="" Execute="deferred" Impersonate="no" Return="asyncNoWait" />
    </Product>
</Wix>