<fieldset>
    <legend>File Management</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label">Ignore Deleted Episodes</label>

        <div class="col-sm-9">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="autoUnmonitorPreviouslyDownloadedEpisodes"/>
                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-nd-form-info" title="Episodes deleted from disk are automatically unmonitored in Sonarr"/>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Download Propers</label>

        <div class="col-sm-9">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="autoDownloadPropers"/>
                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-nd-form-info" title="Should Sonarr automatically upgrade to propers when available?"/>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Analyse video files</label>

        <div class="col-sm-9">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="enableMediaInfo"/>
                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-nd-form-info" title="Extract video information such as resolution, runtime and codec information from files. This requires Sonnar to read parts of the file which may cause high disk or network activity during scans."/>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Change File Date</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-nd-form-info" title="Change file date on import/rescan"/>
        </div>
        
        <div class="col-sm-2 col-sm-pull-1">
            <select class="form-control" name="fileDate">
                <option value="none">None</option>
                <option value="localAirDate">Local Air Date</option>
                <option value="utcAirDate">UTC Air Date</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Recycling Bin</label>

        <div class="col-sm-1 col-sm-push-8 help-inline">
            <i class="icon-nd-form-info" title="Episode files will go here when deleted instead of being permanently deleted"/>
        </div>

        <div class="col-sm-8 col-sm-pull-1">
            <input type="text" name="recycleBin" class="form-control x-path"/>
        </div>

    </div>
</fieldset>
