@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/content/fonts/opensans-light.eot');
    src: local('Open Sans Light'),
         local('OpenSans-Light'),
         url('/content/fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/opensans-light.woff') format('woff'),
         url('/content/fonts/opensans-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/content/fonts/opensans-regular.eot');
    src: local('Open Sans'),
         local('OpenSans'),
         url('/content/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/opensans-regular.woff') format('woff'),
         url('/content/fonts/opensans-regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/content/fonts/opensans-semibold.eot');
    src: local('Open Sans Semibold'),
         local('OpenSans-Semibold'),
         url('/content/fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/opensans-semibold.woff') format('woff'),
         url('/content/fonts/opensans-semibold.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('/content/fonts/opensans-lightitalic.eot');
    src: local('Open Sans Light Italic'),
        local('OpenSansLight-Italic'),
        url('/content/fonts/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
        url('/content/fonts/opensans-lightitalic.woff') format('woff'),
        url('/content/fonts/opensans-lightitalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/content/fonts/opensans-italic.eot');
    src: local('Open Sans Italic'),
         local('OpenSans-Italic'),
         url('/content/fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/opensans-italic.woff') format('woff'),
         url('/content/fonts/opensans-italic.woff.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/content/fonts/opensans-semibolditalic.eot');
    src: local('Open Sans Semibold Italic'),
         local('OpenSans-SemiboldItalic'),
         url('/content/fonts/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/opensans-semibolditalic.woff') format('woff'),
         url('/content/fonts/opensans-semibolditalic.ttf') format('truetype')
}
