.form-horizontal .controls i {
    font-size: 16px;
    /*color: #3A87AD;*/
    /* Info blue */
    color: #595959;
    cursor: default;
}

.form-horizontal .controls i.warning {
    color: #f89406;
}

.form-horizontal .controls i.danger {
    color: #b94a48;
}
.form-horizontal {
  .controls {
    i.danger {
      color: #b94a48;
    }
    i.warning {
      color: #f89406;
    }
    i {
      font-size: 16px;
      color: #595959;
      cursor: default;
    }
  }
}
.switch {
  float: left;
}
.text-area-help {
  display: block;
  color: #777777;
  font-size: 12px;
}
textarea.nzb-restrictions {
  width: 260px;
}
.help-inline-checkbox {
  float: left;
  padding-left: 7px;
  padding-top: 3px;
}

.help-inline-checkbox {
    float: left;
    padding-left: 7px;
    padding-top: 3px;
}

.switch {
    float: left;
}

textarea.nzb-restrictions {
    width: 260px;
}

.text-area-help {
    display: block;
    color: #777777;
    font-size: 12px;
}