#main-menu-region {
  i:before {
    font-size: 35px;
  }
  i {
    width: 40px;
  }
}

#in-sub-nav li a {
  color: #b9b9b9;

}

#in-sub-nav {
  margin-bottom: 80px;
}

.backdrop #in-sub-nav {
  background-color: #000000;
  opacity: 0.85;
}
