@import "prefixer";

#main-menu-region {
  i:before {
    font-size : 35px;
  }

  i {
    width : 40px;
  }
}

#in-sub-nav li a {
  color : #b9b9b9;
}

#in-sub-nav li a:focus {
  text-decoration : none;
}

#in-sub-nav {
  margin-bottom : 80px;

  .span12 {
    margin-left : 0px;
  }

  .logo {
    margin-top     : 25px;
    vertical-align : middle;
    height         : 70px;
    width          : 70px;
  }
}

.backdrop #in-sub-nav {
  background-color : #000000;
  .opacity(0.85);
}
