<div class="movie-info">
    {{profile profileId}}
    <span class="label label-info">{{runtime}} minutes</span>
</div>

<div class="movie-overview">
    {{overview}}
</div>

<div class="movie-file-info"></div>
