<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, ctt" />
	</configSections>

	<log4net>
		<!-- contexts:
	-->
		<!-- Setup the root category, add the appenders and set the default priority 
			Off, Fatal, Error, Warn, Info, Debug, All.-->
		<root>
			<level value="All" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="TraceAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%message%newline" />
			</layout>
		</appender>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs\\ConfigTransformationTool.log" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="1MB" />
			<param name="StaticLogFileName" value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Application Starts]&#13;&#10;" />
				<footer value="[Application Stops]&#13;&#10;" />
				<param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} %message%newline" />
			</layout>
		</appender>

		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%message%newline" />
			</layout>
		</appender>

	</log4net>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>