<div class="btn-group sorting-buttons">
    <a class="btn btn-default dropdown-toggle no-router" data-toggle="dropdown" href="#">
        Sort <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">

    </ul>
</div>
