.sectionContainer {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.section {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.overflowMenuButton {
  composes: menuButton from '~Components/Menu/ToolbarMenuButton.css';
}

.overflowMenuItemIcon {
  margin-right: 8px;
}

@media only screen and (max-width: $breakpointSmall) {
  .overflowMenuButton {
    &::after {
      margin-left: 0;
      content: '\25BE';
    }
  }
}
