.selectedValue {
  composes: selectedValue from '~./EnhancedSelectInputSelectedValue.css';

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.valueText {
  @add-mixin truncate;

  flex: 0 0 auto;
}

.hintText {
  @add-mixin truncate;

  flex: 1 10 0;
  margin-left: 15px;
  color: var(--gray);
  text-align: right;
  font-size: $smallFontSize;
}
