@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.SeasonModel

<h1>
    @(Model.SeasonNumber == 0 ? "Specials" : "Season " + Model.SeasonNumber)
</h1>

<table class="seriesTable">
    <colgroup>
        <col style="width:40px"/>
        <col style="width:auto"/>
        <col style="width:100px" />
        <col style="width:100px" />
        <col style="width:90px" />
    </colgroup>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Air Date</th>
            <th>Quality</th>
        
            @*Commands Column*@
            <th>
                <img src='../../Content/Images/@(Model.Ignored ? "ignored" : "notIgnored").png' class='ignoredEpisodesMaster ignoreEpisode ignoreSeason_@(Model.SeasonNumber)@(Model.Ignored ? " ignored" : " ") gridImage' title='Click to toggle season ignore status' />
                @Ajax.ImageActionLink("../../Content/Images/Search.png", new { Alt = "Search", Title = "Search for all episodes in this season", @class = "gridImage" }, "SearchSeason", "Episode", new { SeriesId = Model.SeriesId, SeasonNumber = Model.SeasonNumber }, null, null)
                @Ajax.ImageActionLink("../../Content/Images/Rename.png", new { Alt = "Rename", Title = "Rename all episodes in this season", @class = "gridImage" }, "RenameSeason", "Episode", new { SeriesId = Model.SeriesId, SeasonNumber = Model.SeasonNumber }, null, null)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Episodes.Count; i++)
        {
            var episode = Model.Episodes[i];
        
            if (i % 2 == 0)
            {
                Html.RenderPartial("Episode", episode);
            }

            else
            {
                Html.RenderPartial("Episode", episode, new ViewDataDictionary { new KeyValuePair<string, object>("AltRow", true) });
            }
        }
    </tbody>
</table>