@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.SeasonModel

<h1>
    @(Model.SeasonNumber == 0 ? "Specials" : "Season " + Model.SeasonNumber)
</h1>

<table class="seriesTable">
    <colgroup>
        <col style="width:40px"/>
        <col/>
        <col style="width:100px" />
        <col style="width:100px" />
        <col style="width:110px" />
    </colgroup>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Air Date</th>
        <th>Quality</th>
        
        @*Commands Column*@
        <th>
            <img src='../../Content/Images/@(Model.AnyWanted ? "notIgnored" : "ignored").png' class='ignoredEpisodesMaster ignoreEpisode ignoreSeason_@(Model.SeasonNumber) @(Model.AnyWanted ? "" : "ignored")' title='Click to toggle season ignore status' />
            <img src='../../Content/Images/@(Model.CommonStatus).png' alt='Status' title='Season Status' class='statusImage statusImageMaster' />
            @Ajax.ImageActionLink("../../Content/Images/Search.png", new { Alt = "Search", Title = "Search for all episodes in this season", @class = "searchImage searchImageMaster" }, "SearchSeason", "Episode", new { SeriesId = Model.SeriesId, SeasonNumber = Model.SeasonNumber }, null, null)
            @Ajax.ImageActionLink("../../Content/Images/Rename.png", new { Alt = "Rename", Title = "Rename all episodes in this season", @class = "renameImage renameImageMaster" }, "RenameSeason", "Episode", new { SeriesId = Model.SeriesId, SeasonNumber = Model.SeasonNumber }, null, null)
        </th>
    </tr>
    @foreach (var episode in Model.Episodes)
    {
        Html.RenderPartial("Episode", episode);
    }
</table>