@using NzbDrone.Web.Helpers;
@using NzbDrone.Web.Models;
@model SeasonEditModel

@using (Html.BeginCollectionItem("seasons"))
{
    <fieldset style="display: inline; border-color: lightgrey; width: 26%; margin-bottom: 2px; padding-bottom: 1px; padding-top: 1px;">
        @Html.DisplayFor(m => m.SeasonString)
        <span style="float: right;">@Html.CheckBoxFor(m => m.Monitored, new { @class = "chkbox" })</span>

        @Html.HiddenFor(m => m.SeasonNumber)
        @Html.HiddenFor(m => m.SeasonNumber)
    </fieldset>
}

