<div class="row">
    <div class="form-group col-md-3 col-md-offset-9">
        <select class="form-control x-select">
            <option value="choose">Select language</option>
            {{#each languages}}
                <option value={{id}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
</div>
