<div class="row">
    <div class="form-group col-md-3 col-md-offset-9">
        <select class="form-control x-select">
            <option value="choose">Select quality</option>
            {{#eachReverse qualities}}
                <option value="{{id}}">{{name}}</option>
            {{/eachReverse}}
        </select>
    </div>
</div>
