<div class="row">
    <div class="col-md-12" id="health"></div>
</div>

<div class="row">
    <div class="col-md-12" id="diskspace"></div>
</div>

<div class="row">
    <div class="col-md-12" id="about"></div>
</div>

<div class="row">
    <div class="col-md-12" id="more-info"></div>
</div>
