<ul class="nav nav-tabs">
    <li><a href="#status" class="x-status-tab no-router">Status</a></li>
    <li><a href="#updates" class="x-updates-tab no-router">Updates</a></li>
    <li><a href="#tasks" class="x-tasks-tab no-router">Tasks</a></li>
    <li><a href="#backup" class="x-backup-tab no-router">Backup</a></li>
    <li><a href="#logs" class="x-logs-tab no-router">Logs</a></li>
    <li class="lifecycle-controls pull-right">
        <div class="btn-group">
            <button class="btn btn-default btn-icon-only x-shutdown" title="Shutdown">
                <i class="icon-nd-shutdown"></i>
            </button>
            <button class="btn btn-default btn-icon-only x-restart" title="Restart">
                <i class="icon-nd-restart"></i>
            </button>

            {{#if_eq authentication compare="forms"}}
            <a href="{{UrlBase}}/logout" class="btn btn-default btn-icon-only" title="Logout">
                <i class="icon-lock"></i>
            </a>
            {{/if_eq}}
        </div>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="status"></div>
    <div class="tab-pane" id="updates"></div>
    <div class="tab-pane" id="tasks"></div>
    <div class="tab-pane" id="backup"></div>
    <div class="tab-pane" id="logs"></div>
</div>