<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sonarr Calendar feed</h3>
    </div>
    <div class="modal-body edit-series-modal">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Include Unmonitored</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <label class="checkbox toggle well">
                            <input type="checkbox" name="includeUnmonitored" class="form-control x-includeUnmonitored"/>

                            <p>
                                <span>Yes</span>
                                <span>No</span>
                            </p>

                            <div class="btn btn-primary slide-button"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Season Premiers Only</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <label class="checkbox toggle well">
                            <input type="checkbox" name="premiersOnly" class="form-control x-premiersOnly"/>

                            <p>
                                <span>Yes</span>
                                <span>No</span>
                            </p>

                            <div class="btn btn-primary slide-button"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Show as All-Day Events</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <label class="checkbox toggle well">
                            <input type="checkbox" name="asAllDay" class="form-control x-asAllDay"/>

                            <p>
                                <span>Yes</span>
                                <span>No</span>
                            </p>

                            <div class="btn btn-primary slide-button"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tags</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-sonarr-form-info" title="One or more tags only show matching series" />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" class="form-control x-tags">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">iCal feed</label>
                <div class="col-sm-1 col-sm-push-8 help-inline">
                    <i class="icon-sonarr-form-info" title="Copy this url into your clients subscription form or use the subscribe button if your browser support webcal" />
                </div>
                <div class="col-sm-8 col-sm-pull-1">
                    <div class="input-group ical-url">
                        <input type="text" class="form-control x-ical-url" readonly="readonly" />
                        <div class="input-group-btn">
                            <button class="btn btn-icon-only x-ical-copy"><i class="icon-sonarr-copy"></i></button>
                            <button class="btn btn-icon-only no-router x-ical-webcal" title="Subscribe" target="_blank"><i class="icon-sonarr-calendar-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
