<fieldset class="advanced-setting">
    <legend>Remote Path Mappings</legend>

    <div class="col-md-12">
        <div class="rule-setting-list">
            <div class="rule-setting-header x-header hidden-xs">
                <div class="row">
                    <span class="col-sm-2">Host</span>
                    <span class="col-sm-5">Remote Path</span>
                    <span class="col-sm-4">Local Path</span>
                </div>
            </div>
            <div class="rows x-rows">
            </div>
            <div class="rule-setting-footer">
                <div class="pull-right">
                    <span class="add-rule-setting-mapping">
                        <i class="icon-sonarr-add x-add" title="Add new mapping" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</fieldset>