    <div class="col-sm-2">
        {{host}}
    </div>
    <div class="col-sm-5">
        {{remotePath}}
    </div>
    <div class="col-sm-4">
        {{localPath}}
    </div>
    <div class="col-sm-1">
        <div class="pull-right"><i class="icon-sonarr-edit x-edit" title="" data-original-title="Edit Mapping"></i></div>
    </div>