    <span class="col-sm-2">
        <div>{{host}}</div>
    </span>
    <span class="col-sm-5">
        <div>{{remotePath}}</div>
    </span>
    <span class="col-sm-4">
        <div>{{localPath}}</div>
    </span>
    <span class="col-sm-1">
        <div class="pull-right"><i class="icon-nd-edit x-edit" title="" data-original-title="Edit Mapping"></i></div>
    </span>