<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {{#if id}}
            <h3>Edit Mapping</h3>
        {{else}}
            <h3>Add Mapping</h3>
        {{/if}}
    </div>
    <div class="modal-body remotepath-mapping-modal">
        <div class="form-horizontal">
            <div>
                <p>Use this feature if you have a remotely running Download Client. NzbDrone will use the information provided to translate the paths provided by the Download Client API to something NzbDrone can access and import.</p>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Host</label>

                <div class="col-sm-1 col-sm-push-3 help-inline">
                    <i class="icon-nd-form-info" title="Host you specified for the remote Download Client." />
                </div>

                <div class="col-sm-3 col-sm-pull-1">
                    <input type="text" name="host" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Remote Path</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-nd-form-info" title="Root path to the directory that the Download Client accesses." />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" name="remotePath" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Local Path</label>

                <div class="col-sm-1 col-sm-push-5 help-inline">
                    <i class="icon-nd-form-info" title="Path that NzbDrone should use to access the same directory remotely." />
                </div>

                <div class="col-sm-5 col-sm-pull-1">
                    <input type="text" name="localPath" class="form-control x-path"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{#if id}}
            <button class="btn btn-danger pull-left x-delete">delete</button>
        {{/if}}

        <button class="btn" data-dismiss="modal">cancel</button>

        <div class="btn-group">
            <button class="btn btn-primary x-save">save</button>
        </div>
    </div>
</div>