.formGroupsContainer {
  display: flex;
  flex-wrap: wrap;
}

.formGroupWrapper,
.formatItemLarge {
  flex: 0 0 calc($formGroupSmallWidth - 100px);
}

.deleteButtonContainer {
  margin-right: auto;
}

.formatItemSmall {
  display: none;
}

@media only screen and (max-width: calc($breakpointLarge + 100px)) {
  .formGroupsContainer {
    display: block;
  }

  .formatItemSmall {
    display: block;
  }

  .formatItemLarge {
    display: none;
  }
}
