.qualityProfileItem {
  display: flex;
  align-items: stretch;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: var(--inputBackgroundColor);

  &.isInGroup {
    border-style: dashed;
  }
}

.checkInputContainer {
  position: relative;
  margin-right: 4px;
  margin-bottom: 5px;
  margin-left: 8px;
}

.checkInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 5px;
}

.qualityNameContainer {
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-left: 2px;
  font-weight: normal;
  line-height: $qualityProfileItemHeight;
  cursor: pointer;
}

.qualityName {
  &.isInGroup {
    margin-left: 14px;
  }

  &.notAllowed {
    color: #c6c6c6;
  }
}

.createGroupButton {
  composes: buton from '~Components/Link/IconButton.css';

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 5px;
  margin-left: 8px;
  width: 20px;
}

.dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;
  width: $dragHandleWidth;
  text-align: center;
  cursor: grab;
}

.dragIcon {
  top: 0;
}

.isDragging {
  opacity: 0.25;
}

.isPreview {
  .qualityName {
    margin-left: 14px;

    &.isInGroup {
      margin-left: 28px;
    }
  }
}
