html,
body {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  background-color: var(--pageBackground);
}

@media (--breakpointSmall) {
  body {
    overflow-y: auto;
  }
}
