<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SqlExpress" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLExpress;Database=Services_Stage; Integrated Security=True"  xdt:Transform="Replace"/>
  </connectionStrings>
  <system.web>
    <compilation  debug="false" xdt:Transform="Replace" />
  </system.web>
</configuration>