.error {
  margin-bottom: 20px;
  color: var(--dangerColor);
  font-size: 13px;
}

.pageHeadingWrapper {
  flex: 0 0 auto;
  padding: 24px 32px 0;
}

.pageContentBodyWrapper {
  display: flex;
  flex: 1 0 1px;
  overflow: hidden;
}

.contentBody {
  composes: contentBody from '~Components/Page/PageContentBody.css';

  position: relative;
  display: flex;
  flex-direction: column;
}

.postersInnerContentBody {
  composes: innerContentBody from '~Components/Page/PageContentBody.css';

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  
  padding: calc(var(--pageContentBodyPadding) - 5px);
  padding-top: unset;
}

.tableInnerContentBody {
  composes: innerContentBody from '~Components/Page/PageContentBody.css';

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.overviewInnerContentBody {
  composes: innerContentBody from '~Components/Page/PageContentBody.css';

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: calc(var(--pageContentBodyPadding) - 5px);
  padding-top: unset;
}

.contentBodyContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .pageContentBodyWrapper {
    flex-basis: auto;
  }

  .contentBody {
    flex-basis: 1px;
  }

  .postersInnerContentBody {
    padding: calc(var(--pageContentBodyPaddingSmallScreen) - 5px);
  }
}
