.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: $smallFontSize;
}

.legendItem {
  display: flex;
  margin-bottom: 4px;
  line-height: 16px;
}

.legendItemColor {
  margin-right: 8px;
  width: 30px;
  height: 16px;
  border-radius: 4px;
}

.continuing {
  composes: legendItemColor;

  background-color: var(--primaryColor);
}

.ended {
  composes: legendItemColor;

  background-color: var(--successColor);
}

.missingMonitored {
  composes: legendItemColor;

  background-color: var(--dangerColor);

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, color(#f05050 shade(5%)), color(#f05050 shade(5%)) 5px, color(#f05050 shade(15%)) 5px, color(#f05050 shade(15%)) 10px);
  }
}

.missingUnmonitored {
  composes: legendItemColor;

  background-color: var(--warningColor);

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(45deg, #ffa500, #ffa500 5px, color(#ffa500 tint(15%)) 5px, color(#ffa500 tint(15%)) 10px);
  }
}

.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: $breakpointLarge) {
  .statistics {
    display: block;
  }
}

@media (max-width: $breakpointSmall) {
  .footer {
    display: block;
  }

  .statistics {
    display: flex;
    margin-top: 20px;
  }
}
