<div class="modal-content">
    <div class="history-detail-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h3>
                {{#if_eq eventType compare="grabbed"}}Grabbed{{/if_eq}}
                {{#if_eq eventType compare="downloadFailed"}}Download Failed{{/if_eq}}
                {{#if_eq eventType compare="downloadFolderImported"}}Episode Imported{{/if_eq}}
                {{#if_eq eventType compare="episodeFileDeleted"}}Episode File Deleted{{/if_eq}}
            </h3>

        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            {{#if_eq eventType compare="grabbed"}}<button class="btn btn-danger x-mark-as-failed">Mark As Failed</button>{{/if_eq}}
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
