<div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
    <h3>File Browser</h3>
</div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="text" class="form-control x-path" placeholder="Start typing or select a path below"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div id="x-browser"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="indicator x-indicator"><i class="icon-sonarr-spinner fa-spin"></i></span>
        <button class="btn" data-dismiss="modal">close</button>
        <button class="btn btn-primary x-ok">ok</button>
    </div>
</div>
