@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.UpcomingEpisodesModel

@{ViewBag.Title = "Upcoming";}
@section HeaderContent
{
    @Html.IncludeCss("Grid.css")
}
@section ActionMenu{
    <ul class="sub-menu">
        <li>@Ajax.ActionLink("Start RSS Sync", "RssSync", "Command", null, null)</li>
    </ul>
}

<table class="seriesTable">
    <colgroup>
        <col/>
        <col style="width:40px" />
        <col style="width:40px" />
        <col style="width:350px" />
        <col style="width:160px" />
        <col style="width:100px" />
    </colgroup>
    <tr>
        <th>Series Title</th>
        <th>Season #</th>
        <th>Episode #</th>
        <th>Episode Title</th>
        <th>Air Time</th>
        
        @*Commands/Status Column*@
        <th>
            Status
        </th>
    </tr>
    <tr class="title-row">
        <td colspan="6">
            Yesterday
        </td>
    </tr>
    
    @for (int i = 0; i < Model.Yesterday.Count; i++)
    {
        var episode = Model.Yesterday[i];
        
        if (i % 2 == 0)
        {
            Html.RenderPartial("UpcomingEpisode", episode);
        }

        else
        {
            Html.RenderPartial("UpcomingEpisode", episode, new ViewDataDictionary { new KeyValuePair<string, object>("AltRow", true) });
        }
    }
    <tr class="title-row">
        <td colspan="6">
            Today
        </td>
    </tr>
    
    @for (int i = 0; i < Model.Today.Count; i++)
    {
        var episode = Model.Today[i];
        
        if (i % 2 == 0)
        {
            Html.RenderPartial("UpcomingEpisode", episode);
        }

        else
        {
            Html.RenderPartial("UpcomingEpisode", episode, new ViewDataDictionary { new KeyValuePair<string, object>("AltRow", true) });
        }
    }
    <tr class="title-row">
        <td colspan="6">
            Tomorrow
        </td>
    
    @for (int i = 0; i < Model.Tomorrow.Count; i++)
    {
        var episode = Model.Tomorrow[i];
        
        if (i % 2 == 0)
        {
            Html.RenderPartial("UpcomingEpisode", episode);
        }

        else
        {
            Html.RenderPartial("UpcomingEpisode", episode, new ViewDataDictionary { new KeyValuePair<string, object>("AltRow", true) });
        }
    }
    <tr class="title-row">
        <td colspan="6">
            Future Forecast
        </td>
    </tr>
    
    @for (int i = 0; i < Model.Week.Count; i++)
    {
        var episode = Model.Week[i];
        
        if (i % 2 == 0)
        {
            Html.RenderPartial("UpcomingEpisode", episode);
        }

        else
        {
            Html.RenderPartial("UpcomingEpisode", episode, new ViewDataDictionary { new KeyValuePair<string, object>("AltRow", true) });
        }
    }
</table>

@section Scripts{

}