.horizontalScroll {
  overflow-x: auto;
}

.delayProfiles {
  user-select: none;
}

.delayProfilesHeader {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

.column {
  flex: 0 0 200px;
}

.tags {
  flex: 1 0 auto;
}

.addDelayProfile {
  display: flex;
  justify-content: flex-end;
}

.addButton {
  width: $dragHandleWidth;
  text-align: center;
}

@media only screen and (max-width: $breakpointSmall) {
  .horizontalScroll {
    overflow-y: hidden;
    width: 100%;
  }
}
