.releaseProfiles {
  display: flex;
  flex-wrap: wrap;
}

.addReleaseProfile {
  composes: releaseProfile from '~./ReleaseProfile.css';

  background-color: var(--cardAlternateBackgroundColor);
  color: var(--gray);
  text-align: center;
}

.center {
  display: inline-block;
  padding: 5px 20px 0;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--cardCenterBackgroundColor);
}
