.releaseProfile {
  composes: card from '~Components/Card.css';

  width: 290px;
}

.enabled {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.name {
  @add-mixin truncate;

  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}

.label {
  composes: label from '~Components/Label.css';

  max-width: 100%;
}
