@model string
@using NzbDrone.Web.Models
@{ViewBag.Title = "Pending Processing";}

<div class="grid-container">
    <table id="pendingProcessingGrid" class="dataTablesGrid hidden-grid">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        var renamePendingUrl = '@Url.Action("RenamePendingProcessing", "System")';

        $(document).ready(function() {
            $('#pendingProcessingGrid').removeClass('hidden-grid');

            oTable = $('.dataTablesGrid').dataTable({
                "bShowAll": false,
                "aaData": @Html.Raw(Model),
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false,
            "iDisplayLength": 20,
            "sPaginationType": "four_button",
            "aoColumns": [
                            { sWidth: 'auto', "mDataProp": "Name"}, //Name
                            { sWidth: '250px', "mDataProp": "Created"}, //CreationDate
                            { sWidth: '40px', "mDataProp": "Actions", "bSortable": false, "fnRender": function (row) {
                                return "<a href='#Rename' onClick=\"renamePending('" + row.aData["Path"] + "'); return false;\">Rename</a>";
                            }
                            }, //Actions
                            {
                                sWidth: 'auto',
                                "mDataProp": "Details",
                                "bSortable": false,
                                "bVisible": false,
                                "fnRender": function(row) {
                                    var result = "<div>" + row.aData["Files"] + "</div>";
                                    return result;
                                }
                            } //Details
            ]
            });
        });

        function renamePending(path) {
            $.ajax({
                type: "POST",
                url: renamePendingUrl,
                data: jQuery.param({ path: path }),
                error: function (req, status, error) {
                    alert("Sorry! We could rename " + name + " at this time. " + error);
                },
                success: function (data, textStatus, jqXHR) {
                    if (data == "ok") {
                        var grid = $('#PendingProcessingGrid').data('tGrid');
                        grid.ajaxRequest();
                    }
                }
            });
        }
    </script>
}