<div class="select-folder">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" class="form-control x-path" placeholder="Select a folder to import" name="path">
            </div>
        </div>
    </div>
    <div class="recent-folders">
        {{#if recentFolders}}
        <h4>Recent Folders</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Last Used</th>
                </tr>
            </thead>
            <tbody>
                {{#each recentFolders}}
                <tr class="recent-folder x-recent-folder" data-path="{{path}}">
                    <td>{{path}}</td>
                    <td>{{RelativeDate lastUsed}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
    <div class="buttons">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary btn-lg btn-block x-automatic-import x-button"><i class="icon-sonarr-search-automatic"></i> Import File(s) Automatically</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary btn-lg btn-block x-manual-import x-button"><i class="icon-sonarr-search-manual"></i> Manual Import</button>
            </div>
        </div>
    </div>
</div>