<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Authentication.Basic" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.5.3" targetFramework="net461" />
</packages>