.downloadClient {
  composes: card from 'Components/Card.css';

  width: 290px;
}

.name {
  @add-mixin truncate;

  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}

.enabled {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
