.downloadClients {
  display: flex;
  flex-wrap: wrap;
}

.addDownloadClient {
  composes: downloadClient from '~./DownloadClient.css';

  background-color: var(--cardAlternateBackgroundColor);
  color: var(--gray);
  text-align: center;
}

.center {
  display: inline-block;
  padding: 5px 20px 0;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--cardCenterBackgroundColor);
}
