<?xml version="1.0"?>
<Eloquera xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Cache IndexCacheSize="10000" 
           WriteThru="false"
           IndexCleanerPeriod="100" 
           IndexCleanerBatchSize="100" 
           CleanerPeriod="100" 
           CleanerBatchSize="2000" 
           CommitSequenceMaxLength="2000" 
           ShallowReadThreshold="1000" 
           ShallowReadAhead="1000" 
           ReadAhead="20" 
           SaturationThreshold="10000" 
           MemoryFootPrint="60"/>
    <MemoryManager Mode="1" />
    <Server ServerPort="43962" 
            Trace="true" 
            InMemoryAllowed="true"
            Secure="false" 
            AllowUsers="" 
            AllowGroups="Everyone" 
            SNMPAddress="net.tcp://localhost:8523/SNMP"
            AutoRecovery="false"
            NotificationsEnabled="false"
            VarSectorSize="40"
            IndexNodeSize="512"/>
    <SmartRuntime Smart="true"
                  TypeUpdateAllowed="true"/>
    <UserLogin Enabled="false" 
               PasswordHash="l+on1aCwDrcZ5bGlv+fyyIlYkbuFIOxZFlFwIGKlms0CCwoGn9TZvM0E3Uksjwx64+/yv8nsaUajWLz1kyKG7A==" />
</Eloquera>
