<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="consoleTarget" xsi:type="ColoredConsole" layout="${logger}: ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace"  writeTo="consoleTarget"/>
  </rules>
</nlog>