<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.1" targetFramework="net40" />
  <package id="AutoMoq" version="1.6.1" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="FluentAssertions" version="2.0.1" targetFramework="net40" />
  <package id="FluentMigrator" version="1.0.6.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="NBuilder" version="3.0.1.1" />
  <package id="NCrunch.Framework" version="1.43.0.23" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="Prowlin" version="0.9.4456.26422" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.3" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.84.0" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
</packages>