<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NBuilder" version="2.3.0.0" />
  <package id="AutoMoq" version="1.3.1.3" />
  <package id="Moq" version="4.0.10827" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="Unity" version="2.1.505.0" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
</packages>