.customFilter {
  display: flex;
  margin-bottom: 5px;
  padding: 5px;

  &:hover {
    background-color: var(--tableRowHoverBackgroundColor);
  }
}

.label {
  flex: 0 1 300px;
}

.actions {
  flex: 0 0 60px;
}
