<div class="rename-preview-item">
    <div class="row">
        <div class="rename-checkbox col-md-1">
            <label class="checkbox-button" title="Rename File">
                <input type="checkbox" name="rename"/>
                <div class="btn">
                    <i></i>
                </div>
            </label>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-12 file-path"><i class="icon-sonarr-existing" title="Existing path" /> {{existingPath}}</div>
            </div>
            <div class="row">
                <div class="col-md-12 file-path"><i class="icon-sonarr-suggested" title="Suggested path" /> {{newPath}}</div>
            </div>
        </div>
    </div>
</div>