.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.calendarTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-right: 1px solid var(--calendarBorderColor);
  table-layout: fixed;
}

.day {
  min-width: 100%;
}

.week {
  min-width: 840px;
}

.forecast {
  min-width: 360px;
}

.month {
  min-width: 840px;
}
