.days {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-right: 1px solid var(--calendarBorderColor);
  table-layout: fixed;
}

.days tbody {
  height: 100%;
}

.days tbody tr {
  height: 110px;
}

.month tbody tr {
  height: 140px;
}

.headerRow {
  height: 0;
}

.headerCell {
  overflow: hidden;
  padding: 0;
  height: 0;
  border: 0;
  line-height: 0;
}

.headerLabel {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
}
