.day {
  flex: 1 0 14.28%;
  overflow: hidden;
  min-height: 70px;
  border-bottom: 1px solid var(--calendarBorderColor);
  border-left: 1px solid var(--calendarBorderColor);
}

.isSingleDay {
  width: 100%;
}

.dayOfMonth {
  padding-right: 5px;
  border-bottom: 1px solid var(--calendarBorderColor);
  text-align: right;
}

.isToday {
  background-color: var(--calendarTodayBackgroundColor);
}

.isDifferentMonth {
  color: var(--disabledColor);
}
