.dayOfWeek {
  padding: 0;
  background-color: var(--calendarBackgroundColor);
  text-align: center;
  font-weight: normal;
}

.isSingleDay {
  width: 100%;
}

.isToday {
  background-color: var(--calendarTodayBackgroundColor);
}
