.dayOfWeek {
  flex: 1 0 14.28%;
  background-color: var(--calendarBackgroundColor);
  text-align: center;
}

.isSingleDay {
  width: 100%;
}

.isToday {
  background-color: var(--calendarTodayBackgroundColor);
}
