.container {
  display: flex;
}

.numberInput {
  composes: text from 'Components/Form/TextInput.css';

  margin-right: 3px;
}

.selectInput {
  composes: select from 'Components/Form/SelectInput.css';

  margin-left: 3px;
}
