.container {
  display: flex;
}

.numberInput {
  composes: input from 'Components/Form/TextInput.module.css';

  margin-right: 3px;
}

.selectInput {
  composes: select from 'Components/Form/SelectInput.module.css';

  margin-left: 3px;
}
