@import "../../Shared/Styles/card";

.indexer-list {
  li {
    display: inline-block;
    vertical-align: top;
  }
}

.indexer-settings-item {

  .card;

  width: 220px;
  height: 260px;
  padding: 10px 15px;

  h3 {
    margin-top: 0px;
    display: inline-block;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-group {
    margin-top: 8px;
  }

  &.add-card {
    .clickable;
    color: #adadad;
    font-size: 50px;
    text-align: center;

    .center {
      display: inline-block;
      padding: 0px 20px;
      padding-top: 5px;
      margin-top: 100px;
    }

    i {
      .clickable;
    }
  }
}