@import "../../Shared/Styles/card";

.indexer-list {
  li {
    display: inline-block;
    vertical-align: top;
  }
}

.indexer-settings-item {

  .card;

  width: 220px;
  height: 260px;
  padding: 10px 15px;

  h3 {
    margin-top: 0px;
    display: inline-block;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-group {
    margin-top: 8px;
  }
}