@import "../../Shared/Styles/card";

.indexer-list {
  li {
    display: inline-block;
    vertical-align: top;
  }
}

.indexer-settings-item {

  .card;

  width: 220px;
  height: 260px;
  padding: 10px 15px;

  h2 {
    margin-top: 0px;
  }
}