<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="11.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Error" />
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1002" Action="Error" />
    <Rule Id="CA1003" Action="Error" />
    <Rule Id="CA1004" Action="Error" />
    <Rule Id="CA1005" Action="Error" />
    <Rule Id="CA1007" Action="Error" />
    <Rule Id="CA1008" Action="Error" />
    <Rule Id="CA1010" Action="Error" />
    <Rule Id="CA1011" Action="Error" />
    <Rule Id="CA1012" Action="Error" />
    <Rule Id="CA1013" Action="Error" />
    <Rule Id="CA1014" Action="Error" />
    <Rule Id="CA1016" Action="Error" />
    <Rule Id="CA1017" Action="Error" />
    <Rule Id="CA1018" Action="Error" />
    <Rule Id="CA1019" Action="Error" />
    <Rule Id="CA1021" Action="Error" />
    <Rule Id="CA1023" Action="Error" />
    <Rule Id="CA1024" Action="Error" />
    <Rule Id="CA1025" Action="Error" />
    <Rule Id="CA1026" Action="Error" />
    <Rule Id="CA1027" Action="Error" />
    <Rule Id="CA1028" Action="Error" />
    <Rule Id="CA1030" Action="Error" />
    <Rule Id="CA1031" Action="Error" />
    <Rule Id="CA1032" Action="Error" />
    <Rule Id="CA1034" Action="Error" />
    <Rule Id="CA1035" Action="Error" />
    <Rule Id="CA1036" Action="Error" />
    <Rule Id="CA1038" Action="Error" />
    <Rule Id="CA1039" Action="Error" />
    <Rule Id="CA1040" Action="Error" />
    <Rule Id="CA1041" Action="Error" />
    <Rule Id="CA1043" Action="Error" />
    <Rule Id="CA1044" Action="Error" />
    <Rule Id="CA1045" Action="Error" />
    <Rule Id="CA1046" Action="Error" />
    <Rule Id="CA1047" Action="Error" />
    <Rule Id="CA1048" Action="Error" />
    <Rule Id="CA1049" Action="Error" />
    <Rule Id="CA1050" Action="Error" />
    <Rule Id="CA1051" Action="Error" />
    <Rule Id="CA1052" Action="Error" />
    <Rule Id="CA1053" Action="Error" />
    <Rule Id="CA1057" Action="Error" />
    <Rule Id="CA1058" Action="Error" />
    <Rule Id="CA1059" Action="Error" />
    <Rule Id="CA1060" Action="Error" />
    <Rule Id="CA1061" Action="Error" />
    <Rule Id="CA1062" Action="Error" />
    <Rule Id="CA1063" Action="Error" />
    <Rule Id="CA1064" Action="Error" />
    <Rule Id="CA1065" Action="Error" />
    <Rule Id="CA1300" Action="Error" />
    <Rule Id="CA1301" Action="Error" />
    <Rule Id="CA1302" Action="Error" />
    <Rule Id="CA1303" Action="Error" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Error" />
    <Rule Id="CA1306" Action="Error" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1308" Action="Error" />
    <Rule Id="CA1309" Action="Error" />
    <Rule Id="CA1400" Action="Error" />
    <Rule Id="CA1401" Action="Error" />
    <Rule Id="CA1402" Action="Error" />
    <Rule Id="CA1403" Action="Error" />
    <Rule Id="CA1404" Action="Error" />
    <Rule Id="CA1405" Action="Error" />
    <Rule Id="CA1406" Action="Error" />
    <Rule Id="CA1407" Action="Error" />
    <Rule Id="CA1408" Action="Error" />
    <Rule Id="CA1409" Action="Error" />
    <Rule Id="CA1410" Action="Error" />
    <Rule Id="CA1411" Action="Error" />
    <Rule Id="CA1412" Action="Error" />
    <Rule Id="CA1413" Action="Error" />
    <Rule Id="CA1414" Action="Error" />
    <Rule Id="CA1415" Action="Error" />
    <Rule Id="CA1500" Action="Error" />
    <Rule Id="CA1501" Action="Error" />
    <Rule Id="CA1502" Action="Error" />
    <Rule Id="CA1504" Action="Error" />
    <Rule Id="CA1505" Action="Error" />
    <Rule Id="CA1506" Action="Error" />
    <Rule Id="CA1600" Action="Error" />
    <Rule Id="CA1601" Action="Error" />
    <Rule Id="CA1700" Action="Error" />
    <Rule Id="CA1701" Action="Error" />
    <Rule Id="CA1702" Action="Error" />
    <Rule Id="CA1703" Action="Error" />
    <Rule Id="CA1704" Action="Error" />
    <Rule Id="CA1707" Action="Error" />
    <Rule Id="CA1708" Action="Error" />
    <Rule Id="CA1709" Action="Error" />
    <Rule Id="CA1712" Action="Error" />
    <Rule Id="CA1713" Action="Error" />
    <Rule Id="CA1714" Action="Error" />
    <Rule Id="CA1715" Action="Error" />
    <Rule Id="CA1716" Action="Error" />
    <Rule Id="CA1717" Action="Error" />
    <Rule Id="CA1719" Action="Error" />
    <Rule Id="CA1720" Action="Error" />
    <Rule Id="CA1721" Action="Error" />
    <Rule Id="CA1722" Action="Error" />
    <Rule Id="CA1724" Action="Error" />
    <Rule Id="CA1725" Action="Error" />
    <Rule Id="CA1726" Action="Error" />
    <Rule Id="CA1800" Action="Error" />
    <Rule Id="CA1801" Action="Error" />
    <Rule Id="CA1802" Action="Error" />
    <Rule Id="CA1804" Action="Error" />
    <Rule Id="CA1806" Action="Error" />
    <Rule Id="CA1809" Action="Error" />
    <Rule Id="CA1810" Action="Error" />
    <Rule Id="CA1811" Action="Error" />
    <Rule Id="CA1812" Action="Error" />
    <Rule Id="CA1813" Action="Error" />
    <Rule Id="CA1814" Action="Error" />
    <Rule Id="CA1815" Action="Error" />
    <Rule Id="CA1819" Action="Error" />
    <Rule Id="CA1820" Action="Error" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1822" Action="Error" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA1824" Action="Error" />
    <Rule Id="CA1900" Action="Error" />
    <Rule Id="CA1901" Action="Error" />
    <Rule Id="CA1903" Action="Error" />
    <Rule Id="CA2000" Action="Error" />
    <Rule Id="CA2001" Action="Error" />
    <Rule Id="CA2002" Action="Error" />
    <Rule Id="CA2003" Action="Error" />
    <Rule Id="CA2004" Action="Error" />
    <Rule Id="CA2006" Action="Error" />
    <Rule Id="CA2100" Action="Error" />
    <Rule Id="CA2101" Action="Error" />
    <Rule Id="CA2102" Action="Error" />
    <Rule Id="CA2103" Action="Error" />
    <Rule Id="CA2104" Action="Error" />
    <Rule Id="CA2105" Action="Error" />
    <Rule Id="CA2106" Action="Error" />
    <Rule Id="CA2107" Action="Error" />
    <Rule Id="CA2108" Action="Error" />
    <Rule Id="CA2109" Action="Error" />
    <Rule Id="CA2111" Action="Error" />
    <Rule Id="CA2112" Action="Error" />
    <Rule Id="CA2114" Action="Error" />
    <Rule Id="CA2115" Action="Error" />
    <Rule Id="CA2116" Action="Error" />
    <Rule Id="CA2117" Action="Error" />
    <Rule Id="CA2118" Action="Error" />
    <Rule Id="CA2119" Action="Error" />
    <Rule Id="CA2120" Action="Error" />
    <Rule Id="CA2121" Action="Error" />
    <Rule Id="CA2122" Action="Error" />
    <Rule Id="CA2123" Action="Error" />
    <Rule Id="CA2124" Action="Error" />
    <Rule Id="CA2126" Action="Error" />
    <Rule Id="CA2130" Action="Error" />
    <Rule Id="CA2131" Action="Error" />
    <Rule Id="CA2132" Action="Error" />
    <Rule Id="CA2133" Action="Error" />
    <Rule Id="CA2134" Action="Error" />
    <Rule Id="CA2135" Action="Error" />
    <Rule Id="CA2136" Action="Error" />
    <Rule Id="CA2137" Action="Error" />
    <Rule Id="CA2138" Action="Error" />
    <Rule Id="CA2139" Action="Error" />
    <Rule Id="CA2140" Action="Error" />
    <Rule Id="CA2141" Action="Error" />
    <Rule Id="CA2142" Action="Error" />
    <Rule Id="CA2143" Action="Error" />
    <Rule Id="CA2144" Action="Error" />
    <Rule Id="CA2145" Action="Error" />
    <Rule Id="CA2146" Action="Error" />
    <Rule Id="CA2147" Action="Error" />
    <Rule Id="CA2149" Action="Error" />
    <Rule Id="CA2151" Action="Error" />
    <Rule Id="CA2200" Action="Error" />
    <Rule Id="CA2201" Action="Error" />
    <Rule Id="CA2202" Action="Error" />
    <Rule Id="CA2204" Action="Error" />
    <Rule Id="CA2205" Action="Error" />
    <Rule Id="CA2207" Action="Error" />
    <Rule Id="CA2208" Action="Error" />
    <Rule Id="CA2210" Action="Error" />
    <Rule Id="CA2211" Action="Error" />
    <Rule Id="CA2212" Action="Error" />
    <Rule Id="CA2213" Action="Error" />
    <Rule Id="CA2214" Action="Error" />
    <Rule Id="CA2215" Action="Error" />
    <Rule Id="CA2216" Action="Error" />
    <Rule Id="CA2217" Action="Error" />
    <Rule Id="CA2218" Action="Error" />
    <Rule Id="CA2219" Action="Error" />
    <Rule Id="CA2220" Action="Error" />
    <Rule Id="CA2221" Action="Error" />
    <Rule Id="CA2222" Action="Error" />
    <Rule Id="CA2223" Action="Error" />
    <Rule Id="CA2224" Action="Error" />
    <Rule Id="CA2225" Action="Error" />
    <Rule Id="CA2226" Action="Error" />
    <Rule Id="CA2227" Action="Error" />
    <Rule Id="CA2228" Action="Error" />
    <Rule Id="CA2229" Action="Error" />
    <Rule Id="CA2230" Action="Error" />
    <Rule Id="CA2231" Action="Error" />
    <Rule Id="CA2232" Action="Error" />
    <Rule Id="CA2233" Action="Error" />
    <Rule Id="CA2234" Action="Error" />
    <Rule Id="CA2235" Action="Error" />
    <Rule Id="CA2236" Action="Error" />
    <Rule Id="CA2237" Action="Error" />
    <Rule Id="CA2238" Action="Error" />
    <Rule Id="CA2239" Action="Error" />
    <Rule Id="CA2240" Action="Error" />
    <Rule Id="CA2241" Action="Error" />
    <Rule Id="CA2242" Action="Error" />
    <Rule Id="CA2243" Action="Error" />
    <Rule Id="CA5122" Action="Error" />
  </Rules>
</RuleSet>