.searchResult {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  color: inherit;
}

.underlay {
  @add-mixin cover;

  background-color: var(--addSeriesBackgroundColor);
  transition: background 500ms;

  &:hover {
    background-color: var(--pageBackground);
    box-shadow: 0 0 12px var(--black);
    color: inherit;
    text-decoration: none;
    transition: all 200ms ease-in;
  }
}

.overlay {
  @add-mixin linkOverlay;

  position: relative;
  display: flex;
}

.poster {
  flex: 0 0 170px;
  margin-right: 20px;
  height: 250px;
}

.content {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  overflow: hidden;
}

.titleRow {
  display: flex;
}

.titleContainer {
  display: flex;
  align-items: flex-end;
  flex: 0 1 auto;
}

.title {
  font-weight: 300;
  font-size: 36px;
}

.year {
  margin-left: 10px;
  color: var(--disabledColor);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  height: 55px;
}

.tvdbLink {
  composes: link from '~Components/Link/Link.css';

  margin-top: -4px;
  margin-left: auto;
  color: var(--textColor);
}

.tvdbLinkIcon {
  margin-left: 10px;
}

.alreadyExistsIcon {
  margin-left: 10px;
  color: #37bc9b;
  pointer-events: all;
}

.overview {
  margin-top: 20px;
}

@media only screen and (max-width: $breakpointMedium) {
  .titleRow {
    justify-content: space-between;
    overflow: hidden;
  }

  .overview {
    margin-bottom: 20px;
  }
}
