.searchContainer {
  display: flex;
  margin-bottom: 10px;
}

.searchIconContainer {
  width: 58px;
  height: 46px;
  border: 1px solid $inputBorderColor;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #edf1f2;
  text-align: center;
  line-height: 46px;
}

.searchInput {
  composes: text from 'Components/Form/TextInput.css';

  height: 46px;
  border-radius: 0;
  font-size: 18px;
}

.clearLookupButton {
  border: 1px solid $inputBorderColor;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.message {
  margin-top: 30px;
  text-align: center;
}

.helpText {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 24px;
}

.noResults {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 30px;
}

.searchResults {
  margin-top: 30px;
}
