.searchResult {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  color: inherit;
}

.underlay {
  @add-mixin cover;

  background-color: $white;
  transition: background 500ms;

  &:hover {
    background-color: #eaf2ff;
    color: inherit;
    text-decoration: none;
  }
}

.overlay {
  @add-mixin linkOverlay;

  position: relative;
  display: flex;
}

.poster {
  flex: 0 0 170px;
  margin-right: 20px;
  height: 250px;
}

.content {
  flex: 0 1 100%;
}

.title {
  display: flex;
  font-weight: 300;
  font-size: 36px;
}

.year {
  margin-left: 10px;
  color: $disabledColor;
}

.tvdbLink {
  composes: link from '~Components/Link/Link.css';

  margin-top: -4px;
  margin-left: auto;
  color: $textColor;
}

.tvdbLinkIcon {
  margin-left: 10px;
}

.alreadyExistsIcon {
  margin-left: 10px;
  color: #37bc9b;
}

.overview {
  margin-top: 20px;
}
