.button {
  composes: toolbarButton from '~Components/Page/Toolbar/PageToolbarButton.css';
}

.iconWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.indicatorContainer {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-flex;
}

.enabled {
  color: var(--successColor);
}

.disabled {
  color: var(--dangerColor);
}

.label {
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
}
