.link {
  composes: link from '~Components/Link/Link.css';

  border-bottom: 1px solid var(--borderColor);
  color: var(--textColor);
  font-size: 21px;

  &:hover {
    color: var(--linkHoverColor);
    text-decoration: none;
  }
}

.summary {
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--helpTextColor);
}
