.item {
  border-left: 3px solid transparent;
  color: var(--sidebarColor);
  transition: border-left 0.3s ease-in-out;
}

.isActiveItem {
  border-left: 3px solid var(--themeAlternateBlue);
}

.link {
  display: block;
  padding: 12px 24px;
  color: var(--sidebarColor);

  &:hover,
  &:focus {
    color: var(--themeBlue);
    text-decoration: none;
  }
}

.childLink {
  composes: link;

  padding: 10px 24px;
}

.isActiveLink {
  color: var(--themeAlternateBlue);
}

.isActiveParentLink {
  background-color: var(--sidebarActiveBackgroundColor);
}

.iconContainer {
  display: inline-block;
  margin-right: 7px;
  width: 18px;
  text-align: center;
}

.noIcon {
  margin-left: 25px;
}

.status {
  float: right;
}
