.sidebarContainer {
  flex: 0 0 $sidebarWidth;
  overflow: hidden;
  width: $sidebarWidth;
  background-color: var(--sidebarBackgroundColor);
  transition: transform 300ms ease-in-out;
  transform: translateX(0);
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--sidebarBackgroundColor);
  color: var(--white);
}

.closeContainer {
  display: none;
}

@media only screen and (max-width: $breakpointSmall) {
  .sidebarContainer {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100vh;
  }

  .sidebar {
    position: fixed;
    z-index: 2;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }

  .closeContainer {
    display: flex;
    justify-content: flex-end;
    margin: 0.5vh;
  }
  
  .closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vh;
    height: 2vh;
    border: transparent;
    background-color: initial;
    color: var(--sidebarColor);
    cursor: pointer;
  
    &:hover {
      border: thin;
      background-color: var(--sidebarActiveBackgroundColor);
      color: var(--themeBlue);
      text-decoration: none;
      transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
      transition-property: color, background-color, border-color;
    }
  }
}
