/*
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-size: 30px;
}
*/


#main > .icon-folder-open, .icon-file, .icon-download-alt {
    font-size: 25px;
}

.link-download {
    margin-right: 10px;
}

.file-browser-message {
    text-align: center;
}
