#menu
{
    height: 60px;
    display: inline-block;
    margin-bottom: 10px;
}

#menu ul
{
    margin: 10px 0 0 -30px;
    padding: 5px 0 5px 0;
    list-style: none;
    line-height: normal;
}

#menu li
{
    float: left;
    padding: 5px 15px 2px 10px;
}



#menu a
{
    height: 26px;
    padding: 0px 5px 7px 5px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-size: 21px;
    font-weight: normal;
    vertical-align: middle;
}

#menu a:hover
{
    text-decoration: none;
}

#menu li.current_page_item a
{
    border-bottom: 2px solid;
    border-color: #065EFE;
}


.sub-menu
{
    padding-left: 5px;
    margin: 10px 0 10px 0;
}

.sub-menu li
{
    display: inline;
    list-style-type: circle;
    margin-right: 12px;
    padding-left: 4px;
    padding-top: 2px;
    border-left: 5px solid #85aeff;
    cursor: pointer;
}


.sub-menu a
{
    text-decoration: none;
    font-size: 21px;
    font-family: "Segoe UI Light" , "Open Sans" , "Segoe UI" , sans-serif;
    color: #065EFE;
    font-weight: 300;
    text-transform: lowercase;
}

.t-grid .sub-menu
{
    margin-left: -10px;
    margin-bottom: 0px;
}


#donate a {
    background-color: #065EFE;
    color: #191919;
}