.accent {
    color: #1ba1e2;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.blue {
    color: #1ba1e2;
}

.brown {
    color: #a05000;
}

.green {
    color: #393;
}

.lime {
    color: #8cbf26;
}

.magenta {
    color: #ff0097;
}

.orange {
    color: #f09609;
}

.pink {
    color: #e671b8;
}

.purple {
    color: #a200ff;
}

.red {
    color: #e51400;
}

.teal {
    color: #00aba9;
}

.whitebg {
    background-color: #fff;
}

.blackbg {
    background-color: #000;
}

.bluebg {
    background-color: #1ba1e2;
}

.brownbg {
    background-color: #a05000;
}

.greenbg {
    background-color: #393;
}

.limebg {
    background-color: #8cbf26;
}

.magentabg {
    background-color: #ff0097;
}

.orangebg {
    background-color: #f09609;
}

.pinkbg {
    background-color: #e671b8;
}

.purplebg {
    background-color: #a200ff;
}

.redbg {
    background-color: #e51400;
}

.tealbg {
    background-color: #00aba9;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Roboto-Regular-webfont.woff') format('woff'),url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Roboto-Light-webfont.woff') format('woff'),url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

#headingstyles {
    font-family: "Segoe UI Light","Helvetica Neue",'RobotoLight',"Segoe UI","Segoe WP",sans-serif;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 0px;
    text-transform: lowercase;
}

body {
    font-family: "Segoe UI","Segoe WP","Helvetica Neue",'RobotoRegular',sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light","Helvetica Neue",'RobotoLight',"Segoe UI","Segoe WP",sans-serif;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 0px;
    text-transform: lowercase;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

h4, h5, h6 {
    font-weight: normal;
    text-transform: uppercase;
}

ul.metro-list, ol.metro-list {
    padding: 0;
}

    ul.metro-list li, ol.metro-list li {
        display: block;
        list-style-type: none;
        border-left: solid 30px #1ba1e2;
        height: 20px;
        list-style-position: inside;
        margin: 10px 0;
        padding: 5px;
    }

ul.metro-list {
    overflow: hidden;
}

ol.metro-list {
    text-indent: -25px;
    counter-reset: item;
}

    ol.metro-list li:before {
        color: white;
        margin-right: 25px;
        content: counter(item) " ";
        counter-increment: item;
    }

.tile {
    -webkit-perspective: 0;
    -webkit-transform-style: preserve- 3 d;
    -webkit-transition: -webkit-transform 0.2s;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    opacity: 0.75;
}

    .tile h1, .tile h2, .tile h3, .tile h4, .tile h5, .tile h6 {
        color: #fff;
        -webkit-user-select: none;
    }

    .tile h2 {
        font-size: 1.75em;
        margin-top: -10px;
        margin-left: 0px;
    }

    .tile a:hover {
        text-decoration: none;
    }

    .tile img {
        border: 0;
    }

    .tile:hover {
        opacity: 1;
    }

.tiles {
    clear: both;
}

.tilerow {
    float: left;
    -webkit-perspective: 0;
    -webkit-transform-style: preserve- 3 d;
    -webkit-user-select: none;
}

.one {
    width: 130px;
    height: 130px;
}

.two-h {
    width: 280px;
    height: 130px;
}

.two-v {
    width: 130px;
    height: 280px;
}

.firstcol, .secondcol, .thirdcol, .fourthcol, .fifthcol {
    position: absolute;
}

.secondcol {
    margin-left: 150px;
}

.thirdcol {
    margin-left: 300px;
}

.fourthcol {
    margin-left: 450px;
}

.fifthcol {
    margin-left: 600px;
}

metro-pivot .headers {
    clear: both;
    display: block;
    white-space: nowrap;
}

.metro-pivot .pivot-item h3, .metro-pivot .headers .header {
    font-family: "Segoe UI Light","Helvetica Neue",'RobotoLight',"Segoe UI","Segoe WP",sans-serif;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 0px;
    text-transform: lowercase;
    cursor: pointer;
    display: inline-block;
    font-size: 42px;
    margin-right: 24px;
    padding: 0;
    vertical-align: top;
}

.metro-pivot .headers {
    white-space: nowrap;
    display: block;
    clear: both;
}

    .metro-pivot .pivot-item h3, .metro-pivot .headers .header {
        font-family: "Segoe UI Light","Helvetica Neue",'RobotoLight',"Segoe UI","Segoe WP",sans-serif;
        font-weight: 100;
        margin-top: 5px;
        margin-bottom: 0px;
        text-transform: lowercase;
        font-size: 42px;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        cursor: pointer;
        margin-right: 24px;
    }

.metro-pivot .items {
    position: relative;
}

    .metro-pivot .items .pivotItem {
        display: block;
        white-space: normal;
        text-align: justify;
        width: 100%;
    }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

    audio:not([controls]) {
        display: none;
    }

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover, a:active {
    outline: 0;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button, input {
    *overflow: visible;
    line-height: normal;
}

    button::-moz-focus-inner, input::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

textarea {
    overflow: auto;
    vertical-align: top;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
}

    .container:before, .container:after {
        display: table;
        content: "";
    }

    .container:after {
        clear: both;
    }

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    *zoom: 1;
}

    .container-fluid:before, .container-fluid:after {
        display: table;
        content: "";
    }

    .container-fluid:after {
        clear: both;
    }

.row {
    margin-left: -20px;
    *zoom: 1;
}

    .row:before, .row:after {
        display: table;
        content: "";
    }

    .row:after {
        clear: both;
    }

[class*="span"] {
    float: left;
    margin-left: 20px;
}

.span1 {
    width: 60px;
}

.span2 {
    width: 140px;
}

.span3 {
    width: 220px;
}

.span4 {
    width: 300px;
}

.span5 {
    width: 380px;
}

.span6 {
    width: 460px;
}

.span7 {
    width: 540px;
}

.span8 {
    width: 620px;
}

.span9 {
    width: 700px;
}

.span10 {
    width: 780px;
}

.span11 {
    width: 860px;
}

.span12, .container {
    width: 940px;
}

.offset1 {
    margin-left: 100px;
}

.offset2 {
    margin-left: 180px;
}

.offset3 {
    margin-left: 260px;
}

.offset4 {
    margin-left: 340px;
}

.offset5 {
    margin-left: 420px;
}

.offset6 {
    margin-left: 500px;
}

.offset7 {
    margin-left: 580px;
}

.offset8 {
    margin-left: 660px;
}

.offset9 {
    margin-left: 740px;
}

.offset10 {
    margin-left: 820px;
}

.offset11 {
    margin-left: 900px;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
    }

    .row-fluid:after {
        clear: both;
    }

    .row-fluid > [class*="span"] {
        float: left;
        margin-left: 2.13%;
    }

        .row-fluid > [class*="span"]:first-child {
            margin-left: 0;
        }

    .row-fluid .span1 {
        width: 6.38%;
    }

    .row-fluid .span2 {
        width: 14.89%;
    }

    .row-fluid .span3 {
        width: 23.4%;
    }

    .row-fluid .span4 {
        width: 31.91%;
    }

    .row-fluid .span5 {
        width: 40.43%;
    }

    .row-fluid .span6 {
        width: 48.94%;
    }

    .row-fluid .span7 {
        width: 57.45%;
    }

    .row-fluid .span8 {
        width: 65.96%;
    }

    .row-fluid .span9 {
        width: 74.47%;
    }

    .row-fluid .span10 {
        width: 82.98%;
    }

    .row-fluid .span11 {
        width: 91.49%;
    }

    .row-fluid .span12 {
        width: 100%;
    }

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .progress .bar {
        width: 0%;
        height: 18px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #5ebdeb;
        background-image: -moz-linear-gradient(top, #8bd0f1, #1ba1e2);
        background-image: -ms-linear-gradient(top, #8bd0f1, #1ba1e2);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8bd0f1), to(#1ba1e2));
        background-image: -webkit-linear-gradient(top, #8bd0f1, #1ba1e2);
        background-image: -o-linear-gradient(top, #8bd0f1, #1ba1e2);
        background-image: linear-gradient(top, #8bd0f1, #1ba1e2);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bd0f1', endColorstr='#1ba1e2', GradientType=0);
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: width 0.6s ease;
        -moz-transition: width 0.6s ease;
        -ms-transition: width 0.6s ease;
        -o-transition: width 0.6s ease;
        transition: width 0.6s ease;
    }

.progress-striped .bar {
    background-color: #1ba1e2;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar {
    background-color: #dd514c;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

.progress-danger.progress-striped .bar {
    background-color: #ee5f5b;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar {
    background-color: #5eb95e;
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}

.progress-success.progress-striped .bar {
    background-color: #62c462;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar {
    background-color: #4bb1cf;
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}

.progress-info.progress-striped .bar {
    background-color: #5bc0de;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

a {
    color: #1ba1e2;
    text-decoration: none;
}

    a:hover {
        color: #13709e;
        text-decoration: underline;
    }

pre {
    padding: 15px;
    border: 1px solid #aaa;
    background: #fafafa;
}

code {
    background: #fafafa;
    border: 1px solid #aaa;
    padding-left: 5px;
    padding-right: 5px;
}

.clear {
    clear: both;
}
