.stat-item {
    background: whiteSmoke;
    font-weight: 100;
}


.user-stats {
    margin-bottom: 30px;
}

.stat-value {
    font-size: 50px;
    padding-bottom: 20px;
    padding-left: 5px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
}

.stat-size {
    color: #1081CD;
}

.stat-count {
    color: #8EBD40;
}

.stat-last-backup {
    color: #988CC3;
}

.stat-lable {
    color: #57606B;
    margin-bottom: 15px;
    padding-left: 5px;

}
