<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <section name="moduleProviders" allowLocation="false" allowDefinition="MachineToWebRoot" />
        <section name="modules" allowDefinition="MachineToApplication" />

        <sectionGroup name="system.webServer">
            <sectionGroup name="management">
                <section name="authorization" allowDefinition="MachineToWebRoot" />
                <section name="dbManager" allowDefinition="MachineToWebRoot" />
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <system.webServer>
        <management>

            <authorization defaultProvider="ConfigurationAuthorizationProvider">
                <providers>
                    <add name="ConfigurationAuthorizationProvider" type="Microsoft.WebMatrix.Server.ConfigurationAuthorizationProvider, Microsoft.WebMatrix, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                </providers>
            </authorization>

        </management>
    </system.webServer>

    <system.webServer>
        <management>
            <dbManager allowClientConnectionStrings="true">
                <DBProviders>
                    <provider name="SQL Server 2005/2008" providerName="System.Data.SqlClient" type="Microsoft.WebMatrix.DatabaseManager.SqlDatabase.SqlDatabaseProvider, Microsoft.WebMatrix.DatabaseManager.SqlDatabase, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                    <provider name="MySql 5.x, 6.x" providerName="MySql.Data.MySqlClient" type="Microsoft.WebMatrix.DatabaseManager.MySqlDatabase.MySqlDatabaseProvider, Microsoft.WebMatrix.DatabaseManager.MySqlDatabase, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                    <provider name="SQL Server Compact 4.0" providerName="System.Data.SqlServerCe.4.0" type="Microsoft.WebMatrix.DatabaseManager.SqlCeDatabase.SqlCeDatabaseProvider, Microsoft.WebMatrix.DatabaseManager.SqlCeDatabase, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                </DBProviders>
            </dbManager>
        </management>
    </system.webServer>

    <moduleProviders>

        <!-- IIS Modules -->
        <add name="WebObjects" type="Microsoft.WebMatrix.Iis.WebObjects.WebObjectsModuleProvider, Microsoft.WebMatrix.Iis, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

        <!-- WebMatrix Modules -->
        <add name="WebMatrixServerManagement" type="Microsoft.WebMatrix.ServerManagement.ServerManagementModuleProvider, Microsoft.WebMatrix.ServerManagement, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add name="SEO" type="Microsoft.WebMatrix.SEO.SEOModuleProvider, Microsoft.WebMatrix.SEO, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add name="Gallery" type="Microsoft.WebMatrix.Gallery.GalleryModuleProvider, Microsoft.WebMatrix.Gallery, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add name="Database" type="Microsoft.WebMatrix.DatabaseManager.DBManagerModuleProvider, Microsoft.WebMatrix.DatabaseManager, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="Deployment" type="Microsoft.WebMatrix.Deployment.WebMatrixDeployModuleProvider, Microsoft.WebMatrix.Deployment, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="EditorCore" type="Microsoft.WebMatrix.Editor.EditorModuleProvider, Microsoft.WebMatrix.Editor, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add name="FileEditor" type="Microsoft.WebMatrix.FileEditor.FileEditorModuleProvider, Microsoft.WebMatrix.FileEditorServer, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add name="IISExpress" type="Microsoft.WebMatrix.IisExpressModule.IisExpressModuleProvider, Microsoft.WebMatrix.IisExpressModule, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="CSSParser" type="Microsoft.CSS.Editor.CssIntellisenseModuleProvider, Microsoft.WebMatrix.Css.SchemaParser, Version=7.9.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </moduleProviders>

</configuration>
