<td class="col-md-10 x-folder folder-path">
   {{path}}
</td>
<td class="col-md-3 x-folder folder-free-space">
    <span>{{Bytes freeSpace}}</span>
</td>
<td class="col-md-1">
    <i class="icon-sonarr-delete x-delete"></i>
</td>
