.scroller {
  /* Placeholder */
}

.thumb {
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $scrollbarBackgroundColor;
  background-clip: padding-box;

  &:hover {
    background-color: $scrollbarHoverBackgroundColor;
  }
}
