.scroller {
  /* Placeholder */
}

.track {
  /* Placeholder */
}

.thumb {
  min-height: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--scrollbarBackgroundColor);
  background-clip: padding-box;

  &:hover {
    background-color: var(--scrollbarHoverBackgroundColor);
  }
}
