.scroller {
  @add-mixin scrollbar;
  @add-mixin scrollbarTrack;
  @add-mixin scrollbarThumb;
  -webkit-overflow-scrolling: touch;

  min-width: 0;
  overscroll-behavior: contain;
}

.scroller:focus-visible {
  outline: 2px solid var(--inputFocusBorderColor);
  outline-offset: -2px;
}

.none {
  overflow: visible;
}

.vertical {
  overflow-x: hidden;
  overflow-y: scroll;

  &.autoScroll {
    overflow-y: auto;
  }
}

.horizontal {
  overflow-x: scroll;
  overflow-y: hidden;

  &.autoScroll {
    overflow-x: auto;
  }
}

.both {
  overflow: scroll;

  &.autoScroll {
    overflow: auto;
  }
}
