<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Selenium.WebDriver" version="2.25.1" targetFramework="net40" />
</packages>