<span class="col-sm-1 help-inline">
    {{#if helpText}}
        <i class="icon-nd-form-info" title="{{helpText}}"/>
    {{/if}}
    {{#if helpLink}}
        <a href="{{helpLink}}" class="help-link"><i class="icon-info-sign"/></a>
    {{/if}}
</span>
