<div class="form-group {{#if advanced}}advanced-setting{{/if}}">
    <label class="col-sm-3 control-label">{{label}}</label>

    <div class="col-sm-5">
        <input type="url" name="fields.{{order}}.value" validation-name="{{name}}" spellcheck="false" class="form-control"/>
    </div>
    {{> FormHelpPartial}}
</div>
