<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="FluentAssertions" version="4.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>