<div id="x-toolbar"></div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">Season Pass allows you to quickly change the monitored status of seasons for all your series in one place</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="x-series"></div>
    </div>
</div>