<div class="series-editor-footer">
    <div class="row">
        <div class="form-group col-md-2">
            <label>Monitor</label>

            <select class="form-control x-action x-monitor">
                <option value="all">All</option>
                <option value="future">Future</option>
                <option value="missing">Missing</option>
                <option value="existing">Existing</option>
                <option value="first">First Season</option>
                <option value="latest">Latest Season</option>
                <option value="none">None</option>
            </select>
        </div>

        <div class="form-group col-md-3 actions">
            <label class="x-selected-count">0 series selected</label>
            <div>
                <button class="btn btn-primary x-action x-update">Update Selected Series</button>
                <span class="indicator x-indicator"><i class="icon-sonarr-spinner fa-spin"></i></span>
            </div>
        </div>
    </div>
</div>
