@import "/content/prefixer";

.backgrid-paginator {
  text-align            : center;
  box-sizing            : border-box;
  border-top            : none;
  .box-sizing(border-box);
  .border-radios(0 0 4px 4px);

  ul {
    display  : inline-block;
    *display : inline;
    margin   : 5px 0;
    *zoom    : 1;

    li {
      display : inline;

      i, span {
        float           : left;
        width           : 30px;
        height          : 30px;
        padding         : 0;
        line-height     : 30px;
        text-decoration : none;
      }
    }

    .active {
      i, span {
        background-color : #f5f5f5;
        color            : #999999;
        cursor           : default;
      }
    }

    .disabled {
      i, span {
        color  : #999999;
        cursor : default;
      }
    }
  }
}
