<div class="form-horizontal">
    <fieldset>
        <legend>Calendar</legend>

        <div class="form-group">
            <label class="col-sm-3 control-label">First Day of Week</label>

            <div class="col-sm-4">
                <select name="firstDayOfWeek" class="form-control">
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Week Column Header</label>

            <div class="col-sm-1 col-sm-push-4 help-inline">
                <i class="icon-sonarr-form-info" title="Shown above each column when week is the active view"/>
            </div>

            <div class="col-sm-4 col-sm-pull-1">
                <select name="calendarWeekColumnHeader" class="form-control">
                    <option value="ddd M/D">Tue 3/25</option>
                    <option value="ddd MM/DD">Tue 03/25</option>
                    <option value="ddd D/M">Tue 25/3</option>
                    <option value="ddd DD/MM">Tue 25/03</option>
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Dates</legend>

        <div class="form-group">
            <label class="col-sm-3 control-label">Short Date Format</label>

            <div class="col-sm-4">
                <select name="shortDateFormat" class="form-control">
                    <option value="MMM D YYYY">Mar 5 2014</option>
                    <option value="DD MMM YYYY">5 Mar 2014</option>
                    <option value="MM/D/YYYY">03/5/2014</option>
                    <option value="MM/DD/YYYY">03/05/2014</option>
                    <option value="DD/MM/YYYY">25/03/2014</option>
                    <option value="YYYY-MM-DD">2014-03-05</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Long Date Format</label>

            <div class="col-sm-4">
                <select name="longDateFormat" class="form-control">
                    <option value="dddd, MMMM D YYYY">Tuesday, March 25, 2014</option>
                    <option value="dddd, D MMMM YYYY">Tuesday, 25 March, 2014</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Time Format</label>

            <div class="col-sm-4">
                <select name="timeFormat" class="form-control">
                    <option value="h(:mm)a">5pm/5:30pm</option>
                    <option value="HH:mm">17:00/17:30</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Show Relative Dates</label>

            <div class="col-sm-8">
                <div class="input-group">
                    <label class="checkbox toggle well">
                        <input type="checkbox" name="showRelativeDates"/>

                        <p>
                            <span>Yes</span>
                            <span>No</span>
                        </p>

                        <div class="btn btn-primary slide-button"/>
                    </label>

                    <span class="help-inline-checkbox">
                        <i class="icon-sonarr-form-info" title="Show relative (Today/Yesterday/etc) or absolute dates"/>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Style</legend>

        <div class="form-group">
            <label class="col-sm-3 control-label">Enable Color-Impaired mode</label>

            <div class="col-sm-8">
                <div class="input-group">
                    <label class="checkbox toggle well">
                        <input type="checkbox" name="enableColorImpairedMode" />

                        <p>
                            <span>Yes</span>
                            <span>No</span>
                        </p>

                        <div class="btn btn-primary slide-button"/>
                    </label>

                    <span class="help-inline-checkbox">
                        <i class="icon-sonarr-form-info" title="Altered style to allow color-impaired users to better distinguish color coded information"/>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
</div>
