<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Indexer</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            Sonarr supports any indexer that uses the Newznab standard, as well as other indexers listed below.<br/>
            For more information on the individual indexers, clink on the info buttons.
        </div>
        <div class="add-indexer add-thingies">
            <ul class="items"></ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
