@define-mixin scrollbar {
  scrollbar-color: var(--scrollbarBackgroundColor) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

@define-mixin scrollbarTrack {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@define-mixin scrollbarThumb {
  &::-webkit-scrollbar-thumb {
    min-height: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--scrollbarBackgroundColor);
    background-clip: padding-box;

    &:hover {
      background-color: var(--scrollbarHoverBackgroundColor);
    }
  }
}
