@define-mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

@define-mixin scrollbarTrack {
  &&::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@define-mixin scrollbarThumb {
  &::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: $scrollbarBackgroundColor;
    background-clip: padding-box;

    &:hover {
      background-color: $scrollbarHoverBackgroundColor;
    }
  }
}
